[2020-02-02 19:32] mkrupczak3 opened #3 "Wat"
![wat](https://vignette.wikia.nocookie.net/aftertheflash/images/9/90/Wat_png_by_katysz_by_katysz-d6j542d.png/revision/latest?cb=20150729020554 "")

So, is this basically a rust-implemented kubelet variant for running server-side WASM code? I am confused.

[2020-02-28 20:17] bketelsen opened #5 "Lease creation fails"
[code]

[2020-02-28 20:19] bketelsen opened #6 "Update example wasm & signing keys"
[code]

[2020-02-28 20:21] bketelsen opened #7 "add runtime config to determine which DLL to load for host"
Code assumes `.dylib`, but needs to be updated to load linux `.so` if running on linux host.

[2020-02-28 20:25] thomastaylor312 opened #8 "Add support for multiple runtimes"
Make sure we support both WASI and waSCC runtimes

[2020-03-02 17:20] thomastaylor312 opened #10 "Setup actions pipelines"
We are currently missing automated testing in the project. Add a GH action pipeline for automated testing

[2020-03-02 18:01] #10 closed

[2020-03-02 20:52] technosophos commented on #8
After reading lots of Virtual Kubelet, I wanted to sidestep a design hassle I saw there. In VK, to start a project, you basically clone the Virtual Kubelet repo and then start rewriting things to fit your needs. I wanted to make that a little more library-like, so I abstracted all of the backend-specific logic into the `Provider` trait.

Essentially, writing a new Krustlet backend consists entirel

[2020-03-02 20:54] technosophos commented on #3
Yes. With the WASI or waSCC extensions.

[2020-03-02 20:54] #3 closed

[2020-03-02 21:07] squillace commented on #8
is wasm3 out of the realm of possibility here? I'd love to be able to drop a kubelet in smaller envrionments.

[2020-03-02 21:12] technosophos commented on #8
wasm3, lucet, wasmer.... there are several other runtimes that we currently should at least be open to supporting, even if we can't today

[2020-03-02 21:14] technosophos commented on #5
What Kubernetes distro are you using? I think I mainly tested on Kind

[2020-03-02 21:17] thomastaylor312 commented on #8
We decided to go the route of having separate kubelets for each type

[2020-03-02 21:26] squillace commented on #8
Not a problem. I'd like to support for our current work wasm3, wasmtime, wascc, and consider lucet (though I was of the impression that it was in the process of coalescing with wasmtime...)

[2020-03-02 21:27] squillace commented on #8
I leave it in your capable but resource-constrained hands.

[2020-03-02 21:35] technosophos commented on #5
THat date gets set in `node.rs`:

[code]

[2020-03-02 21:42] technosophos opened #13 "Listen on all namespaces"
When I first created Krustlet, I had it only listening for Pod events on one namespace (since that worked fine for testing). I think this should listen on all namespaces. See `kubelet.rs`

[2020-03-02 22:17] bketelsen commented on #5
It was whatever the default on AKS is as of yesterday.   I’ll look in a bit.

Brian

On Mar 2, 2020, at 4:14 PM, Matt Butcher <notifications@github.com> wrote:

﻿

What Kubernetes distro are you using? I think I mainly tested on Kind

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/deislabs/krustlet/issues/5?email_source=

[2020-03-03 02:08] syrusakbary commented on #8
This is great! Let us know if we can be of any help (I work at Wasmer) 🙂

[2020-03-03 16:54] technosophos commented on #8
Thanks! As we settle into a pattern, I think we'll know how to easily add new runtimes.

[2020-03-03 17:07] thomastaylor312 opened #18 "Handle environment variables in providers"
Make sure they can handle plain values and `value_from` specifications

[2020-03-03 17:08] thomastaylor312 opened #19 "Handle volume mounting for all providers"
HostPath volumes should be easy. If other mounted volumes from cloud providers are more difficult, that can be broken out into a separate issue

[2020-03-03 17:30] thomastaylor312 commented on #18
Oops, missed this was already implemented

[2020-03-03 17:30] #18 closed

[2020-03-03 18:17] bketelsen commented on #5
Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.8", GitCommit:"c52f59bbba5fbf21fbb18e9a06f96e563fe4c20a", GitTreeState:"clean", BuildDate:"2020-01-31T20:00:26Z", GoVersion:"go1.12.10", Compiler:"gc", Platform:"linux/amd64"}

[2020-03-03 20:50] radu-matei opened #20 "Windows support"
Currently, trying to run the build on a clean Windows machine fails (see [action run](https://github.com/radu-matei/krustlet/runs/481109377) and [workflow definition](https://github.com/radu-matei/krustlet/actions/runs/48502584/workflow)):

[code]

Note that the static compilation of the OCI library might also affect the ability to support Windows.

[2020-03-03 23:02] thomastaylor312 opened #21 "Making things Async"
Bringing up the discussion question of: Should we make kubelet and all providers async? This would involve using tokio as it is the underlying runtime for wasmtime as well.

[2020-03-03 23:06] thomastaylor312 commented on #7
Maybe solved by #17 as it has conditional loading for object files

[2020-03-03 23:07] thomastaylor312 opened #22 "Implement logging for wascc"
We should be able to return logs from a wascc process

[2020-03-03 23:07] thomastaylor312 opened #23 "Implement logging for WASI"
Logging is all set up, but it is not glued together with the log method for the provider

[2020-03-03 23:09] thomastaylor312 opened #24 "Implement multiple containers in pods for all runtimes"
Right now we only pull the first container from the containers array. We need to pull all containers and start a process for each of them

[2020-03-03 23:11] thomastaylor312 opened #25 "Implement init containers for all runtimes"
Each pod's init containers should be run in order and to completion before starting the others. We likely want to finish discussion on #21 before we do this as this would be a blocking operation as we wait for each container

[2020-03-03 23:52] thomastaylor312 opened #26 "Node configuration"
As it stands right now, the only thing we can configure with node details is the architecture (as implemented in #17). What kind of configuration would we like to pass to the node when it registers itself with the cluster?

[2020-03-04 00:27] technosophos commented on #24
One thing I think we might have learned from CRI is that the `Provider` needs to take responsibility for fetching the image. And this particular feature is one where the reasoning really comes to the foreground.

In the OCI container model, multiple images are each run separately, and can connect to each other via networking.

I am not sure this is the way co-execution is going to work in the WASM

[2020-03-04 04:18] #8 closed

[2020-03-04 13:57] rylev commented on #21
I am unsure whether we would benefit from the added complexity of making things async. It does make some sense in certain parts of the code. For instance, if we don't make things async we would need to maintain our own thread pool for pulling all the wasm binaries in a given pod (as specified in #24).

However, #25 can easily be modeled as blocking calls on a worker thread. Given that we don't hav

[2020-03-04 17:06] thomastaylor312 commented on #21
I like that idea. Is tokio the best choice for that here?

[2020-03-04 17:23] rylev commented on #21
Given that we will already need a runtime for `kube`, we should just stick to using tokio and not use a custom thread pool.

[2020-03-04 17:24] bketelsen opened #30 "Update to wascc-host 0.5.0"

[2020-03-04 20:57] bketelsen commented on #5
Now that we've updated the runtimes I can't reproduce this.  Will hold off a bit, but marking this as potentially solved.

[2020-03-04 20:58] thomastaylor312 opened #33 "Fully implement kubelet logs path"
The current implementation in the `get_container_logs` function is incomplete. This should parse the proper data from the request and call the provider

[2020-03-04 21:00] thomastaylor312 opened #34 "Proper node configuration"
Right now, Krustlet uses a bunch of hardcoded values for creating the `Node` object in Kubernetes (such as the IP address and hostname). We should follow similar patterns to normal kubelet for configuring these values, so part of this task will be investigating how kubelet does it in mainline Kubernetes.

[2020-03-04 21:09] bketelsen opened #36 "Update echo provider, actor & tests"
rebuild the echo provider & actor with the new wascc SDK

[2020-03-04 21:10] #30 closed

[2020-03-04 23:18] technosophos commented on #34
Okay, so I chatted with some of the AKS Engine team about this. They configure via the `--address` flag on Kubelet. There is a "standard" configuration file format for Kubelet documented [here](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubelet/config/v1beta1/types.go), but it is definitely a lot of overhead.

Relevant references:

- Flags for kubelet: https://kubernet

[2020-03-04 23:19] technosophos commented on #34
Note that using `0.0.0.0` is the standard practice there.

[2020-03-04 23:46] technosophos opened #38 "Dockerfile broken"
After the reorganization of the source tree, the Dockerfile is broken.

To reproduce: `just dockerize`

[code]

[2020-03-05 00:31] thomastaylor312 commented on #34
I also went and dug through the Kubelet codebase. The initial node configuration is found [here](https://github.com/kubernetes/kubernetes/blob/5ceddce53947ede00466f29d4ab66e88ffbd4fbd/pkg/kubelet/kubelet_node_status.go#L219) and you can basically override any of the IP and hostname values using a flag. The default node IP address comes from the system using the method found here: https://github.co

[2020-03-05 09:46] #38 closed

[2020-03-05 18:17] #23 closed

[2020-03-05 20:26] peterhuene commented on #5
I'm seeing this error with current master and docker desktop's k8s (version `1.15.5`):

[code]

[2020-03-05 20:51] technosophos commented on #5
@peterhuene and that was on the code from `master`? I had been wondering if we fixed the problem merely by updating the Kubernetes API library, but now I am thinking that is not the case. I'm back to thinking there must be some missed expectations of the format for the date stamp.

[2020-03-05 20:53] peterhuene commented on #5
Yep, my HEAD is 88f7fc19ee7aac38a977aa18d74fc5548c1b2416.

[2020-03-05 20:57] peterhuene commented on #5
After some restarts, it seemed to successfully acquire a lease, so my guess is it happened to work when now's microseconds were above 100000 so there were enough digits to parse (I'm assuming from my previous time above that it was omitting the leading 0s), perhaps?

[2020-03-05 20:59] peterhuene commented on #5
And perhaps Brian's original issue was the current time was being sent with nanoseconds?

[2020-03-05 21:12] technosophos commented on #5
Ah! I think @peterhuene is right.

Here's the Kube OpenAPI section responsible for that timestamp: https://github.com/Arnavion/k8s-openapi/blob/2192d65dcbc4ae0b4f1eec7d8669a97223261f04/src/v1_16/apimachinery/pkg/apis/meta/v1/micro_time.rs

And in the Go implementation: https://github.com/kubernetes/apimachinery/blob/b789a6e6b31f49e34cd0b0876791677a85bbb375/pkg/apis/meta/v1/micro_time.go

The Go ti

[2020-03-05 21:15] peterhuene commented on #5
I think the problem might lie in the `k8s-openapi` crate's `MicroTime`'s serialization, which is delegating directly to `DateTime<Utc>` for serialization.  I think `DateTime<Utc>` formats itself as if `to_rfc3339` was called, which is going to format with `SecondsFormat::AutoSi`, which will use 3, 6, or 9 digits depending on whatever the nanoseconds is.

I think the `k8s-openapi` needs to be fixed

[2020-03-05 21:25] peterhuene commented on #5
I'll file a bug upstream on `k8s-openapi`, but I think we should probably manually serialize the lease spec until that fix is made.

[2020-03-05 23:54] technosophos opened #42 "Implement a bare minimum OCI Registry pull client"
The only complete OCI Registry client I have found is written in Go. While we've had luck linking that into Rust, I think we might be able to implement a minimal pull mode _specifically_ for fetching WASM modules out of an OCI registry.

Out of scope for this minimal first version:

- push
- multi-layers (unless we find them necessary)
- TUF

[2020-03-06 01:31] radu-matei commented on #42
The tag we are passing will eventually point to an OCI manifest similar to:

[code]

So for reference, the only media types this minimal library will need to handle are:

- `application/vnd.wasm.config.v1+json` for the manifest
- `application/vnd.wasm.content.layer.v1+wasm` for the actual module

[2020-03-06 16:51] thomastaylor312 commented on #21
@rylev was there other work besides #40 that needs doing before we close this?

[2020-03-06 17:43] bacongobbler commented on #13
After diving into the kubelet code, it looks like it's listening for pods across all namespaces. The pod informer listens for any pod events across all namespaces, so we can pull out some of that namespaced code.

[2020-03-06 20:19] #13 closed

[2020-03-06 20:30] thomastaylor312 opened #44 "Use https for kubelet server"
Looks like the default when running `kubectl logs` is `https`:
[code]

We need to implement https support for the kubelet server

[2020-03-09 10:39] rylev commented on #21
@thomastaylor312 we should do another pass over the code to make sure we're not blocking anywhere. We can either keep this opened until that's done or create another issue that's more specific.

[2020-03-09 15:34] rylev opened #46 "Are the optional fields on Kubernetes API objects properly handled?"
Because of the very loose nature of Kubernetes API definitions when it comes to nullability, the `k8s-openapi` crate wraps all fields in optional. We are currently handling this by generously using `unwrap_or_default` on the fields. Is this correct? Are there any times where fields not being set would be a fatal error or even a recoverable error?

[2020-03-09 16:58] technosophos commented on #46
There are some fields that are "required" but still marked as optional throughoutt the k8s API. The ones I know of are:

- `kind`
- `metadata`
- `metadata.name`

Oddly enough, while the "group, version, kind" pattern Kubernetes uses suggests that `apiVersion` is a required filed, it is not in all cases required. (This is super weird, IMO, but the Go Kubernetes libraries support this behavior). It

[2020-03-09 21:55] #34 closed

[2020-03-09 22:05] thomastaylor312 commented on #46
I am pretty sure container names and image names are required as well. Kubernetes should be handling the validation so pod objects we get from the informer should be valid, but I never know for sure

[2020-03-09 22:06] thomastaylor312 commented on #26
Closed in #45

[2020-03-09 22:06] #26 closed

[2020-03-09 23:02] thomastaylor312 opened #49 "Better error handling for logs"
Right now the error returned to the user with `kubectl logs` if something fails during the call to `Provider.logs` is always "Not Implemented." It should be smarter and return the proper error code and a useful message

[2020-03-09 23:04] thomastaylor312 opened #50 "Better path parsing and error handling for the kubelet server"
Right now we just use a basic match to route the requests. We should return things like "Method Not Allowed" if the wrong HTTP method is used and do some more checks for invalid paths

[2020-03-10 12:54] #21 closed

[2020-03-10 13:54] thomastaylor312 opened #52 "Move from failure to anyhow"
We agreed awhile back that we wanted to switch to the anyhow crate over the failure crate. This will need to be done in all of our crates simultaneously to avoid error conversions or other conflicts

[2020-03-10 16:54] #33 closed

[2020-03-10 21:00] bacongobbler commented on #42
Hey! Has anyone taken this one on? Happy to join in on the fun.

[2020-03-10 22:58] #24 closed

[2020-03-12 00:27] thomastaylor312 opened #61 "Get Status from provider"
Right now each provider updates the pod status itself. This should be done in the Kubelet logic by calling the provider's `status` method. ~Also, status should return an array of container statuses that should be set on the pod as well~

[2020-03-12 17:21] thomastaylor312 commented on #61
I am taking care of adding container statuses to the Status object in #62

[2020-03-12 22:53] bacongobbler opened #65 "bug: feature flags not respected"
With something listening on port 3000 and specifying a different port, krustlet-wascc and krustlet-wasi both seem to ignore these parameters, reverting to the default values.

[code]

[code]

The same issue appears when using environment variables.

[code]

[2020-03-13 16:08] #36 closed

[2020-03-13 16:12] rylev commented on #44
Fixed by #64

[2020-03-13 16:12] #44 closed

[2020-03-13 16:17] rylev commented on #65
This is fixed by #64

[2020-03-13 16:17] #65 closed

[2020-03-13 16:51] rylev commented on #42
This was implemented in #48

[2020-03-13 16:59] rylev commented on #5
This is no longer an issue

[2020-03-13 16:59] #5 closed

[2020-03-13 17:02] #6 closed

[2020-03-13 18:13] rylev commented on #7
This is done.

[2020-03-13 18:13] #7 closed

[2020-03-13 18:18] radu-matei commented on #42
Not quite, as #48 only pulls the _manifest_ of the artifact, and not the artifact  itself.

We still need to parse the manifest and download the layer corresponding to the module.

[2020-03-13 20:21] technosophos commented on #42
I do have a PR that I hope to get finished up that has the blob pull as well. Just learning the Stream stuff so I do it right.

[2020-03-16 11:17] #52 closed

[2020-03-16 14:03] rylev commented on #46
The fields currently being used are:
## Pod
### metadata
* `pod.metadata.name`
* `pod.metadata.namespace`
* `pod.metadata.labels`
* `pod.metadata.annotations`
### Status
* `pod.status`
* `pod.status.host_ip`
* `pod.status.pod_ip`
### Spec
* `pod.spec.service_account_name`
* `pod.spec.containers`
* `pod.spec.node_selector`

## Node
### Metadata
* `node.metadata.uid`

Do we have a good idea on which

[2020-03-16 14:22] thomastaylor312 commented on #46
My problem with having a custom type is that we’d have to update it with every field we’d want to use when we started using it. For example we are going to add stuff to the status object soon. If we wanted to abstract away all the unwrapping, we could create a wrapper type with helper methods or run the pod through a validator beforehand

[2020-03-16 14:28] thomastaylor312 commented on #46
The other thing to note with the fields you’ve mentioned is that many of them are optional to a user creating the pod (pretty much everything but name and containers in the list above), but the API will add almost all of the rest of them by default. I believe we are only getting valid pods not missing fields because the informer is getting them from the API, but I don’t know about the edge cases

[2020-03-16 14:57] thomastaylor312 commented on #61
I think I have a good initial way for doing this. Going to give it a whirl and see what people think

[2020-03-16 20:12] technosophos opened #75 "OCI Registry: Support HTTP (not just HTTPS)"
Some registries need HTTP only. Right now, HTTPS is hard-coded.

[2020-03-16 20:17] technosophos opened #76 "OCI Registry: Add top-level `pull` method"
RIght now, to use the OCI registry, you need to create a registry, then auth, then pull the manifest, then open a destination location, and fetch each layer.

We should have a top-level `pull()` function that takes an image and some kind of "where to store stuff" object, and can do the entire OCI thing.

[2020-03-17 13:32] rylev commented on #46
This is largely addressed by #73. With wrapping the K8s pod type we can at least making accessing the fields more convenient.

[2020-03-17 21:54] bacongobbler opened #79 "bug(wascc): panicked on an `Err` value: Error(HostCallFailure("bad dispatch")"
Running `just test-e2e` on master displays the following error from the wascc provider:

[code]

[2020-03-17 21:56] bacongobbler commented on #79
Hmm... Looking at the error more closely, this looks like an error coming upstream from [`wascc-host`](https://github.com/wascc/wascc-host).

[2020-03-18 13:08] rylev commented on #79
I can't seem to reproduce this.

[2020-03-18 14:57] bacongobbler commented on #79
Can't reproduce anymore either... Weird! Will close for now

[2020-03-18 14:57] #79 closed

[2020-03-19 21:48] thomastaylor312 opened #84 "hello-wasi demo"
We need a more fully featured demo application for the WASI provider. This example should have the code we use to compile the module and a pod spec that loads user specified env vars, and env vars from the downward API/config maps/ secrets. These env vars should be printed out and then retrieved via `kubectl logs`

[2020-03-19 21:49] thomastaylor312 opened #85 "hello-wascc demo"
We need a more fully featured demo application for the wasCC provider. This example should have the code we use to compile the module and a pod spec that loads user specified env vars, and env vars from the downward API/config maps/ secrets. These env vars should be printed out via an http request to the pod

[2020-03-19 21:50] thomastaylor312 opened #86 "Create instructions for running Krustlet locally with KinD"
We should have detailed instructions for configuring and using Krustlet locally with KinD

[2020-03-19 21:51] thomastaylor312 opened #87 "Create instructions for running Krustlet locally with Minikube"
We should have detailed instructions for configuring and using Krustlet locally with Minikube

[2020-03-19 21:52] thomastaylor312 opened #88 "Create instructions for running a Krustlet node with AKS"
We should have detailed instructions for configuring and using Krustlet as an AKS node. This first set of instructions does not need to be a fully production ready node (as the project itself isn't ready for full production yet either). Learning how to do it with AKS should make it easy for us to write instructions for other Kubernetes providers

[2020-03-19 21:59] bacongobbler opened #89 "write a github action to upload compiled assets"
To prepare for the 0.1.0 release, we should set up a post-merge github action to produce a package containing krustlet, the README and the LICENSE file.

https://help.github.com/en/actions/publishing-packages-with-github-actions/about-packaging-with-github-actions

https://help.github.com/en/packages/publishing-and-managing-packages/about-github-packages

Or we can use my github action and upload

[2020-03-19 22:01] #61 closed

[2020-03-19 22:07] thomastaylor312 commented on #89
We should also make sure this publishes the crates to crates.io

[2020-03-20 15:43] thomastaylor312 commented on #46
@rylev I think we can close this for now as we've addressed it as much as we need to

[2020-03-20 15:59] #76 closed

[2020-03-20 16:22] #46 closed

[2020-03-20 16:38] #75 closed

[2020-03-23 12:48] rylev opened #95 "Use non-hardcoded modules in wascc-provider"
We are currently using a [hard coded WASM module](https://github.com/deislabs/krustlet/blob/master/crates/wascc-provider/src/lib.rs#L103) in the wascc-provider. This should be replaced with a module store that fetches the module if it's not there and returns the module from a cache.

[2020-03-23 12:49] rylev opened #96 "Use non-hardcoded modules in wasi-provider"
We are currently using a [hard coded WASM module](https://github.com/deislabs/krustlet/blob/master/crates/wascc-provider/src/lib.rs#L103) in the wasi-provider. This should be replaced with a module store that fetches the module if it's not there and returns the module from a cache.

[2020-03-23 14:43] autodidaddict commented on #95
Let me know if you think Gantry would work as a module store here, and if not, if there's something that can be added to Gantry to make it work.

[2020-03-23 21:45] #96 closed

[2020-03-24 18:19] thomastaylor312 opened #100 "Create wascc demo in Rust"
This example should have the code we use to compile the module and a pod spec that loads user specified env vars, and env vars from the downward API/config maps/secrets. These env vars should be printed out via an http request to the pod

[2020-03-24 18:20] thomastaylor312 opened #101 "Create wascc demo in C or C++"
This example should have the code we use to compile the module and a pod spec that loads user specified env vars, and env vars from the downward API/config maps/secrets. These env vars should be printed out via an http request to the pod

[2020-03-24 18:21] thomastaylor312 opened #102 "Create wascc demo in AssemblyScript"
This example should have the code we use to compile the module and a pod spec that loads user specified env vars, and env vars from the downward API/config maps/secrets. These env vars should be printed out via an http request to the pod

[2020-03-24 18:22] thomastaylor312 commented on #85
Superseded by #100, #101, #102

[2020-03-24 18:22] #85 closed

[2020-03-24 18:23] thomastaylor312 opened #103 "Create wasi demo in Rust"
This example should have the code we use to compile the module and a pod spec that loads user specified env vars, and env vars from the downward API/config maps/secrets. These env vars should be printed out and then retrieved via kubectl logs

[2020-03-24 18:24] thomastaylor312 opened #104 "Create wasi demo in C or C++"
This example should have the code we use to compile the module and a pod spec that loads user specified env vars, and env vars from the downward API/config maps/secrets. These env vars should be printed out and then retrieved via kubectl logs

[2020-03-24 18:25] thomastaylor312 opened #105 "Create wasi demo in AssemblyScript"
This example should have the code we use to compile the module and a pod spec that loads user specified env vars, and env vars from the downward API/config maps/secrets. These env vars should be printed out and then retrieved via kubectl logs

[2020-03-24 18:26] thomastaylor312 commented on #84
Superseded by #103, #104, #105

[2020-03-24 18:26] #84 closed

[2020-03-24 20:23] #103 closed

[2020-03-24 20:37] bacongobbler opened #107 "Create a team cargo account"
For the github action, we're currently using a personal token to release krustlet to crates.io. We should create a team account and use that instead.

[2020-03-24 22:34] #89 closed

[2020-03-24 22:56] bacongobbler opened #109 "investigate how to test github actions"
I've seen tools coming out like [act](https://github.com/nektos/act) where you can simulate an event payload to test your github actions locally. To prevent cases like #108, it'd be great to describe a good workflow for testing out your changes to an action and document it as part of [the developer guide](https://github.com/deislabs/krustlet/blob/master/docs/community/developers.md).

Opening this

[2020-03-25 19:29] #105 closed

[2020-03-25 20:31] technosophos commented on #102
This is pertinent: https://github.com/wapc/wapc-guest-as

[2020-03-25 21:04] bacongobbler opened #112 "feat: lowercase the operating system names for the release workflow"
Right now, the GitHub action spits out the following files:

- https://krustlet.blob.core.windows.net/releases/krustlet-canary-Linux-amd64.tar.gz
- https://krustlet.blob.core.windows.net/releases/krustlet-canary-macOS-amd64.tar.gz
- https://krustlet.blob.core.windows.net/releases/checksums-canary.txt

We should find a way to lowercase those names.

Response from GitHub support:

        OS=${{ run

[2020-03-25 21:34] #104 closed

[2020-03-26 14:38] rylev commented on #42
This is now done with #82

[2020-03-26 14:38] #42 closed

[2020-03-26 16:04] thomastaylor312 commented on #87
Actually, I'm unassigning this as I should probably do #88 first

[2020-03-26 19:23] willemneal opened #116 "AssemblyScript example doesn't have to use relative import path"
This:
https://github.com/deislabs/krustlet/blob/1c945e8af2f661d747184f4ccb934df30ea19421/demos/wasi/hello-world-assemblyscript/assembly/index.ts#L1

Can just use `as-wasi`

[2020-03-26 19:35] #95 closed

[2020-03-26 19:37] #116 closed

[2020-03-27 16:51] thomastaylor312 commented on #19
After thinking this over some more, I think our first goals should be host paths, configmaps, secrets, and other open source drivers (NFS, SMB, etc)

[2020-03-30 20:42] bacongobbler commented on #86
taking this one on

[2020-03-30 21:47] thomastaylor312 opened #126 "Add taints to krustlet nodes"
Right now, normal pods can get scheduled on krustlet nodes by the API, this is likely due to there being no taints that describe it as a wasi or wascc node. We should add a taint and update demos to specify a toleration for that taint

[2020-03-30 22:02] bacongobbler commented on #86
This is explained in the documentation tutorial today as part 3 of the tutorial. #125 shift this around under the "Install Krustlet" documentation as a step for running Krustlet locally.

[2020-03-30 22:10] thomastaylor312 opened #127 "Take ownership when restarting"
Right now when krustlet restarts, it gets 2 errors:
[code]

This causes it to stop updating its lease and shows the node as not ready. If the lease already exists, we need to continue onward and just patch the lease instead

[2020-03-30 22:10] bacongobbler commented on #88
partially explained in #125, though it'd be great to add documentation under this for provisioning and registering a node within the same resource group.

[2020-03-30 22:12] bacongobbler commented on #127
Could we run into an issue if someone starts two instances of krustlet-wasi with this change?

[2020-03-30 22:27] thomastaylor312 opened #129 "Remove panic from wasi stop"
Although we cannot actually stop a running wasi runtime, we can drop the handle from the map and _not_ panic so we don't stop the whole thing from running

[2020-03-31 16:11] bacongobbler commented on #129
Hey @thomastaylor312, can you please share a little more detail on how this can occur and how others can reproduce this? I'm assuming this has to do with a `kubectl delete pod`?

[2020-03-31 16:22] bacongobbler commented on #126
we'll also have to remove the `nodeSelector` labels from the examples, as the toleration should handle that case.

[2020-03-31 17:00] bacongobbler opened #130 "Create instructions for running a Krustlet node with EKS"
We should have detailed instructions for configuring and using Krustlet as an EKS node. This first set of instructions does not need to be a fully production ready node (as the project itself isn't ready for full production yet either).

https://github.com/deislabs/krustlet/pull/128 shows documentation for AKS, and the process should largely translate with AWS's services.

[2020-03-31 17:08] #88 closed

[2020-03-31 17:10] ewbankkit opened #131 "`just dockerize` fails"
Building an image with the latest `Dockerfile` fails:

[code]

At step 11 the `./src` directory has not yet been copied to the layer.

[2020-03-31 17:58] thomastaylor312 commented on #131
See https://github.com/deislabs/krustlet/pull/132#issuecomment-606780015

[2020-03-31 17:58] #131 closed

[2020-03-31 18:55] thomastaylor312 commented on #129
Right now when we call `stop` on a wasi runtime, it panics because of the `unimplemented` macro. This will happen any time a pod is deleted

[2020-03-31 19:01] thomastaylor312 commented on #86
So will #125 technically close this then?

[2020-03-31 19:55] bacongobbler commented on #86
Not yet; #125 describes how to boot a Kubernetes cluster with KinD, but it does not fill out the how-to section on booting Krustlet with a KinD cluster.

[2020-03-31 19:55] bacongobbler commented on #127
That seems like a good middleground. Sounds good to me!

[2020-03-31 20:27] #129 closed

[2020-04-01 18:08] bacongobbler opened #140 "prompt for --pfx-password"
Most CLI tools do not allow users to enter the password on the command line. We should instead open a prompt window to ask for the password.

[2020-04-01 18:11] bacongobbler opened #141 "detect certificate from --pfx-path is password-protected"
we should prompt and ask for a password on startup when we find a valid PFX bundle

[2020-04-01 18:29] bacongobbler commented on #141
implementing this should resolve #140

[2020-04-01 18:34] thomastaylor312 commented on #140
So would we leave the environment variable option for users? Also, should we have a `--pfx-password-stdin` option?

[2020-04-01 18:48] bacongobbler commented on #140
Yeah, I think this is the best route. Either that, or make `--pfx-password` a boolean flag that opens the prompt window.

You have to be very careful how you pass passwords to command lines. You'll end up leaving it open to sniffing using tools like `ps`, looking it up in /proc/1/cmdline, or in history files like ~/.bash_history.

In general, best practices dictate either allowing users to pass in

[2020-04-01 18:49] #87 closed

[2020-04-01 18:55] thomastaylor312 commented on #127
After looking at the code, node adoption is already in there, so I am going to create a separate issue for 0.2.0 that has us doing some more sane checks for adopting a node

[2020-04-01 18:57] thomastaylor312 opened #145 "Add checks when "adopting" a node"
Currently, Krustlet will adopt the current node definition if it already exists. This is the proper behavior, but we should probably have some sanity checks in place to make sure it isn't adopting a node definition it isn't supposed to. A basic check may be something like checking that the IP, hostname, and port are the same, but we should probably see what mainline Kubelet is doing. See [this com

[2020-04-01 18:58] thomastaylor312 commented on #140
I did want to enhance the config module to support a config file as well, so we can probably do it there

[2020-04-01 19:34] #86 closed

[2020-04-01 20:20] #145 closed

[2020-04-02 18:09] thomastaylor312 opened #150 "Add TLS bootstrapping to kubelet crate"
Currently there is no way to update node status so it can show as being `Ready` after being in a state of `NotReady`. This turns out to be due to improper permissions for our kubeconfigs with use of the `NodeRestriction` admission plugin (which is enabled by default in at least Minikube, but probably others as well). We need to bind the [`system:node` role to a service account](https://kubernetes.

[2020-04-02 18:32] thomastaylor312 commented on #127
Closed by #145 and superseded with #150

[2020-04-02 18:32] #127 closed

[2020-04-02 22:46] bacongobbler opened #153 "Cannot call `kubectl port-forward` on a running waSCC instance"
If I run the demo in #152, I cannot appear to forward a port over to the instance:

[code]

If I enable verbose logging:

[code]

Is there an endpoint that Krustlet needs to provide in order for the `port-forward` API to work?

[2020-04-02 22:50] bacongobbler opened #154 "Deleting a long running module hangs"
It looks as though the waSCC provider does not acknowledge the DELETE request, as there are no logs to indicate that the actor was stopped.

kubectl logs:

[code]

And here's Krustlet's logs:

[code]

[2020-04-02 23:33] bacongobbler commented on #153
There are some theories suggesting that `kubectl port-forward` may only work if the kubelet is on a linux node. I was testing this on macOS with minikube. Will test with Ubuntu tomorrow and see if results differ

[2020-04-03 03:17] radu-matei commented on #154
I couldn't reproduce this locally, and the pod seems to be deleted.

I agree that we might want to log some more here, but it does seem to work for me.

[2020-04-03 03:38] radu-matei commented on #153
I can confirm this is not working on macOS with Docker Desktop either.

[2020-04-03 16:15] thomastaylor312 opened #155 "Add retries to node create/update logic"
Right now, if we fail to take ownership of a node, we panic and exit. It would be much more graceful and user friendly if we instead did things in a retry loop for a while before exiting.

[2020-04-03 16:16] #126 closed

[2020-04-03 16:18] bacongobbler opened #156 "docs(intro): What is Krustlet?"
While writing the announcement post, I noticed in the documentation that we don't have a section that explains Krustlet. The README goes into a little detail, but it'd be great to have a section in the introductory material that answers the question "what is Krustlet, and how is it relevant to my interests?"

[2020-04-03 19:29] thomastaylor312 opened #157 "Add more status and phase updates"
Status updates should reflect if a module is being pulled (e.g. `ContainerCreating`) and should also move to `Completed` phase properly (right now the output shows `ExitCode:0`)

[2020-04-03 21:26] bacongobbler commented on #130
@jingweno how's your progress coming along? :)

[2020-04-03 21:47] thomastaylor312 opened #158 "Statically compile wascc capabilities"
In wascc 0.6, there is now the ability to statically compile in capabilities using the `static_plugin` feature. We should do this with logging and with the http capability so we no longer have to distribute object files.

We will need to upgrade wascc to 0.6

[2020-04-03 22:50] thomastaylor312 commented on #154
I think what happens is when the wascc provider gets a pod it can’t handle, it freezes at some point after it pulls down the image (trying to figure out where). Because the kubelet has a mutex lock on it, the delete request (which uses the same lock), ends up waiting for a request

[2020-04-03 23:11] thomastaylor312 commented on #154
Looks like I was wrong. I filtered out those pods and it was still hanging on delete. Not sure if this is a wascc issue or something else we may have missed

[2020-04-04 00:14] #22 closed

[2020-04-06 17:50] #102 closed

[2020-04-06 19:22] bacongobbler opened #162 "Cannot `cargo publish` kubelet"
`cargo publish` disables the ability to publish packages unless their dependencies are published as well.

[code]

This is due to https://github.com/deislabs/krustlet/blob/cc57726db5971350fe5e3b24476b4b6f712d34d3/crates/kubelet/Cargo.toml#L29

[2020-04-07 21:09] empath-75 opened #165 "Pod never leaves pending."
I'm not sure what information you need to troubleshoot, but i'm running krustlet-wasi.  I've got the node in a ready state and the pod from the walk through is scheduled on the node, but it never leaves pending state.. the logs for krustlet aren't particularly great -- they don't show anything at all unless i delete the pod or edit it:

if i edit the pod, it shows this:

[code]

other than that,

[2020-04-07 21:59] bacongobbler commented on #165
Hi @empath-75! Thanks for filing a ticket. Can you show what instructions you followed to reproduce your error?

If you can try to reproduce the issue using minikube or KinD, that would be great. That way we can try to replicate the issue and nail down the cause.

[2020-04-07 23:11] peterhuene opened #167 "Provider is sent kube-system pods"
# Steps to reproduce

1. Run `krustlet-wasi`:

[code]

# Expected results

The WASI provider should only be given pods matching the WASI architecture.

# Actual results

The provider is given pods from `kube-system`, which fails to fetch the modules of, resulting in this error:

[code]

In this instance, the pod was `kube-system/storage-provisioner` which has a container image of `docker/desktop-s

[2020-04-07 23:20] peterhuene commented on #167
I do see the new taint on the node, so I'm not sure why these pods are being scheduled:

[code]

[2020-04-08 10:16] deitch opened #168 "k3d: cannot retrieve logs"
This is a very interesting project; congratulations! Given how much interesting work comes out of deislabs with OCI (I use oras happily), I should not be surprised.

I run through the getting started demo - run a k3d cluster, run krustlet-wasi, it registers as a node, and launched the `hello-world-wasi-assemblyscript` example. It runs and exits with `0`, which makes sense. But I cannot get the log

[2020-04-08 14:26] empath-75 commented on #165
I'm running on a kubeadm cluster in aws, so I sort of did my best at adapting all the other instructions and also bound the service account to system:node based on another issue I found.  I'll try and reproduce with KinD, and update this issue.

Is there a walk through of what is *supposed* to be happening after the pod is scheduled, or any way I can get more detailed logs?  (Would I see anything

[2020-04-08 15:17] empath-75 opened #170 "add NO_PROXY support"
The kind cluster is running and I can run pods on it, but when i try to join with krustlet, I get this error

[code]

[2020-04-08 15:33] empath-75 commented on #170
So the issue here is that it is using my HTTPS_PROXY settings and ignoring NO_PROXY for 127.0.0.1. unsetting my proxy environment variables completely enabled it to join.

[2020-04-08 15:43] empath-75 commented on #165
I have the same problem using kind.

I'm using the docker registry that I set up myself and I suspect the problem might be pulling from the registry, although i can push and pull from `wasm-to-oci`, but I can't figure out what is happening because there are no logs in krustlet.

[code]

[code]

[2020-04-08 15:50] empath-75 commented on #165
i do have this in the krustlet logs which is related to proxy problems, probably -- it seems to ignore NO_PROXY/no_proxy, so i had to disable my proxy settings entirely for it to connect to the kind cluster.:

[code]

[2020-04-08 21:54] peterhuene commented on #130
I'm also attempting to get this working via a hacked-up clone of `https://github.com/awslabs/amazon-eks-ami`.

The idea is that the `install-worker.sh` script will:

1) Install a Rust toolset.
2) Clone and build krustlet.
3) Install krustlet to a known location.
4) Generate the krustlet certificate for HTTPS.
6) Copy a template `kubeconfig` to a known location.
5) Register a systemd service for kr

[2020-04-08 21:58] peterhuene commented on #130
Oh and in case this wasn't clear, the end result of this would be an AMI that can be used to configure a custom "wasm-running" node group in EKS.

[2020-04-09 02:25] peterhuene commented on #130
Unfortunately the base AMI has a libssl 1.0 instead of the 1.1 expected by the release krustlet binary.

We'll just have to build krustlet when building the AMI.

I feel close to getting something working :

[2020-04-09 13:07] #158 closed

[2020-04-09 13:13] rylev commented on #162
Closed by #169

[2020-04-09 13:13] #162 closed

[2020-04-09 15:52] thomastaylor312 commented on #167
@peterhuene Yeah, this is a known issue and I am not quite sure how to prevent it. This is coming because those daemonset pods (like kube-proxy) have tolerations set that allow anything. I am trying to avoid making user set both a node selector and a toleration. We need the taint on the node to avoid scheduling other pods, so we'd have to have both.

Right now we are just letting those pods error

[2020-04-09 15:54] thomastaylor312 commented on #168
@deitch You'll need to set `--hostname` as well in this case. Technically the node name in kubernetes can be different from the hostname, so that is why we have two flags. Let me know if that works for you!

[2020-04-09 15:55] thomastaylor312 commented on #170
Oh interesting. That looks like something we can probably tweak in the underlying `reqwest` configuration. Thanks for digging into this!

[2020-04-09 16:09] bacongobbler commented on #168
I sense an opportunity to improve the documentation with regards to `--node-name` and `--hostname` :)

[2020-04-09 16:09] bketelsen commented on #153
same on WSL2

[2020-04-09 16:12] bacongobbler commented on #165
interesting findings. Thanks for sharing.

I don't think we have experience working with proxied environments. Do you have any PRs or suggestsions where we could make this workflow better?

[2020-04-09 16:13] bacongobbler commented on #165
Were you able to resolve the original issue you were describing? After re-reading through this thread it's unclear whether you resolved the original issue described.

[2020-04-09 17:49] deitch commented on #168
Yeah, definitely improving docs. I got it a step forward - I set the hostname to the IP - but still get logs errors. On the other hand, I _can_ curl it manually:

[code]

So I tried it manually:

[code]

And on krustlet's output:

[code]

[2020-04-09 18:04] bacongobbler commented on #168
I see you mentioned following the "getting started" demo... I'm interested in which [how-to guide](https://github.com/deislabs/krustlet/blob/master/docs/howto/README.md) you followed to set up Krustlet. Can you give us a link to the setup guide you used as reference material?

That way we can try to replicate the issue locally.

[2020-04-09 18:11] deitch commented on #168
Sure.

1. Started with the [main page](https://github.com/deislabs/krustlet)
1. Jumped to the introduction towards the bottom, which took me [here](https://github.com/deislabs/krustlet/blob/master/docs/intro/README.md)
1. Installed krustlet based on [here](https://github.com/deislabs/krustlet/blob/master/docs/intro/install.md) - I just downloaded the macOS binary from the releases page on github
1

[2020-04-09 18:47] bketelsen opened #177 "update wascc_actor to 0.7"
and get rid of boilerplate code in demos.

[2020-04-09 19:23] bketelsen opened #178 "consider running wasm binaries through wabt/wasm-strip"
in build process to reduce size dramatically

[2020-04-09 19:38] peterhuene commented on #130
Krustlet works:

[code]
[code]

Currently this was using a self-signed server cert, so I can't retreive logs:

[code]

I had to manually edit the `aws-auth` configmap to add the role that I deployed the EKS node group with to get IAM auth working.

Additionally, the default roles don't permit deleting nodes, so the logic in `krustlet` for recreating its node causes the service to fail after a prev

[2020-04-09 20:27] squillace commented on #130
There are numerous failure cases we shall move forward hammering out. Good to know about the role and deletion of nodes, thx.

[2020-04-09 20:47] peterhuene commented on #130
I should have a walk-through completed soon, provided I can get the certificate signing working in node bootstrap.

I also discovered [eksctl](https://github.com/weaveworks/eksctl) which has support for custom AMIs and will perform the `aws-auth` configmap editing, so this should be as simple as two commands: one to build the AMI and another to create the cluster with the AMI.

[2020-04-09 21:55] thomastaylor312 opened #179 "Implement host path volume mounting"
A user should be able to specify a host path to mount into a running instance with both the wascc and wasi providers. We don't need to worry about linux file permissions as they don't matter in a non-container context

[2020-04-09 21:56] thomastaylor312 opened #180 "Implement secret volume mounting"
A user should be able to specify a Kubernetes `Secret` to mount into a running instance with both the wascc and wasi providers. We don't need to worry about linux file permissions as they don't matter in a non-container context.

[2020-04-09 21:57] thomastaylor312 opened #181 "Implement config map volume mounting"
A user should be able to specify a Kubernetes `ConfigMap` to mount into a running instance with both the wascc and wasi providers. We don't need to worry about linux file permissions as they don't matter in a non-container context.

[2020-04-09 22:02] thomastaylor312 opened #182 "How should Krustlet handle the Container Storage Interface?"
Many of the cloud provider volumes have Container Storage Interface (CSI) plugin implementations to handle mounting volumes to containers. Right now, the attachdetach-controller will attach cloud provider volumes to VMs but will not actually mount the volume. So a few of questions for discussion:

1. Should we implement CSI calls inside of krustlet itself (or at least something similar)?
2. Will i

[2020-04-09 22:03] thomastaylor312 commented on #19
This has been superseded for 0.2 with #179, #180, and #181. I also opened #182 for further discussion around how we wanted to handle other providers

[2020-04-09 22:03] #19 closed

[2020-04-10 13:26] empath-75 commented on #165
No.  I still can't get it to work.

What i'd really like is more detailed logging.  Just some recognition that it can see a pod, that it is attempting to download an image, etc.  I could do more useful troubleshooting or bug reporting if i knew what exactly wasn't working.

[2020-04-10 13:53] bacongobbler commented on #165
Fair enough. We’d really appreciate a PR! If not we can get back to this at some point.

[2020-04-10 16:50] thomastaylor312 commented on #170
Popping this off of 0.2 because we are going to cut a 0.1.1 with it

[2020-04-10 17:33] thomastaylor312 commented on #170
So it turns out that `reqwest` doesn't support the `NO_PROXY` variable: https://github.com/seanmonstar/reqwest/issues/705. So this may be really hard to fix. I am going to see if I can do a hack to get around it for now as solving the underlying issue will be difficult because `NO_PROXY` doesn't have a standard format across everything (as pointed out in that issue)

[2020-04-10 22:14] thomastaylor312 commented on #170
Well I gave it a shot anyway with a PR against Reqwest. We'll see how it goes

[2020-04-10 23:08] peterhuene commented on #130
I was able to get the bootstrap to provision a cluster CA-signed certificate with auto-approval, so `kubectl logs` now works.

Tidying up and then I'll open a PR.  Where do we want the scripts and files that can be used to create an EKS AMI (~9 files) for krustlet to live in the tree?

[2020-04-10 23:32] squillace commented on #130
@bacongobbler or @thomastaylor312 ?

[2020-04-11 04:09] thomastaylor312 commented on #130
I’d recommend a subdir in the howto assets since it is a bunch of files

[2020-04-12 07:05] peterhuene opened #184 "Feature request: add --node-labels command line option"
Kubelet's `--node-labels` option is used by tools such as [eksctl](https://eksctl.io/) to manage groups of nodes in a K8S cluster.

Here's the help text for the option:

[code]

It would be nice if krustlet also supported this option so that external node management with such tools would also work.

[2020-04-12 19:52] peterhuene commented on #130
I've put up #185 for this issue.

[2020-04-13 16:52] thomastaylor312 commented on #184
Labeling this as a good first issue if anyone wanted to get started with krustlet. Shouldn't be too hard to add on to things and the hardest part will likely just be the parsing/validation for the CLI flag (the `Config` object can just accept a `HashMap`)

[2020-04-13 18:37] #130 closed

[2020-04-14 10:32] rylev commented on #100
Fixed by #174

[2020-04-14 10:32] #100 closed

[2020-04-14 15:25] #155 closed

[2020-04-14 15:35] thomastaylor312 commented on #150
Based on what we saw with the newly merged EKS example, I think this should probably be solved with the normal TLS bootstrapping mechanism. We might be able to take some inspiration from however Virtual Kubelet is doing it

[2020-04-14 16:42] empath-75 commented on #165
After a lot of ugly println!() debugging, i fixed a few issues.. i've got some restrictions on submitting PRs from work that means it'll take a while before i submit a pr, but i can describe what i did, basically..

1) artifactory returns a `token` field, not `access_token`, so i added an alias.
2) details is optional in OciErrors (at least for docker registry)
3) the accept header needs to includ

[2020-04-14 16:55] bacongobbler commented on #165
Thank you for looking into this!

From the sounds of it, it sounds like a lot of the issues you're finding here stems from the fact that a particular OCI registry (artifactory) is hard-coded to only support OCI images (i.e. Docker images), and it cannot accept alternative file formats (WebAssembly modules) as described in the [distribution specification](https://github.com/opencontainers/distribut

[2020-04-14 17:41] rylev commented on #165
@empath-75 #186 should help a tiny bit with logging. FYI: setting the RUST_LOG environment variable gives more verbose logs. If you set it to `debug` you should see more information

[2020-04-15 00:32] k82cn commented on #156
hm... and "how this project keep compatibillity with k8s/upstream?"

[2020-04-15 00:54] peterhuene opened #187 "Panic on EKS while watching nodes (401 unauthorized)"
I don't have repro steps other than standing up an [EKS cluster](https://github.com/deislabs/krustlet/blob/master/docs/howto/krustlet-on-eks.md) and waiting for the node to show up as `NotReady`.  Prior to the panic, the node was `Ready` and was successfully running WebAssembly applications.

I pulled this from the service log on one of the `krustlet` nodes:

[code]

which points at [this unwrap c

[2020-04-15 01:01] peterhuene commented on #187
If I had to hazard a guess as to what's going on with the 401 is that the IAM auth token that was retrieved via an `exec` action in the `kubeconfig` expired and needs to be renewed.

We should probably handle auth failures in polling such that auth tokens can be renewed.

[2020-04-15 01:13] peterhuene commented on #187
The `exec` action only once when creating a `kube::config::Config`, so we would need to have some sort of "config provider" to the `Kubelet` so it can request another kubeconfig upon a failure to poll due to an authorization failure.

[2020-04-15 01:26] peterhuene commented on #187
The IAM auth tokens appear to be for 15 minutes, which about corresponds to the time I see the krustlet node stay up, so I think that's the likely cause.

In the `Kubelet` implementation (and other places where an API client is used), we'll need to handle auth failures gracefully by retrying with a new configuration at least one time.

[2020-04-15 04:00] bacongobbler commented on #156
In what way?

[2020-04-15 04:58] k82cn commented on #156
In anyway :) So we will not keep compatibillity ?

[2020-04-15 05:33] peterhuene commented on #187
Unfortunately `kube::config::Configuration` is the end result of running the exec action and the expiration time of the token is internally de-serialized, but unused.

Unless the `kube` crate changes this abstraction, there's no way, as far as I can tell, to check if the token expires *before* sending a request and responding to a 401 😞 .

[2020-04-15 12:06] rylev commented on #187
So I looked into this. [Here](https://github.com/clux/kube-rs/blob/3d9b9411e2c9e39adee066a8c6b7a96acecdee09/kube/src/config/mod.rs#L140-L145) is where the exec is happening and where `token` is being taken from `ExecCredentialStatus` but `expiration_timestamp` is ignored.  The token is then just [stuffed into the headers](https://github.com/clux/kube-rs/blob/3d9b9411e2c9e39adee066a8c6b7a96acecdee0

[2020-04-15 15:12] empath-75 commented on #165
To clarify, the docker registry I'm using is this:

https://hub.docker.com/_/registry

Which from what i can tell, uses `distribution`.  That was what required the change to the 'accept' header in the image pull request, and which did not include a 'details' field in the error when that header was not included.

artifactory doesn't support oci images, and was only in the picture because krustlet w

[2020-04-15 15:50] thomastaylor312 commented on #187
@rylev So is this purely an upstream issue or is there something we could do to mitigate in the meantime? I am inclined to wait on upstream as the kube-rs maintainer is super responsive

[2020-04-15 16:47] bacongobbler commented on #156
I'm still not fully sure what you're trying to get at here, @k82cn.

[2020-04-15 17:40] rylev commented on #187
I believe we could mitigate this ourselves by responding to 401s by building a new client with `kube::Client::try_default`. I'm not sure how easy the fix will be in upstream as there's not a clear way that `kube` should handle this issue.

[2020-04-15 21:26] thomastaylor312 commented on #165
Did #188 possibly fix this issue for you?

[2020-04-15 21:28] thomastaylor312 commented on #154
Ok, I am 99% sure I figured out what was causing this. It is because all kubernetes does is set things to terminating (by setting the `metadata.deletionTimestamp` to a specific time). If the pod is already terminated, the API deletes it and we get the event. Otherwise, the event shows up as a “Modify” and we don’t handle those yet. So this means we'll need to handle modify events (or at least this

[2020-04-15 21:29] thomastaylor312 commented on #154
Updated the title of the issue to provide more clarity

[2020-04-15 21:50] thomastaylor312 opened #192 "Implement hostpath, Secret, and ConfigMap volumes for Wascc"
Implement volume "mounting" for the wascc provider. You cannot configure directories directly for an actor, but you can using the fs-provider: https://github.com/wascc/fs-provider.

[2020-04-15 21:51] thomastaylor312 commented on #181
I am pushing the wascc work onto a separate issue (#192) as it is going to require pulling in a new provider. However, that work should be able to reuse most of what is being done for wasi

[2020-04-15 21:51] thomastaylor312 commented on #180
I am pushing the wascc work onto a separate issue (#192) as it is going to require pulling in a new provider. However, that work should be able to reuse most of what is being done for wasi

[2020-04-15 21:51] thomastaylor312 commented on #179
I am pushing the wascc work onto a separate issue (#192) as it is going to require pulling in a new provider. However, that work should be able to reuse most of what is being done for wasi

[2020-04-16 14:04] empath-75 commented on #165
Yep, that was in my PR that I was waiting on approval to submit -- there's also the issue that it can't properly parse the error returned from the standard registry that he's describing because the details field is missing in the result returned from OciError needs to have the `details` field be an Option<>.  If you'll notice, he didn't see it in the krustlet logs, he saw it in the registry logs,

[2020-04-16 14:05] empath-75 commented on #165
You can close this, though -- thank you.

[2020-04-16 14:07] #165 closed

[2020-04-16 17:14] bacongobbler opened #193 "topics: discuss how krustlet packages, pulls, and fetches webassembly modules from container registries"
I noticed there was some early confusion around how krustlet fetches webassembly modules from a container registry. A topic guide describing how a WebAssembly module is packaged, uploaded, stored, and eventually fetched from a container registry would certainly help clear things up!

[2020-04-16 22:21] thomastaylor312 opened #196 "Update demos to use volumes"
Update all of our current demos to use volumes. This task should be done right before we release 0.2 so we don't confuse any current users of 0.1

[2020-04-16 22:30] #156 closed

[2020-04-19 16:10] DerekStrickland commented on #184
I've forked and branched.  Trying to figure out how to test it now.  Hopefully, I'll have something for you today or tomorrow.

[2020-04-20 16:32] bacongobbler opened #200 "arm support"
At some point we want to have Krustlet running on ARM devices like a Raspberry Pi.

We've begun experimenting with different WASI runtimes on an ARM-based machine. Let's start documenting what we've tested!

So far, waSCC and the wasmtime providers are blocked until [wasmtime lands ARM support](https://github.com/bytecodealliance/wasmtime/issues/339). @radu-matei mentioned one way we could work ar

[2020-04-20 19:51] bacongobbler opened #202 "support feature flag input from a config file"
Similar to `~/.kube/config`, we should allow users to write krustlet config to a file and read it upon startup.

Once complete, we should remove `--pfx-password` and `$PFX_PASSWORD` as acceptable flag inputs and rely only on the TTY prompt or from the config file as input.

[2020-04-20 19:52] bacongobbler commented on #140
closing in favour of #141 and #202

[2020-04-20 19:52] #140 closed

[2020-04-20 20:24] #141 closed

[2020-04-20 20:58] thomastaylor312 opened #205 "Create configurable testing module for e2e tests"
We need a module that we can configure to read and write from specific directories and to output anything else needed for our e2e tests.

One outstanding question is whether we should put it in this repo or have it be a separate thing

[2020-04-20 21:00] thomastaylor312 opened #206 "Create automatic cleanup for tests"
Right now if a test fails, cleanup of testing resources does not happen. We should either implement a "Guard" style resource that wraps the k8s resource with a `Drop` implementation or using a crate that allows for cleanup steps to be run

[2020-04-20 21:01] thomastaylor312 commented on #206
Please note that I tried this with the Guard style resource and because there is no `async Drop`, you'll need to spin things off on a thread with `thread::spawn` if you go that route. Just trying to block on the future causes it to freeze up

[2020-04-20 21:10] thomastaylor312 commented on #196
Labeling this as a good first issue. If you'd like to get your feet wet with basic wasm module compilation, this would give you the chance to update the code to read from volumes and print it to logs

[2020-04-20 22:11] #184 closed

[2020-04-20 22:26] #179 closed

[2020-04-20 23:01] #112 closed

[2020-04-21 18:35] thomastaylor312 opened #212 "Add stopping of long running WASM processes"
Now that wasmtime has [support for stopping a running instance](https://github.com/bytecodealliance/wasmtime/pull/1490), we should be able to add this in to our `Stop` implementation for the wasi provider.

This will need to wait until a new version of the wasmtime crate is released

[2020-04-21 22:18] thomastaylor312 commented on #187
So I ended up giving it a shot by fixing it in the upstream library. I'll open a PR once I get a chance to test this

[2020-04-22 16:54] bacongobbler commented on #150
Hey @thomastaylor312! Based on the title it's a little unclear what is the action forward for this ticket. Is the recommendation here to update the AKS and other HOWTOs to use the TLS bootstrapping mechanism instead of bootstrapping the TLS certificate yourself? I'm unfamiliar with the Node API so I'm not quite sure what's the takeaway here

[2020-04-22 16:59] bacongobbler commented on #205
If it makes sense as its own standalone repository, then perhaps it should be broken out of kruslet. On that same note though, have we done any research on other crates out there that may already provide this functionality for us?

For example: https://github.com/mindsbackyard/galvanic-test

[2020-04-22 17:06] thomastaylor312 commented on #150
Sorry, I meant to update the title for this. The solution should be TLS bootstrapping support in the kubelet crate

[2020-04-23 16:57] thomastaylor312 commented on #187
@jingweno and @peterhuene can one (or both of you) try building krustlet, replacing the `kube` dependency with https://github.com/thomastaylor312/kube-rs/tree/feat/token_refresh and let me know if it works?

[2020-04-23 17:18] thomastaylor312 opened #214 "Add handling for modify events where the image changes"
For 0.2 we are only handling modify events where the pod is marked for termination. We need to implement functionality for stopping the old "container" and starting a new one when `spec.containers[*].image` or `spec.initContainers[*].image` change

[2020-04-23 19:21] bacongobbler commented on #187
Okay, I did a deep dive on client-go's architecture with client refresh tokens. I [wrote up my findings](https://github.com/clux/kube-rs/issues/224#issuecomment-618604682) upstream, and it looks like your implementation aligns with that model. I'll go give it a spin and take a closer look at the code, but your approach looks sane to me.

[2020-04-24 03:16] peterhuene commented on #187
@thomastaylor312 your fix is looking solid so far.  I'll leave the nodes running for a little while and let you know if things change.

[2020-04-24 03:38] peterhuene commented on #187
The krustlet nodes have been up for at least an hour without panicking from auth expiration 👍

[2020-04-24 16:18] #154 closed

[2020-04-24 16:21] thomastaylor312 commented on #187
Sweet. I'll tidy up my code and push a PR up to `kube`

[2020-04-24 19:28] thomastaylor312 commented on #187
https://github.com/clux/kube-rs/pull/234

[2020-04-25 18:49] jingweno commented on #187
Late to the party (I wish I could work on this fulltime 😄 ). I pulled in the fix from https://github.com/deislabs/krustlet/compare/master...jingweno:token_refresh_test, burned an AMI image, and created a new cluster. Everything looks good so far. I will also leave it running and report back the status next week.

[2020-04-27 16:14] DerekStrickland commented on #150
@thomastaylor312 we're looking for any implementation of [this](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping/) correct?

[2020-04-27 16:16] thomastaylor312 commented on #150
Yep!

[2020-04-27 16:33] DerekStrickland commented on #150
Cool.  I'm gonna give this a go then.

[2020-04-27 17:42] thomastaylor312 commented on #150
Sweet! Let us know if you have any problems

[2020-04-27 18:44] jingweno commented on #187
The nodes have been up for 2d and appear to be healthy. So I think we can declare the fix works!

[code]

[2020-04-27 18:57] thomastaylor312 commented on #187
@jingweno Great! The PR should be merged upstream very soon and then I can pull in the changes to Krustlet

[2020-04-28 16:25] #187 closed

[2020-04-30 01:42] peterhuene commented on #212
@thomastaylor312 0.16.0 of wasmtime has been released and should contain the interruption feature.

[2020-04-30 16:39] thomastaylor312 commented on #212
Awesome. Thanks for letting us know

[2020-05-01 15:54] #212 closed

[2020-05-04 23:14] bacongobbler commented on #196
#222 introduced a volume-based demo for the waSCC runtime. I'd love to see a wasmtime demo! Most of the code (asides the actor) could be re-used as the hostPath and mountPaths are the same for the WASI provider.

[2020-05-05 16:17] #192 closed

[2020-05-05 17:51] DazWilkin opened #227 "microk8s works w/ Krustlet"
Krustlet appears to work well with [microk8s](https://microk8s.io).

An advantage of microk8s is that it's easily-installed on a single workstation and Krustlet may run alongside it.

[code]

And:

[code]

And, e.g:

[code]

I forked the repo to document this but the documentation is very repetitive (and thus potentially difficult for everyone to maintain) and would -- IMO -- benefit from refactor

[2020-05-05 17:56] bacongobbler commented on #227
It's okay if the HOWTO guides are a little repetitive, as they are intended to be self-sufficient. The [Quickstart guide](https://github.com/deislabs/krustlet/blob/master/docs/intro/quickstart.md) shows the high-level "here's how to set up Krustlet", along with a link to each HOWTO depending on what provider is being used.

If you want to create a generic HOWTO guide, we'd welcome that, though the

[2020-05-05 17:58] DazWilkin commented on #227
OK...

On the basis that someone may benefit from a microk8s document, I'll complete it and submit the PR.

Thanks for the interesting project and the quick reply.

[2020-05-05 18:12] bacongobbler commented on #109
meh

[2020-05-05 18:12] #109 closed

[2020-05-05 18:33] #49 closed

[2020-05-05 18:55] thomastaylor312 commented on #107
This can be done with `cargo owner --add github:deislabs:<teamname>` once we publish the 0.2 crate

[2020-05-05 19:25] bacongobbler commented on #196
Working on a WASI demo.

[2020-05-05 19:33] bacongobbler opened #230 "support configmap volume `items` API"
Example:

[code]

Here's the important bit:

[code]

The current behaviour will mount the whole ConfigMap into the WASI runtime. The `items` API tells the runtime that only certain keys should be mounted, and at what path.

The example above should be available at /mnt/storage/lorem_ipsum.txt in the runtime, and `myval` should not be present.

[2020-05-05 19:34] bacongobbler commented on #230
more info: https://kubernetes.io/docs/concepts/storage/volumes/#configmap

[2020-05-05 19:48] thomastaylor312 commented on #107
Oh, if we want to use a bot for it (instead of someone's credentials), we'd need to create a GH bot that we can log in to crates with and add to the team

[2020-05-06 16:09] DazWilkin opened #236 "Interest for Krustlet w/ GKE?"
As a former Googler, proponent of Google Cloud and fan of [GKE](https://cloud.google.com/kubernetes-engine), I'd like to see documentation for Krustlet/GKE, but... $$$

If you're seeing interest to justify this, I'll suck it up on my dime.

[2020-05-06 16:14] bacongobbler commented on #236
We would love to see documentation on GKE!

[2020-05-06 18:28] DazWilkin commented on #236
I'm somewhat distracted today, I have most of the GKE stuff documented but must resolve a routing issue. When I resolve it, I'll submit a PR.

[2020-05-06 19:45] DazWilkin opened #237 "FR: configure log levels via command-line flag"
I've been educating myself on Krustlet by running e.g. `krustlet-wasi` in the foreground.

The process appears to only log errors but I'd find it useful to review more extensive (e.g. debug) logging.

Please consider adding a flag to both `krustlet-wasi` and `krustlet-wascc` e.g. `--log-level=debug`

[2020-05-06 19:50] DazWilkin opened #238 "Error: failed to generate container "..." spec: no command specified"
I'm receiving this while trying to deploy Krustlet alongside GKE but I recall also receiving this error (ocassionally) when running with MicroK8s too.

Why does this error arise? Or, what does it mean? [So that I may debug the issue]

[code]

Then:

[code]

[2020-05-06 20:18] bacongobbler commented on #237
This is currently possible with the RUST_LOG environment variable. Let us know if that will work for you.

[2020-05-06 20:20] #227 closed

[2020-05-06 20:20] thomastaylor312 commented on #237
Yeah, we've had conversations about this. It is bad right now (you have to set `RUST_LOG` and the syntax is a little...non-traditional) so I want to make it easier.

@bacongobbler We probably do want something like this. Or another variable besides `RUST_LOG` that takes gross syntax like this: `wascc_host=debug,wascc_provider=debug,wasi_provider=debug,main=debug`. That requires people to know the

[2020-05-06 20:22] thomastaylor312 commented on #238
So this happens when it gets scheduled to a normal node, my fixes in #232 should fix this with a node selector on the architecture.

For some reason, the tolerations don't always work

[2020-05-06 20:25] bacongobbler commented on #168
Hi there! Jumping back on this issue. Did you manage to figure out your issue? If so can we close this?

[2020-05-06 20:27] DazWilkin commented on #238
Gosh you respond quickly! :-) Thank you.

I just deleted the GKE cluster but will try again tomorrow.

[2020-05-06 20:28] DazWilkin commented on #237
Thank you both... I didn't think to try `RUST_LOG` doh. Will try it (tomorrow).

[2020-05-06 20:32] bacongobbler commented on #237
I fully agree @thomastaylor312. RUST_LOG is available, but it's certainly wonky. That being said, we do get deeper introspective logging from waSCC and wasmtime for free with RUST_LOG. If we can tie RUST_LOG into a `--log-level` flag, that would be the best of both worlds :)

[2020-05-06 20:40] thomastaylor312 commented on #237
Yeah, I think that would be the ideal

[2020-05-06 21:05] DazWilkin commented on #236
The routing issue may be a red-herring and appears to have surfaced original with virtual kubelet:

https://github.com/virtual-kubelet/virtual-kubelet/issues/122

If that is a red-herring, then that leaves #238

Will resume tomorrow.

Documentation's mostly done (just doesn't yet result in a working `hello-world-wasi-rust`)

[2020-05-06 23:33] itowlson commented on #206
It looks like you can't use `catch_unwind` either because the `kube::Client` type isn't unwind safe.

[2020-05-07 04:43] itowlson commented on #206
And, more fundamentally, because async closures are not yet in stable Rust.  So even if you make the cleanup code completely self-contained, you can't pass it to `catch_unwind` (or `set_hook`) because the compiler requires you to handle the future but you can't `await` on it.

[2020-05-07 18:24] DazWilkin commented on #238
Your suggestion worked, thank you!

I added the `nodeSelector` and the `network-unavailable` toleration:

[code]

[2020-05-07 18:24] #238 closed

[2020-05-07 18:36] DazWilkin commented on #236
@thomastaylor312  @bacongobbler -- unimportant but, if you ideas, I'd be grateful...

The routing issue was user error (the VM must be named `krustlet` for the routing ;-)).

However, I'm now receiving:

[code]

The private IP of the `krustlet` VM is `10.138.0.4`:

[code]
Logging from `krustlet-wasi` reports:
[code]
But:
[code]

A pod running on the regular node can resolve `krustlet`:
[code]

Any

[2020-05-08 07:52] deitch commented on #168
Hi @bacongobbler ; I haven't looked at it in a while. I will try to recreate now.

[2020-05-08 08:08] deitch commented on #168
Some improvement.

* I need to set the `--hostname <ip>` to the explicit IP or a resolvable hostname of my local host
* when I do, I get a cert problem:

[code]

Indeed, the example [here](https://github.com/deislabs/krustlet/blob/master/docs/howto/krustlet-on-kind.md) only includes a CN, not any SANs. That may be because adding SANs with openssl is a pain in the neck. I actually have my own local

[2020-05-08 17:41] DazWilkin opened #239 "`wascc/hello-world-assemblyscript`: actor is not authorized to use capability wascc:logging"
This may just be me and/or a limitation of my attempt to run krustlet w/ MicroK8s.

[code]

The Krustlet, run as:

[code]
Outputs:
[code]

It appears (!) to successfully use the `wascc:http_server` capability but fail on `wascc:logging`.

[2020-05-08 18:51] DazWilkin commented on #153
I'm running Krustlet on a Linux instance and same-same.

[2020-05-08 19:20] autodidaddict commented on #239
The wasm module needs to be signed (via wascap) with the logging
capability.

On Fri, May 8, 2020, 1:41 PM Daz Wilkin <notifications@github.com> wrote:

[2020-05-08 19:23] autodidaddict commented on #239
It could be the address in use message causing the failure and the logging bit is a red herring (check to make sure the wasm module is signed with that capability):

[code]

[2020-05-08 19:29] DazWilkin commented on #239
Yes, I'm not yet convinced that my MicroK8s install is correctly installed but I'm somewhat reliant on the available demos to test it.

IIUC, I should not need to do anything in addition to the demos for them to run.

In this case, I assume I can `wasm-to-oci` pull the container from Azure and then run `wascaps` on it to confirm whether logging is enabled.

[2020-05-08 19:32] DazWilkin commented on #239
[code]
And:
[code]

[2020-05-08 19:34] autodidaddict commented on #239
This confirms the wasm module doesn't have permission to use the wascc:logging capability.

[2020-05-08 20:05] DazWilkin commented on #239
Yes.

So, IIUC, the demo author needs to resign it?

I remain unclear why I'm getting the `address in use`. I'm running Kubernetes and Krustlet on the same host. MicroK8s uses the host's `:8080` *but* the Krustlet should be able to run a Pod that includes a container that uses this port. This shouldn't conflict when the host's ports.

[2020-05-08 20:17] bacongobbler commented on #239
This is caused due to merging #22. All actors are now bound with the `wascc::logging` capability regardless if they're authorized to use it or not.

There are two options we can do here:

- we can re-sign the modules to consume `wascc::logging`, or
- if the actor doesn't have permission to use a particular capability, then the waSCC provider shouldn't bind the actor to that capability. This had to

[2020-05-08 20:34] autodidaddict commented on #239
I think the latter is the safer approach. In some of the custom hosts I'm building, I never call bind unless the actor has that capability in its claims.

[2020-05-09 01:06] kflansburg commented on #236
It looks like you are querying the Krustlet API by IP instead of `krustlet`. I'm not sure what causes you to do that, but you could either try to switch to using the domain name, or you could regenerate your Krustlet's TLS Cert with subjectAltName equal to the private IP (10.138.0.4). It doesn't look like this is easily done from the command line with `openssl`.

https://security.stackexchange.com

[2020-05-09 01:12] kflansburg commented on #236
The bootstrap script for EKS appears to set the subjectAltName:

https://github.com/deislabs/krustlet/blob/master/docs/howto/assets/eks/files/bootstrap.sh

[2020-05-09 01:22] DazWilkin commented on #193
Would something based upon content like [this](https://pretired.dazwilkin.com/posts/200508/) help?

This was for me to understand how Krustlet works with OCI containers and to pursue the hunch that it should work with Google Container Register.

I've not tested Krustlet with `ImagePullSecrets` for private registries. Should that work?

If so, I could submit a PR early next week?

[2020-05-09 18:12] DazWilkin commented on #236
@kflansburg thanks for the reply.

I took the happy (easy) path through the config but, evidently, it doesn't work :-(

I don't understand how the name|IP resolution works with the Krustlet so that makes it more challenging for me. For instances in the same zone, the instance name (e.g. `krustlet`) will resolve automatically to the VM's IP but this generates the same error. For cross-zone traffic,

[2020-05-09 18:32] kflansburg commented on #236
I believe that when the krustlet registers, the cluster DNS (CoreDNS or whatever) will point the node name to the node IP, I'm not sure if `kube-api-server` queries by hostname or IP, but I think its pretty common to set the subjectAltName with he node's public and private IPs if you haven't done that already. As far as cross zone traffic, are these zones in the same network? There may be routing

[2020-05-11 15:10] squillace commented on #236
Don't give up, @DazWilkin!!! We'd love to have docs for this on GKE; if it can't run on k8s everywhere, it's a failing. :-)

[2020-05-11 15:15] squillace opened #241 "Feature: templated WASM/I developer experience with GH action for build/push"
WASM right now has relatively limited feature range using WASI as a compilation target. In addition, Krustlet feature support is evolving as we speak. Our initial experience, despite all this, is strong, providing good motivation for moving forward.

However, as we do so we are asking each developer to understand how to build their own WASI modules at some point we should create something very str

[2020-05-11 15:46] DazWilkin commented on #236
@squillace thanks for the support! I am planning to return to this today.

I will follow @kflansburg guidance and determine whether the DNS naming is the issue.

I want to ensure my documentation reflects both regional and zonal clusters.

The documentation is written and will be mostly unchanged, I need just get it working ;-)

[2020-05-11 16:22] thomastaylor312 commented on #206
@itowlson Did you give implementing `Drop` a try?

[2020-05-11 16:29] thomastaylor312 commented on #236
@DazWilkin Also, you may want to make sure you have both `--node-name` and `--hostname` set. The first flag is the name of the object in kubernetes. The second is the hostname of the node that k8s should use to contact the Kubelet API

[2020-05-11 16:38] bacongobbler commented on #241
How would this be solved in the krustlet project? Should this be something which is handled by another project? Sounds to me like a job for [yeoman](https://yeoman.io/) or something similar. We have demo apps available.

Putting it another way: is it the role and responsibility of the Kubelet project to demonstrate how to create a helloworld docker container, or is that the role and responsibility

[2020-05-11 17:08] DazWilkin commented on #236
Success!

[code]

The issue appears to be with the `subjectAltNames` of the CSR.

[2020-05-11 17:13] thomastaylor312 commented on #236
Yeah, SANs are a bit funky. I have an example one locally, but it might be good to add an example to the repo as part of the documentation for this

[2020-05-11 17:31] radu-matei commented on #241
Generators like Yeoman sound like a good fit for this - additionally, I would also suggest we look at VS Code dev containers before thinking about extensions.

[2020-05-11 17:37] squillace commented on #241
these are all good suggestions. in reality, though GH has us assume our "projects" are scoped to a repository, they never are -- so @bacongobbler you're right that this is not scoped to krustlet. I'm happy to create a new project somewhere for this, but if we do not have it, krustlet will be less successful.

Yeoman and/or VS code and/or remote containers are all great ideas; though I dislike the

[2020-05-11 21:08] #236 closed

[2020-05-11 21:23] itowlson commented on #206
@thomastaylor312 Yes - the trouble I had with `Drop` was getting the spawned thread to run an async function because of the _drum roll_ 'async lambdas are not stable' issue.

[2020-05-11 22:40] thomastaylor312 opened #243 "Unable to recreate a deleted wascc pod using volumes"
Based on the error from the pod:

[code]

It looks like if we delete a pod and attempt to recreate it, things fail because the blobstore capability for this volume isn't removed. To fix this, I believe we need to remove the capability on cleanup

[2020-05-12 15:09] rylev commented on #206
@itowlson have you tried creating a runtime and running the async task?

[code]

[2020-05-12 16:53] DazWilkin opened #245 "Implement service support"
I'm able to run the WASI demos (greet, hello) without issue. Both of these demos have READMEs that explain what to expect.

I'm able to run (seemingly) both the WASCC demos (greet, uppercase) **but** there's no explanation as to how to confirm that these are running successfully and I'm unclear that they are.

It **may** be that my configuration is not working correct for WASCC but I'm unable to c

[2020-05-12 17:38] DazWilkin commented on #245
The Pod(s) aren't getting ClusterIPs which, I assume, is the more fundamental issue; no ClusterIP, means the Pod can't be bound by a Service.

[code]

[2020-05-12 18:18] bacongobbler commented on #245
correct. In the meantime, you can `curl localhost:8080` from the same machine running krustlet to reach the endpoint. Right now the waSCC runtime starts the webassembly modules. They're just not hooked up to the cluster.

[2020-05-12 18:29] thomastaylor312 opened #247 "Use native TLS Rust implementation"
The https://github.com/ctz/rustls crate is fairly stable this point and is a feature we can enable in reqwest, so we should be able to override our dependency on openssl, which would make windows builds much easier

[2020-05-12 18:36] thomastaylor312 opened #248 "Support auto-injection of wascc capabilities"
A compiled wascc actor exposes what capabilities it requires. The wascc provider should handle automatic injection of these dependencies where possible. Some considerations:

- Is there a way to "bundle up" the needed capabilities with an application
- Which capabilities should we expose by default?
- How can we expose the ability for users to provide their own capabilities?

[2020-05-12 20:14] #243 closed

[2020-05-12 21:04] DazWilkin commented on #245
Aha! This would be useful to add to the architectural overview (diagram).

This explains why I receive address in use errors. Unfortunately, I've an older version of MicroK8s that expose the kube-apiserver on :8080. So, if the Krustlet is attempting to spawn the waSCC runtime on :8080 (?) that explains more of my problems.

IIUC, waSCC on 8080 is not (currently) configurable.

I'm going to try to

[2020-05-12 21:47] bacongobbler commented on #245
Just change the container port to something other than 8080: https://github.com/deislabs/krustlet/blob/6d2cbfe119cf893761a09c527189dfbec29f5177/demos/wascc/greet/greet-wascc.yaml#L16

[2020-05-12 21:53] itowlson commented on #206
@rylev YAY!  Combined your suggestion with one of @thomastaylor312's and we have ignition!

[2020-05-13 16:23] DazWilkin commented on #245
Thank you!

IIUC the `"wascc:http_server"` is being bound to the environment variable value `PORT` provided by the container. So line 14 sets the runtime port and line 16 exposes it, correct?

[code]
Then:
[code]

It would be useful to document this too.

I'm happy to do so if I understand it correctly.

[2020-05-13 17:05] bacongobbler commented on #245
Ah yeah forgot about that. You're right on that. Thanks for finding that out.

[2020-05-13 18:20] DazWilkin opened #252 "Mechanism to specify Krustlet's Pod CIDR?"
I'm on thin ice here, so feel free to close if this is a non-sensible request.

The Krustlet appears to always grab `10.244.0.0/24` as the CIDR for its pods.

[code]

Running on (a single node) MicroK8s cluster, both nodes use the same CIDR range:

[code]
Running on a multi-node GKE cluster, GKE shards a CIDR range over its nodes:

[code]

IIUC this could result in:

+ Pods on different nodes coll

[2020-05-13 18:25] bacongobbler commented on #252
https://github.com/deislabs/krustlet/blob/6d2cbfe119cf893761a09c527189dfbec29f5177/crates/kubelet/src/node.rs#L597

[2020-05-14 06:31] peterhuene opened #256 "FileModuleStore should respect imagePullPolicy=Always, 'latest' tag, or no tag"
Currently `FileModuleStore` caches modules pulled from a registry.

However, it does not force a pull when `imagePullPolicy` is set to `Always` or when there is no `imagePullPolicy` specified and the image tag is `latest` or there is no tag.

[According to the documentation](https://kubernetes.io/docs/concepts/configuration/overview/#container-images), this should force a pull of the image from th

[2020-05-14 16:34] thomastaylor312 commented on #256
Ah yes, we still haven't checked for pull policy stuff. Thanks for bringing this up

[2020-05-14 16:35] #206 closed

[2020-05-14 20:36] DazWilkin opened #257 "add imagePullSecrets support"
I'm receiving this error from Krustlet trying to pull images from a public (!) GCR registry.

As shown below, `wasm-to-oci` can push|pull images to this registry and I've configured it to support public (non-authenticated) access. I'm able to run regular containers from it on the cluster without problem.

[code]
I'm able to pull regular containers from the same registry to the same cluster.

[code

[2020-05-14 20:59] peterhuene commented on #257
This should be fixed by #255, but I haven't yet looked into the test failures there.

[2020-05-14 21:03] DazWilkin opened #258 "add container arguments support"
[code]
Then

[code]

If I run the sample locally, it works as expected:

[code]

[2020-05-14 21:06] peterhuene commented on #258
It appears that the argument passing [isn't currently implemented yet](https://github.com/deislabs/krustlet/blob/master/crates/wasi-provider/src/lib.rs#L145).

[2020-05-14 21:16] DazWilkin commented on #258
Thank you!

Perhaps this should be noted in the "hello world" demos that attempt to include args in their output?

[2020-05-14 21:34] peterhuene commented on #258
It'd probably be easier just to implement it 😄.  The information is in the container spec, it just needs to be passed through to `WasiRuntime`.

[2020-05-14 21:58] thomastaylor312 commented on #258
Yeah, the argument support is there, just have to pass them through. The harder implementation will be calling a specific "command" which would need to be an exported function in wasm

[2020-05-15 18:31] DazWilkin commented on #257
If the GCR registry is configured to be public, @peterhuene proposed changes work for me:

[code]
Then:
[code]
and:
[code]
If the GCR registry is configured to be private even if the cluster is configured to access the registry, I get a different error:

[code]

[2020-05-15 18:39] peterhuene commented on #257
Pulling from a private registry requires supporting `imagePullSecrets` afaik.

My guess is that the response coming back is a 401/403 that's not JSON, perhaps needed accept headers aren't being set with the auth request?

[2020-05-15 19:21] peterhuene commented on #257
I believe `imagePullSecrets` isn't supported yet for fetching images.

[2020-05-15 20:17] bacongobbler commented on #257
Nope ^

[2020-05-18 16:18] thomastaylor312 commented on #150
Bumping to 0.3 after we ran into a few issue implementing this

[2020-05-19 17:19] thomastaylor312 opened #263 "Fix cargo publishing in release pipeline"
Right now there are two issues with the cargo publish part of the timeline:

1. It isn't blocked on the asset build/upload succeeding
2. If we don't bump the version of the `oci-distribution` crate but do bump the `kubelet` crate, the `cargo publish` command fails. We should check to see if it is already published and ignore the error

[2020-05-19 18:05] #50 closed

[2020-05-19 18:20] thomastaylor312 commented on #107
Added the krustlet-maintainers group as an owner. We can add a bot down the line

[2020-05-19 18:20] #107 closed

[2020-05-19 18:29] thomastaylor312 commented on #20
So I was attempting to do this with #250, but we'll need the openssl dep for the CSR generation step of TLS bootstrapping. However, I think rust-openssl knows how to use https://github.com/Microsoft/vcpkg if we download the openssl stuff from there

[2020-05-19 20:55] bacongobbler commented on #200
Currently working on a wasm3 provider available here: https://github.com/bacongobbler/krustlet-wasm3

[2020-05-23 20:32] Haegi commented on #214
Is there a recommended way to find out whether the image has changed or not.
Unfortunately, `.image` holds the new image immediately after the modification. That makes it hard to find out whether the image has changed.
Would it be a good solution to introduce a new pod field, which holds the current images running in the pod?

[2020-05-26 16:20] thomastaylor312 commented on #214
Yeah, I wasn't sure on the best way to do this. `client-go` on the update method passes the old and the new object, but the `kube` crate doesn't. I think the ideal option is to add support for that to the `kube` crate, but that isn't a requirement for this feature.

I think we should probably just keep an in-memory map of any pods and their current images for now. A stretch goal would be to only k

[2020-05-26 17:41] #247 closed

[2020-06-05 00:35] #202 closed

[2020-06-05 04:32] itowlson opened #274 "Define how to extend configuration"
Having a configuration system in the `kubelet` crate makes it easy for developers to adopt the standard set of configuration flags and options, but it doesn't seem very easy for them to adapt to specific provider requirements.  For example, suppose an author wants to implement an additional flag that is meaningful to the provider but which the `kubelet` infrastructure doesn't need to know about.

[2020-06-05 16:33] bacongobbler commented on #258
Marking as a good first issue, as all the wiring is in place. We just need to pass along the container arguments to wasmtime.

[2020-06-05 16:34] bacongobbler commented on #257
updated the title to reflect the current status.

[2020-06-05 16:38] bacongobbler commented on #274
good call. I don't have a good answer for this yet.

In [krustlet-wasm3](https://github.com/deislabs/krustlet-wasm3), I want to add a `--stack-size` and a `--page-size` flag to the provider, but I have not started work on that just yet. We can take our learnings from that project, PR changes upstream to krustlet and document the process in the kubelet crate. Or maybe we can write something up as a

[2020-06-05 18:47] #150 closed

[2020-06-05 18:50] bacongobbler commented on #200
ARM support is available with krustlet-wasm3, so the immediate action item is complete. Follow https://github.com/bytecodealliance/wasmtime/issues/339 for ARM support on wasmtime (and for waSCC too since it depends on wasmtime).

[2020-06-05 18:50] #200 closed

[2020-06-05 18:54] #196 closed

[2020-06-05 18:59] bacongobbler commented on #193
Thank you for the link!

Close, but not entirely. We're looking to write content that demonstrates how WebAssembly modules are laid out on the file system, both on the client side (Krustlet) and the server side (distribution). That blog post demonstrates how to push and pull from a registry, but it doesn't explain *how* Krustlet (or how the distribution protocol) accomplishes that, or even *why* w

[2020-06-05 19:01] bacongobbler commented on #170
updated the title to reflect the ask.

[2020-06-05 19:34] bacongobbler commented on #168
TLS bootstrapping was just merged in #275, so a lot of the setup steps you ran into earlier should be vastly simplified. We still have to document the new setup process, but once that's done it should be much easier as Krustlet will self-generate a TLS certificate. All you'll have to do is approve the certificate sign request from Kubernetes.

[code]

And from another terminal:

[code]

I'm curiou

[2020-06-05 20:00] bacongobbler opened #276 "hack/bootstrap.sh blocks on WSL2"
Oddly, calling `just run-wasi` on WSL2 hangs indefinitely. After doing a bit of digging, I found that it was because `hack/bootstrap.sh` blocks on WSL2.

Changing this line:

[code]

To use `/dev/urandom` instead appears to work:

[code]

It looks as though reading from `/dev/random` blocks indefinitely.

[2020-06-07 19:57] itowlson commented on #274
Sounds great - I agree that we will get the best result by using the actual experience of implementing a kubelet with custom flags.

[2020-06-08 00:11] itowlson commented on #258
I have this under way for WASI, but I'm not sure how to map it to WASCC, which as far as I can tell receives actor parameters in a different way.  Am I missing something, or should the WASCC provider merely discard any arguments in the container YAML?  If discard: silently, with a log, or fail with an error?

[2020-06-08 00:58] itowlson commented on #276
Just got bitten by this and confirm changing to `/dev/urandom` fixed it for me.

[2020-06-08 01:58] itowlson commented on #276
Also now having a problem doing `just run-wasi` and `just run-wascc` concurrently:

[code]

(Here `hestia` is the name of the local machine.)

[2020-06-08 03:13] itowlson commented on #276
And I don't know if this is related but I'm now seeing integration tests failing to create the `hello-wasi` pod with an image pull error.  Don't think this is related to anything I've done because I've backed out all my changes... @bacongobbler are you able to run the integration tests on WSL?

[2020-06-08 03:29] bacongobbler commented on #276
I saw the same as well. I'll have a look first thing tomorrow!

[2020-06-08 03:43] itowlson commented on #276
Pod log message:

[code]

[2020-06-08 04:58] itowlson commented on #276
If I understand this right, it looks like it's trying to schedule it on the `docker-desktop` node, which obviously won't work because it's not a containery container...

[code]

[2020-06-08 05:09] itowlson commented on #276
If I roll back to before the first bootstrapping commit, the pods are scheduled to the appropriate `krustlet-*` nodes.  Possible red herring, but has something changed in the taints and tolerations stuff?

[2020-06-08 05:31] itowlson commented on #276
Deleting the node and letting `just run-wasi` recreate it seemed to fix the scheduling problem - the integration test pods are now scheduled to the Krustlet nodes.  I noticed a change in #275 that the `start` method would `// Create the node. If it already exists, this will exit` where previously it would `"adopt" the node definition` (kubelet.rs, line 64).  So maybe having nodes around that were

[2020-06-08 16:02] thomastaylor312 commented on #276
That looks like a cert issue @itowlson. Which means that something isn't working correctly with the serving cert bootstrap process

☝️ Also, with this, it is due to the hostname being the same. In the e2e tests I delete the CSR before starting the other. I figured this would only be a problem locally (as you would probably not be running a double krustlet on a normal node in a "real" environment),

[2020-06-08 16:04] thomastaylor312 commented on #276
Oh and @bacongobbler I should have documented this:

That can happen on specific systems where it doesn't have the entropy to read from it. Changing it would make it insecure though. I think that we should probably set a variable like `RANDOM_SOURCE` with the default being `/dev/random` and an override in our justfile to use `/dev/urandom`

[2020-06-08 16:26] thomastaylor312 opened #278 "Status refactor"
Currently, we update the status from at least 2 different places and the status updating mechanism is rather...verbose. This makes it difficult to add additional status updates and makes the code more confusing for those new to the project.

The goal of this refactor would be to have all the status updates handled in a single location (likely the kubelet crate) and use channels or other messaging

[2020-06-08 16:45] bacongobbler commented on #276
bash exposes $RANDOM, where each read is unique. Not sure if it's cryptographically secure either, but that could be used as a source, and because it's bash it should work cross-platform.

Curious to see if there's prior art here for other projects

[2020-06-08 16:50] thomastaylor312 commented on #258
@bketelsen Do you know if there is anything wascc does that would support this or would that be another capability we need to add that sends arguments as events?

[2020-06-08 22:39] thomastaylor312 commented on #170
The upstream PR in reqwest has been merged! As soon as they cut a new release, I can pull the new dependency into kube-rs

[2020-06-09 21:49] bacongobbler opened #281 "convert demo Makefiles to justfiles"
Some of our demonstrations use a Makefile. We should switch to justfiles to keep the tooling consistent between the demos and the main project

[2020-06-09 22:47] #258 closed

[2020-06-09 22:51] itowlson opened #282 "Determine how to handle container arguments in WASCC"
A Kubernetes Pod resource can specify arguments for each of its containers.  The WASI provider passes these to the WASM module via the WASI-defined interface.

However, there is no obvious mapping from command line arguments to the WASCC actor model.  We should determine whether to:

* Map container arguments to actor data in some Krustlet-specific way
* Drop container arguments on the floor
  * S

[2020-06-09 22:53] bketelsen commented on #258
This doesn’t make any sense in the waSCC world.  Actors have configurations provided as a map, it’s possible to pass args through into that map if the wiring was put in place, but I’m not sure I see any benefit.

[2020-06-11 04:06] itowlson commented on #256
Anyone looking at this or shall I grab it?

[2020-06-11 16:30] thomastaylor312 commented on #256
Go ahead and grab it @itowlson!

[2020-06-11 17:38] bacongobbler opened #287 "docs: add a release checklist"
We should write down the process to cut a new release. @itowlson mentioned the documentation should be updated to refer to the `v` tag prefix for creating a release, for example. That might not be totally clear to other contributors looking to cut their first release.

[2020-06-11 17:41] bacongobbler commented on #256
Go right ahead :)

@thomastaylor do you know if your work on #278 might be a blocker for this work? Trying to figure out what's the entrypoint here to detect when an event comes in reporting that the workload resource manifest changed.

[2020-06-11 19:57] thomastaylor312 commented on #256
It would likely result in a rebase either way, but they don't intersect directly

[2020-06-12 17:07] thomastaylor312 commented on #278
After doing some more work on this, I don't like where it is going, so I am going back to the drawing board on this. As a result, pulling this off of 0.3.0

[2020-06-15 19:14] wangyira opened #288 "Thread panics when running multiple waSCC demos on the same port"
I ran into this problem when I tried running 2 waSCC demos at once. Since two examples are running on the same port (8080), the thread panicked and failed. After identifying the issue, I tried recreating the problem and one of the two scenarios would occur.

1. Use `kubectl apply` to create 2 pods from 2 examples. Only the 1st pod is running and the 2nd pod failed. Deleting the 2nd pod and running

[2020-06-15 19:39] autodidaddict commented on #288
When waSCC binds an HTTP server capability provider to an actor, you can supply a `PORT` configuration variable. If this isn't supplied, then the HTTP server binding defaults to port `8080`.

If krustlet were to choose an arbitrary port number or assign port numbers with a monotonically increasing port number, this would prevent the panic due to trying to bind to an in-use port.

[2020-06-15 20:06] thomastaylor312 commented on #288
Yeah, for now the workaround is probably to change the pod definition to specify a different port. I think that we should make the waSCC provider use the `containerPorts` part of Pod spec to specify the port (instead of the `env` key) and then map it to a config underneath the hood. Combined with @autodidaddict's idea, I think it would be a good solution

[2020-06-16 16:37] thomastaylor312 commented on #288
Ok, I did some more thinking here. So I think the `containerPort` key doesn't mean the same thing in a wasm module context. There is no port to map to in the module, only on the host it is running on. So I think the behavior should be like this:

1. If `containerPort` is specified and `hostPort` is not, then automatically assign a port number
2. If `hostPort` is specified (whether or not `containe

[2020-06-16 18:46] #276 closed

[2020-06-16 20:42] thomastaylor312 commented on #288
Ok so I looked more in to networking. I think that is probably a much bigger thing to tackle and is out of scope of this issue as it involves figuring out how to implement IP per pod networking. So for now, I would just figure out the automatic port mapping and then we can just rely on `NodePort` services as a workaround

[2020-06-16 20:45] thomastaylor312 opened #293 "IP per pod networking support"
When investigating things for #288, I realized that for k8s services to be able to route to pods properly, we'll need to implement the IP per pod networking model so kubernetes knows where to route the traffic. This will likely be a fairly large feature we may need to break up as we better understand the scope.

Kubernetes networking documentation: https://kubernetes.io/docs/concepts/cluster-admin

[2020-06-17 21:19] bacongobbler commented on #263
the first one has been addressed, but not the second. Removing from 0.3 as we don't need to address this release

[2020-06-18 19:56] bacongobbler commented on #168
v0.3.0 with TLS bootstrap support was released yesterday if you want to give it a try again and want to provide feedback.

[2020-06-21 23:08] itowlson commented on #252
Is this something we want to do?  If so, I can take it.

[2020-06-21 23:10] itowlson commented on #230
If this is something we'd like to do, and if nobody else is already doing it, I can put my hand up for it.

[2020-06-22 16:17] thomastaylor312 commented on #20
This is almost there. We need to work through bugs in getting rustls-tls working properly (it compiles, but doesn't work)

[2020-06-22 16:35] kflansburg commented on #293
https://github.com/containernetworking/cni/blob/master/SPEC.md

Possibly would break Windows support, but I wonder if you could simply execute the WASM runtime inside of a network namespace, and then invoke the CNI with that namespace.

[2020-06-22 16:46] kflansburg opened #297 "Heterogenous Workloads"
Support for specifying pods with both lxc and wasm workloads, which then execute in a single namespace. This could allow running sidecar containers with wasm workloads (such as Istio).

This probably involves a couple of features:

- [ ] Support for multiple providers in a single Kubelet (for example OCI + WASM).
- [ ] Spawn WASM workloads in a specific namespace (the one use by the container work

[2020-06-22 18:55] thomastaylor312 commented on #293
From a WASM perspective, I don't think we'd want to require network namespacing unfortunately. We might have to support pluggable networking "Providers" (we'd need another term obviously) to get around that

[2020-06-22 21:32] kflansburg commented on #293
Unfortunately I think most network providers are closely tied to network namespaces. It does look like something similar could be achieved on Windows.

[2020-06-22 22:29] kflansburg commented on #293
It does seem like it would be difficult to run the wasm workloads inside of a namespace since they currently run in the Kubelet `tokio` pool. I think this is a larger issue that wasm workloads are not run with any sort of isolation:

* Security, are wasm workloads able to communicate with each other on localhost?
* They encounter port conflicts #288
* This issue with IP addresses

If we don't wish

[2020-06-22 23:34] thomastaylor312 commented on #293
I am not sure how we want to handle the network isolation. Implementing a type of IP-per-Pod networking within Krustlet itself would separate it out from listening on localhost. When networking support lands in WASI, I think you'll have to grant explicit access just like you to with directory access, plus we can listen on the pod IP instead

[2020-06-23 00:11] peterhuene opened #300 "Node TLS bootstrap: empty server certificate created when informer times out"
## Repro steps

Ensure there are no CSR resources related to the `kubelet-wasi` node and then run:

[code]

Do not approve the node certificate and wait for the node to start (may take 5+ minutes).

## Expected results

The node should either continue to wait for up to some configurable time limit (I think kubelet defaults to an hour?) or it should treat an informer timeout as a failure to authori

[2020-06-23 00:12] peterhuene commented on #300
Additionally, it would be nice if there were some info-or-higher message printed when we're waiting for certificate approval.  It would help guide users to approve the certificate.

[2020-06-23 18:50] kflansburg commented on #300
Also having issues with this. I believe this is more of a docs issue. The instructions to run

[code]

make it sound like this should run after Kubelet starts completely, however this is what is being awaited and should be run during the bootstrap process.

[2020-06-23 18:51] thomastaylor312 commented on #300
Good catch on this @peterhuene. I'll pull this in to the 0.4 milestone and we can also improve the log messages while we are there.

@kflansburg We can go reword the docs to be more clear as well. If you've already updated something, feel free to open a PR with those changes

[2020-06-23 18:52] kflansburg commented on #300
Will do, I've caught some typos as well.

[2020-06-23 19:23] kflansburg commented on #300
#301

[2020-06-23 20:39] thomastaylor312 opened #302 "Deduplicate bootstrapping instructions"
Right now we have a lot of copy/paste going on for bootstrapping in each provider. Ideally we could rework things to make it so that we can just point to one set of instructions. To be clear, this is just an enhancement to the docs to make things a little easier to maintain

[2020-06-23 20:46] #287 closed

[2020-06-23 22:22] bacongobbler commented on #297
In my view I see this as a separate provider that can handle both types of workload rather than two separate providers. Reason being is that the architecture from the project's perspective is much simpler: we only have to be concerned about the Provider API, and one has to consume the API in their own fashion to handle these use cases. There may also be some assembly required for a WebAssembly mod

[2020-06-23 22:30] kflansburg commented on #297
I agree that implementing this logic in Kubelet doesn’t make much sense. Perhaps this could be a Provider instead which manages other homogeneous providers so that we do not have to reimplement the actual execution of WASM and LXC workloads.

[2020-06-23 22:32] bacongobbler commented on #297
A provider's provider. I like it. 👍

[2020-06-24 00:01] #256 closed

[2020-06-25 01:20] itowlson commented on #297
I started looking at this because it seems like it would be really useful - the service mesh example had been on my mind too.

One difficulty I immediately ran up against was what to advertise as the `kubernetes.io/arch`.  If a kubelet can run both containerised x86 binaries _and_ WASM modules - as in the example of a WASM container with an Istio sidecar - then what architecture should it claim to

[2020-06-25 01:52] kflansburg commented on #297
I cannot recall where, but I believe I read somewhere that the Kubernetes spec for a Pod explicitly disallows something like this. So we are fighting the API a bit on this.

I haven’t used Virtual Kublet, does it allow you to schedule containers on multiple types of compute in a single pod?

If we go forward with the meta provider idea, our architecture could simply be a tuple that matches a given

[2020-06-25 02:02] itowlson commented on #297
The `arch` label from our point of view is at the Node level, not the Pod level - the virtual node implemented by the kubelet currently advertises an architecture.  I'm not sure if a node is allowed to advertise multiple architectures...

[2020-06-25 02:08] kflansburg commented on #297
Well the pod makes requests for a given architecture. So they must both agree. It may have been Nodes that I read the limitation about though.

[2020-06-25 02:37] itowlson commented on #297
@bacongobbler I think the composite provider-of-providers might be tricky with our current design.  Adding a heterogeneous pod to the composite provider would require it to dispatch _individual containers_ to the architecture-specific providers, which isn't currently possible (providers operate only on pods).  So we might need a lower-level 'container provider' abstraction; existing providers such

[2020-06-25 03:16] kflansburg commented on #297
I think my plan was to modify the pod definition to create two pod definitions containing only containers from each architecture and then forward them to the respective providers. I do think things will get messy (especially when the providers communicate back to the api server), but was planning to give that a shot in the next few days.

[2020-06-25 19:54] peterhuene commented on #257
The issue with authing against GCR was fixed in #255.

[2020-06-25 23:47] itowlson commented on #25
At the moment this looks like it would be a provider-by-provider thing: all the logic for running pods is implemented within the provider.  As far as I can see, if we want to handle this generically at the kubelet level, we'd need to make providers responsible only for running _containers_, not pods.  Am I missing something?  (I expect I am!)

[2020-06-26 03:24] itowlson commented on #25
For avoidance of duplication, I'm looking at this - if someone else is already doing this then please sing out!

[2020-06-26 04:02] itowlson commented on #205
I'll take a crack at this as it would be useful for the init containers work.

[2020-06-26 11:13] deitch commented on #168
I gave it a shot. I started up a k3d cluster, then followed the bootstrapping [here](https://github.com/deislabs/krustlet/blob/master/docs/howto/bootstrapping.md).

Interestingly, there were no outstanding csrs, and the node showed as ready:

[code]

I notice that it still is called `macbook-pro-10.local`.

Although there is nothing on stdout/stderr from running `krustlet-wasi` (I also couldn't fi

[2020-06-26 16:48] EItanya commented on #230
@itowlson have you already picked this up? I have been looking to get involved and this seems like a good place if you haven't already started.

[2020-06-26 17:13] thomastaylor312 commented on #25
Yeah, it is a per provider thing. The provider trait tries to make no assumptions about what is running the underlying workload

[2020-06-26 17:16] thomastaylor312 commented on #168
That is an interesting bug. Basically, when the cert was provisioned it didn't end up with an IP SAN, which it should have. Was this just with a bare k3d cluster running locally? Let me know and then I'll try to replicate the problem on my machine

[2020-06-28 09:08] deitch commented on #168
I find it interesting that I didn't even see the CSR, but it must exist? 🤷‍♂️

As simple as it gets:

[code]

[2020-06-28 19:44] itowlson commented on #230
Go for it @EItanya - I've gotten distracted by other issues.  Thanks and welcome!

[2020-06-29 16:53] bacongobbler commented on #282
I believe it is better if the provider errors out if container arguments are provided.

Taking an example...

1. Kubernetes 1.100 introduces a new image pull policy: `Sometimes`
1. krustlet-wasi and krustlet-wascc do not support this new policy
1. I create a WASI pod, declaring `imagePullPolicy: "Sometimes"`

If we silently dropped this error, we would also silently default to the default policy.

[2020-06-29 21:25] itowlson commented on #282
+1 for validating and failing things we can't process - this is better than silently ignoring them and so doing something the user did not expect and may not have desired.

[code]

[2020-06-30 18:09] #300 closed

[2020-07-01 13:26] kflansburg commented on #293
@thomastaylor312 I've spent some time researching this again this morning. My plan is to:
1. [Patch](https://github.com/kflansburg/http-server-provider) `wascc` HTTP capability to allow specifying host (hopefully wasi implementation will allow this too).
2. Modify `wascc` provider to select an IP to configure this capability with.
3. Attempt to register this with a CNI provider to configure cluste

[2020-07-01 14:29] kflansburg opened #311 "Demos failing due to OCI authentication issues."
When running `greet`, my Pod fails with this message:

[code]

[2020-07-01 14:32] kflansburg commented on #311
If I revert to `03ede5c6812f9c4ef0a7bf087d7ee431404607b8` (one before the OCI Auth pull request) it works.

[2020-07-02 03:06] kflansburg commented on #293
https://github.com/kflansburg/krustlet/tree/networking

I've implemented host / port customization in wascc provider using the patched http capability. The port is configured using the first containerPort in the Pod spec, or defaults to 8080. I was able to curl the `greet` workload on the new IP / custom port.

Outstanding issues:
* I don't know how Kubernetes assigns Pod IPs, right now its hardco

[2020-07-02 18:58] bacongobbler commented on #311
cc @peterhuene

[2020-07-06 16:12] bacongobbler opened #314 "need a setup script to run krustlet on a virtual machine"
For demos/workshops, it would be great if we had a simple setup script to run krustlet in a VM similar to how kubernetes had its own vagrant VM for development environments. Bonus points if we could emulate kind/minikube, but a setup script would be a good first step.

[2020-07-06 21:24] bacongobbler opened #315 "bump wascc-host to 0.10"
There will be a wascc-host 0.10 release coming out later this week. When that's available we should bump to the next release and introduce lattice support (should be as easy as adding`features = ["lattice"]` to wascc-provider's Cargo.toml)

[2020-07-06 21:27] autodidaddict commented on #315
Just a heads up that once you compile in lattice mode, a connection to nats or a nats leaf node is mandatory at startup. Thankfully, deploying a nats container is super easy.

[2020-07-07 00:31] #282 closed

[2020-07-07 00:31] #205 closed

[2020-07-07 04:27] #263 closed

[2020-07-08 15:56] thomastaylor312 opened #318 "Improve local e2e testing experience"
*User story*:

As a user, I would like to easily run the e2e tests without fiddling around and have test output that lets me know exactly what went wrong

*Requirements*:

- A single `just` target that spins up and automatically configures both providers (including approving certs if necessary) and then runs the tests
- If a test fails due to a pod issue (not an output assertion), then output rele

[2020-07-08 17:16] #281 closed

[2020-07-08 20:55] bacongobbler commented on #168
Weird. I think I found the issue.

It's because most Kubernetes distributions ignore the hostname when trying to initiate a connection to the node. k3d uses the hostname to make requests.

[code]

In comparison, if I use `kind` with the exact same setup parameters:

[code]

I think we simply need to make the suggestion to not use k3d until we can figure out a resolution. @deitch please use an alte

[2020-07-09 15:19] deitch commented on #168
What do the others do? It has to use _something_. Is it the IP?

[2020-07-09 15:21] bacongobbler commented on #168
Yes.

[2020-07-09 15:21] #168 closed

[2020-07-12 05:24] jose-acevedoflores commented on #245
Not sure if this is the right spot but it might be a good idea to add to the MicroK8s Prerequisites that you need the '--enable-bootstrap-token-auth' flag on 1.18 for the kube-apiserver. I installed MicroK8s through snap so it was a simple entry to /var/snap/microk8s/current/args/kube-apiserver. I was having trouble with the wasi demos getting a 401 Unauthorized when attempting to apply the Certif

[2020-07-12 06:11] bacongobbler commented on #245
We’d love a microk8s guide in the how-to guide section of our documentation if you have the time to write one up. :)

https://github.com/deislabs/krustlet/tree/master/docs/howto

[2020-07-13 16:20] thomastaylor312 commented on #311
I am seeing this on windows, but not all people appear to have this issue. We will keep investigating to see what is causing

[2020-07-14 21:20] #288 closed

[2020-07-14 22:37] itowlson opened #323 "Fix reporting of init container statuses"
The current init containers implementation reports init container status via the `containerStatuses` field in the pod YAML.  It should report them through the `initContainerStatuses` field.

[2020-07-14 22:40] #25 closed

[2020-07-16 23:01] #323 closed

[2020-07-17 12:43] DerekStrickland opened #327 "Document the need for image pull secrets"
Working through the 1, 2, 3 first app tutorial, and discovered that I needed to create and add an image pull secret in order to pull from the azure registry I created.

Used this document to get passed the ImagePullBackoff.

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-kubernetes#:~:text=your%20service%20principal.-,Create%20an%20image%20pull%20secret,password%

[2020-07-17 12:56] DerekStrickland opened #328 "No command specified error on startup"
Working through the first app 1, 2, 3 tutorial and pod is failing to launch.  Not sure if this is a known issue or just user error on my part ( probably the latter :P ).

`krusty                                                            0/1     CreateContainerError   0          14m`

Event stream shows.

`Error: failed to generate container "<omitted>" spec: no command specified, (via Pod krusty)

[2020-07-17 13:28] bacongobbler commented on #327
Duplicate of #257?

[2020-07-17 15:23] #315 closed

[2020-07-17 15:57] DerekStrickland commented on #327
I don't think so.  What I am saying is that the documentation doesn't tell me that I need to  create an imagePullSecret and add it to the yaml. Once I followed the steps at the link I provide before to create the secret and then modified the yaml like so I stopped getting the authorization error message in the event stream, and started getting the error I documented in [issue 328](https://github.c

[2020-07-17 16:05] bacongobbler commented on #327
The reason why I think this may be a duplicate of #257 is because we do not currently have support for image pull secrets. Krustlet does not read them in before fetching the module from the specified registry.

Creating an image pull secret might've been just a red herring.

[2020-07-17 16:12] bacongobbler commented on #327
Labelling a a question for now as we do not have a solid grasp on the underlying issue causing this behaviour. Let us know what you find out.

[2020-07-19 20:39] itowlson commented on #157
@thomastaylor312 Is this bound up with the status refactor or can it be progressed separately?  It feels like we will need to make container states and transitions at least a bit more explicit in order to tackle this effectively...

[2020-07-20 15:46] thomastaylor312 commented on #157
Yeah, this is basically tied together with the status (and possible state machine) refactor for now, as any effort to implement this will either be undone or make the refactor harder

[2020-07-20 21:30] bacongobbler commented on #311
I have also been able to reproduce this on WSL2 with krustlet-wascc on master. Logging in with `az login` on the host running krustlet does not appear to resolve this either.

Reverting back to 0.3.0 as @kflansburg pointed out works fine.

FWIW, pulling the module with `wasm-to-oci` without being logged in works as expected:

[code]

[2020-07-20 22:21] thomastaylor312 opened #329 "Add e2e tests for Windows"
Due to rustls not supporting IP SANs, we can't use minikube or kind out of the box because they don't have an FQDN. If possible, we should find a workaround for this and get windows specific e2e tests running

[2020-07-23 12:27] DerekStrickland commented on #327
So upon further inspection, I am thinking you are right. I'll look into that issue and see what's required.

[2020-07-23 12:27] #327 closed

[2020-07-23 18:06] #20 closed

[2020-07-23 18:41] bacongobbler commented on #311
assigning to myself to look into this regression further.

[2020-07-27 23:27] itowlson opened #334 "Rationalise krustlet/arch and kubernetes.io/arch"
The kubelet node builder automatically sets the node `kubernetes.io/arch` label to the provider's `ARCH` constant.  The in-repo providers also taint the nodes with the key `krustlet/arch`.  This means that pods need to _tolerate_ `krustlet/arch` but _select_ `kubernetes.io/arch`, which feels a bit inconsistent.  We should consider adopting `kubernetes.io/arch` as the taint key for the in-repo prov

[2020-08-04 09:26] TimothyGe commented on #311
Running into similar issue when running demo `kubectl apply -f greet.wascc.yaml`. `kubectl describe pod greet` failed when pulling
[code]

While pulling with `wasm-to-oci` is okay
[code]

[2020-08-04 15:29] bacongobbler commented on #311
@TimothyGe if you revert back to commit 03ede5c6812f9c4ef0a7bf087d7ee431404607b8 (or further back, like to krustlet 0.3.0), does that fix your issue?

[2020-08-05 14:58] #311 closed

[2020-08-05 15:22] #239 closed

[2020-08-05 15:24] bacongobbler opened #338 "investigate environment variables for waSCC"
From a comment in #331:

[2020-08-05 20:05] bacongobbler opened #341 "CI: publishing a new version of oci-distribution and kubelet fails"
There is a bit of a timing issue where kubelet relies on a new version of oci-distribution to be made available before it can be published. `cargo publish` for oci-distribution does run before publishing kubelet, but there is a timing issue before it is discoverable by cargo.

[2020-08-10 16:22] thomastaylor312 opened #345 "State machine refactor"
Currently, the code is a whole bunch of "megafunctions" that make it really hard to reason about. It also forces writers of other Providers into similar coding patterns. We are currently in efforts to refactor things into an actual state machine where each state can be handled as its own unit of work

[2020-08-10 16:23] thomastaylor312 commented on #345
cc @kflansburg, who has been driving this work, but I can't assign the issue to for some reason

[2020-08-10 22:21] bacongobbler opened #346 "Kruslet v0.4.0 Windows does not exist"
[code]

[2020-08-11 00:33] #341 closed

[2020-08-12 13:53] amar123deep opened #350 "Error when running krustlet with Kind"
Hi, I am experiencing the following error when I tried the steps in the [link](https://github.com/deislabs/krustlet/blob/master/docs/howto/krustlet-on-kind.md). I used version 0.4.0 for krustlet. Output is:

$ krustlet-wascc --node-ip 172.17.0.1 --bootstrap-file=~/.krustlet/config/bootstrap.conf

BOOTSTRAP: TLS certificate requires manual approval. Run kubectl certificate approve inst1-tls
BOOTSTR

[2020-08-13 21:06] LifeIsStrange opened #351 "Wasmtime is mostly dead"
Mozilla has fired 25% of it's workforce a few days ago.
Among them, some rust core team members and all wastime paid devs have been fired.

[2020-08-13 21:17] #351 closed

[2020-08-13 21:48] peterhuene commented on #351
Not only is it factually incorrect regarding the Wasmtime developers at Mozilla (of which I am still one), Wasmtime is a Bytecode Alliance project and is maintained by a large number of contributors outside of Mozilla.

Even if this were the proper forum to discuss it, which it is absolutely not, please refrain from spamming repositories with unactionable issues like this one.

[2020-08-13 23:32] LifeIsStrange commented on #351
*Not only is it factually incorrect regarding the Wasmtime developers at Mozilla (of which I am still one)* great, I didn't know that. It does not confirm that wasmtime will get enough resources to achieve its goals but still is a reassuring information.

*Wasmtime is a Bytecode Alliance project and is maintained by a large number of contributors outside of Mozilla.* same answer, I wonder how acti

[2020-08-14 00:26] bacongobbler commented on #351
I am going ahead and locking this thread as this discussion is neither constructive, actionable, nor helpful.

But to be totally clear on our stance - as peter mentioned earlier - wasmtime is maintained by a larger group of contributors as part of the ByteCode Alliance. While we are sad to hear about the layoffs at Mozilla, that does not mean that wasmtime is “mostly dead”. We are quite confident

[2020-08-16 19:35] amar123deep commented on #350
On the [release](https://github.com/deislabs/krustlet/releases) page, it's mentioned as an issue, however it does not impact the running of krustlet.

[2020-08-16 19:35] #350 closed

[2020-08-16 19:44] amar123deep opened #352 "How configuration of wascc host is handled by krustlet"
wascc host needs to be configured by adding actor as well as capabilities to the host. One also needs to pass binding between the actor and the capability as shown in the [tutorial](https://wascc.dev/tutorials/first-actor/create_host/).

How one can pass configurations, such as binding between the actor (via its public key) to the capabilities (such as key-value store or wascc messaging capabiliti

[2020-08-16 23:26] itowlson commented on #230
@EItanya Are you still working on this?  Let me know if not and I can pick it up.

[2020-08-17 17:30] #346 closed

[2020-08-17 19:40] thomastaylor312 commented on #346
I manually built and checksummed the krustlet 0.4 windows blob. It should be available now

[2020-08-17 20:08] thomastaylor312 commented on #170
Just opened a PR to pull this in to Kube-rs: https://github.com/clux/kube-rs/pull/309

[2020-08-18 14:09] EItanya commented on #230
Hey @itowlson sorry for the late reply, things got crazy on my end and I haven't had time to pick work on it. Feel free to pick it back up

[2020-08-18 20:43] amar123deep opened #356 "handling image from insecure registry"
I set up a local registry with [kind](https://kind.sigs.k8s.io/docs/user/local-registry/). I pushed web assembly image via wasm-to-oci, but wasn't able to deploy the workload via kubectl. kubectl describe pod POD_NAME points to error message that krustlet is using https instead of http.

`Message:      error sending request for url (https://localhost:5000/v2/): error trying to connect: error:1408F

[2020-08-18 20:51] thomastaylor312 commented on #356
Thanks for reporting this @amar123deep! So we definitely have support for this in the underlying OCI library, but we haven't exposed a flag to allow insecure registries. I am going to label this as an enhancement and we'll see if we pull this in to 0.5

[2020-08-18 21:32] #334 closed

[2020-08-18 21:37] #170 closed

[2020-08-18 22:19] #230 closed

[2020-08-18 23:07] itowlson commented on #356
Can we run through the desired behaviour?  There are a few possibilities:

1. A configuration option which tells the kubelet to _always_ use insecure HTTP for registry pulls. This would be very simple to implement and would likely address @amar123deep's local dev scenario, but it a very blunt instrument.

2. A configuration option which tells the kubelet to _fall back_ to insecure HTTP if secure H

[2020-08-19 00:23] thomastaylor312 commented on #356
I think you are correct @itowlson. Number 3 is the best and most robust option. I don’t know that the actual kubelet has that option, but I think we should.

[2020-08-19 16:39] thomastaylor312 opened #358 "Pre-compiled ARM binaries"
As a user, I would like to be able to download `aarch64` prebuilt binaries so I can run Krustlet on 64 bit ARM devices (like Raspberry Pi).

Other notes:

We may also want to have an "openssl-less" ARM binary to make it easier to just drop in on an embedded device

[2020-08-19 21:54] itowlson commented on #356
@amar123deep Would you have a moment to try out #359 and see if it works for you?  My unit tests are passing but I'm not sure how to integration-test it.  Just add `--insecure-registries <your-registry-name>` to the krustlet command line options.  Thanks!

[2020-08-20 07:15] amar123deep commented on #356
Sure @itowlson!

[2020-08-20 08:23] amar123deep commented on #356
I tried the branch, but somehow it's failing due to the following reason (output of `kubectl describe pod POD_NAME`):
`Warning  FailedScheduling  16s (x2 over 16s)  default-scheduler  0/2 nodes are available: 1 node(s) didn't match node selector, 1 node(s) had taint {kubernetes.io/arch: wasm32-wascc}, that the pod didn't tolerate.`

[2020-08-20 21:35] itowlson commented on #356
@amar123deep You might need to update your pod spec, there is a breaking change merged on this branch (from an earlier PR, not related to this one) - your pod now needs to tolerate `kubernetes.io/arch` rather than `krustlet/arch`.  Looks like the uppercase demo pod spec in main has this but perhaps you had an older version lying around?  Otherwise @thomastaylor312 this sounds related to your archi

[2020-08-20 22:24] thomastaylor312 commented on #356
@itowlson I just tested this on `master` and the demo works properly. I also tested with your PR and it works fine. So maybe you have an old copy @amar123deep?

[2020-08-21 07:06] amar123deep commented on #356
Thanks @itowlson! It works fine with local (insecure) as well as azure registries. I had an old copy causing the above mentioned issue.

[2020-08-21 07:06] #356 closed

[2020-08-24 14:04] amar123deep commented on #248
It will be nice to provide atleast the messaging capability `wascc:messaging` to build a distributed application. Also I totally agree that there should be a way to add/expose custom capabilities.

Also, newer version of wascc supports `lattice`. How to switch on this feature?

[2020-08-24 17:32] thomastaylor312 commented on #248
We are working through how we'd like to handle the lattice feature within Krustlet. We have played around with it, but nothing is solid yet

[2020-08-25 04:11] itowlson commented on #257
I've got a proof of concept that works with ACR (though I'm not sure if I'm doing the right thing for the general case!).  Will pick this up and refine my solution into something more product-like unless anybody else wants to claim it.

[2020-08-27 00:56] itowlson opened #366 "Simplify recovery if integration test cleanup fails"
In some circumstance it's possible for the integration tests to leave pods in an unusable state - like they never went ready but aren't able to terminate either - which also blocks deletion of the namespaces, and causes vexing failures next time you try to run the tests.

You can clean up the naughty pods with kubectl, and the namespaces then recover, but this takes a couple of minutes, so we don'

[2020-09-01 21:45] #257 closed

[2020-09-02 15:21] thomastaylor312 opened #369 "Cleanup on bootstrap fail"
Right now, if the bootstrap process fails part of the way through, it leaves a bunch of invalid resources around in the cluster (like the old CSR). As a new user, it would be helpful if I didn't have to clean these up manually after a bootstrap fail.

Requirements:
- Clean up auth certificate CSR on failure

Questions:
- Should we clean up anything else? Cleaning up local config sounds dangerous,

[2020-09-02 15:22] thomastaylor312 commented on #369
This would probably be a good first issue once we answer the outstanding question

[2020-09-03 17:43] bacongobbler opened #372 "re-implement the wasi provider"
https://github.com/deislabs/krustlet/pull/344 implemented state machine logic and re-implemented the wascc provider. We need to use the wascc provider implementation to re-implement the wasi provider.

[2020-09-03 17:46] bacongobbler opened #373 "re-implement pod eviction on node shutdown"
See https://github.com/deislabs/krustlet/pull/344#discussion_r475844141

[2020-09-03 17:47] bacongobbler opened #374 "Refactor Pod::queue"
In Pod::queue, there's a huge method for running the Pod: [`run_pod`](https://github.com/deislabs/krustlet/blob/3cf9b9c0dac33a1cff1060b48a61eeceaaeebfe5/crates/kubelet/src/pod/queue.rs#L36). We should look into refactoring this code to make it a little simpler to read.

[2020-09-03 17:48] bacongobbler opened #375 "support more Transition options for more outgoing edges"
Right now, each state can only transition from one state to the next, or enter an Error state. There may be cases in the future where we may need to transition to one or more states, depending on the outcome of the current state.

[2020-09-03 17:48] bacongobbler opened #376 "Add class methods to Transition to remove all the Boxes the user has to create"

[2020-09-03 17:48] bacongobbler opened #377 "Remove remaining errors and unwraps in wascc states"
Ideally, these handlers should never fail and instead transition to Error states.

[2020-09-03 18:35] bacongobbler commented on #373
fixed in https://github.com/deislabs/krustlet/pull/344/commits/aada5f8f51b428d26ca31d5de2a9c56f50114c3d

[2020-09-03 18:35] #373 closed

[2020-09-07 21:12] itowlson commented on #369
If "bootstrap fail" refers to the bootstrapping that happens within the kubelet, then we should delete only the CSR; leave all the script stuff intact.  The user should be able to run the kubelet again and re-attempt the CSR creation and approval using the existing bootstrap config.

If `bootstrap.sh` fails then I think the user can just run it again - there won't be any conflicts there will there

[2020-09-08 16:20] thomastaylor312 commented on #369
Yep, I believe so. Just wanted to check so we didn't do anything stupid

[2020-09-08 16:57] thomastaylor312 commented on #374
This ideally will be taken care of when I pull in the `kube_runtime` crate

[2020-09-09 21:37] #366 closed

[2020-09-10 04:30] itowlson commented on #241
I'm having a crack at a Yeoman-based approach at https://github.com/deislabs/generator-wasm-oci-rust - feedback welcome.

[2020-09-11 17:01] bacongobbler opened #384 "ref(wasi-provider): drop HashMap for field handles"
With the refactor, `handles` only holds one handle to the pod, with each container's handle part of the pod handle. The HashMap<String, Handle> can therefore be refactored to an `Option<Handle>`.

[2020-09-12 11:41] kflansburg commented on #384
is this referencing `SharedPodState::handles`? That holds multiple handles and is needed for logging / exec.

[2020-09-12 12:13] kflansburg commented on #375
FWIW, there is actually nothing stopping us from doing `Transition::Advance(Box<A>)` and `Transition::Advance(Box<B>)` in the same handler. Given this, I propose that the only options for Transition are `Continue` and `Complete`. I'm more or less fine with this relaxation, but my problem is that there is no way to enforce somewhere which edges exist. It would be nice to enforce that an edge trait

[2020-09-14 16:09] thomastaylor312 commented on #384
Isn't the hash map shared across all pods?

[2020-09-14 16:09] bacongobbler commented on #384
Yep

[2020-09-14 16:09] #384 closed

[2020-09-14 16:11] #345 closed

[2020-09-14 16:12] thomastaylor312 commented on #278
This has been taken care of with the state machine refactor

[2020-09-14 16:12] #278 closed

[2020-09-15 02:05] itowlson commented on #241
Generator/template moved to https://github.com/deislabs/generator-wasm-oci

[2020-09-15 20:30] thomastaylor312 opened #386 "Implement exponential backoff for `*BackOff` states"
Right now we just wait 60 seconds. We should actually be increasing that time using an exponential backoff

[2020-09-16 01:27] itowlson commented on #386
I'd like to tackle this one, please, once the reworked kubelets with the state machine land.

[2020-09-16 16:22] bacongobbler opened #387 "check media type before pulling image"
There can be cases where a user would submit a pod onto krustlet thinking it can run a docker image. We should check to see if the media type of the image is compatible with the runtime before attempting to fetch and unpack it.

[2020-09-21 16:09] #372 closed

[2020-09-21 16:24] kflansburg opened #390 "Make State Handlers Infallible"
Instead of returning `Result<Transition>`, return `Transition` to prevent unhandled errors in state handlers

As discussed in #389 .

[2020-09-21 21:55] #375 closed

[2020-09-21 21:55] #376 closed

[2020-09-22 02:06] itowlson commented on #377
Fixed via #389.

[2020-09-22 02:06] #377 closed

[2020-09-22 23:26] #386 closed

[2020-09-23 19:18] thomastaylor312 opened #395 "Wascc pods do not show ready"
It looks like the wascc pods do not show as ready, even though they are running. I used the uppercase demo and was able to curl it just fine, but the output kubectl is:

[code]

I don't think we are updating container statuses properly in wascc

[2020-09-23 19:59] thomastaylor312 commented on #318
This has been closed by the issues mentioned above

[2020-09-23 19:59] #318 closed

[2020-09-23 21:45] bacongobbler opened #397 "bug: images without a slash in the name should be accepted"
[code]

Names like `nginx` are valid image references.

[2020-09-23 21:47] bacongobbler commented on #387
Here's what happens when you try to pull an image like `docker.io/nginx`:

[code]

[2020-09-23 21:57] bacongobbler commented on #387
Okay. That's due to a spurious error. Here's a proper error message:

[code]

[2020-09-23 22:01] bacongobbler commented on #387
Oh... I see why that's failing now. Invalid media types. Krustlet expects an OCI Image Manifest. kube-proxy returns a Manifest List.

I think we need to take some time and refactor oci-distribution so that it can handle these types.

[2020-09-25 00:57] itowlson opened #400 "Provide better diagnostics if lease renewal fails"
If a kubelet's node already exists in the k8s node list, but the associated lease does _not_ exist, then the kubelet fails during startup trying to update a nonexistent lease, with just a raw "NotFound" dump of the k8s JSON response.

We should provide better diagnostics and documentation to help users recover their nodes if this happens.

[2020-09-25 15:58] thomastaylor312 opened #403 "Properly wait for namespace creation to stabilize in tests"
Currently in our integration tests, we are just doing [a delay](https://github.com/deislabs/krustlet/pull/396#discussion_r495082143) to give the controller enough time to create the token for the `default` service account. However, we should do this more smartly. Ideally, we should do a watch (on exactly what will be part of this issue, probably something like the status of the `ServiceAccount` or

[2020-09-28 20:12] thomastaylor312 commented on #374
This was taken care of in #396

[2020-09-28 20:12] #374 closed

[2020-09-28 20:15] thomastaylor312 opened #409 "Implement a container state machine for the WASI provider"
Ideally, each container can be run as its own (tiny) state machine. This should help centralize container status updating and container management

[2020-09-28 20:17] bacongobbler opened #410 "Make patching container statuses more approachable"
Right now, each provider has to manually send patch requests to kubernetes to update their container statuses. This seems ripe for refactoring to make it simpler for each provider to provide status updates.

https://github.com/deislabs/krustlet/blob/0e838ab046b32b70d5da855b59354867e7262f7e/crates/wasi-provider/src/states/running.rs#L45-L56

[2020-09-28 21:48] #390 closed

[2020-09-29 13:28] jiayihu commented on #358
Is there anything specific that blocks krustlet from being used in ARM32? I'm evaluating it for usage with a STM32F429 board with 2MB Flash and 192KB RAM

[2020-09-29 15:27] thomastaylor312 commented on #358
Right now it is a limitation of what `wasmtime` and `wasm3` (the runtimes we are using) can compile to. I am pretty sure they only have the instruction sets for ARM64 (when they execute wasm). @bacongobbler is that correct?

[2020-09-29 15:50] bacongobbler commented on #358
wasmtime cannot be compiled to arm32 at this time due to https://github.com/bytecodealliance/wasmtime/issues/339. wasm3 should be able to run on an ARM device as per their README:

The tricky part will be building a hex file where you can run Krustlet on that STM32. That will likely require a custom provider. I would recommend looking into the AVR Rust project: https://github.com/avr-rust/

[2020-09-29 15:52] bacongobbler commented on #358
It looks like AVR Rust has been merged into core, so it should be much simpler to experiment with now! https://www.avr-rust.com/#installation-rustup

[2020-09-29 22:00] jiayihu commented on #358
Didn't understand the part about AVR-rust, isn't AVR just another kind of board such as STM32? For the latter there is already [stm32-rs](https://github.com/stm32-rs/stm32-rs). About the custom provider, I was more thinking about building a runtime based on [RTIC](https://github.com/rtic-rs/cortex-m-rtic), which in turn is based on Ada Ravenscar, and it has low footprint while allowing concurrency

[2020-09-29 22:26] bacongobbler commented on #358
Sounds interesting. Let us know what you find out!

[2020-10-01 13:34] kflansburg opened #416 "Deleting waSCC Pod Always Throws Volume Capability Error"
[code]

[2020-10-01 13:40] kflansburg commented on #416
@thomastaylor312 It seems like this is caused by the actor not having the `FS_CAPABILITY`, so the volumes aren't actually mounted on start. Then, when terminating, we try to unmount the volume which causes a capability error. I'm confused why this capability isn't found, is this some issue with my local configuration? Or is this related to the `greet` pod specifically? Either way it seems like we

[2020-10-01 18:35] bacongobbler commented on #387
So it turns out this is trickier than first conceived. As we're aiming `oci-distribution` to support all media types, we cannot validate the manifest against a specific media type. By the time we can perform validation (in the provider), manifest metadata has been stripped from the content, and we're only left with a `Vec<u8>` containing the layer metadata.

This will require some further thinking

[2020-10-01 18:51] thomastaylor312 commented on #416
I think it is the greet pod not having the capability. We definitely should check if it has the capability before trying to load any volumes. This feels kinda related to #248

[2020-10-06 17:22] #395 closed

[2020-10-06 17:22] #416 closed

[2020-10-06 17:33] thomastaylor312 commented on #182
One other question I have discovered while implementing CSI: Many of the current cloud providers use the "legacy" cloud controller manager. After some initial digging, I am still not sure how those disks get attached to a node in an AKS/EKS/GKE cluster, but it may Just Work™. We should do some investigation/testing with that to see what happens

[2020-10-07 01:12] itowlson opened #420 "State function documentation makes it hard to get to errors"
There is a lot of documentation on states and functions, which is great, _but_... it means that when you want to see how to use something, or to look at an error in VS Code, you have a _lot_ of content that is essentially "should not compile" doc-tests to wade through.

Here's something I'm doing right now:

![image](https://user-images.githubusercontent.com/865538/95275891-37e0ba00-08a6-11eb-953e

[2020-10-07 01:40] moose-consulting commented on #420
I suspect / agree that most of this should be reorganized to be module-level documentation. It makes sense for method docstrings to be limited to a few lines.

[2020-10-07 01:40] kflansburg commented on #420
I suspect / agree that most of this should be reorganized to be module-level documentation. It makes sense for method docstrings to be limited to a few lines.

[2020-10-14 10:02] advancedwebdeveloper opened #423 "All tests are failing, on Windows 10"
Hi.
I was targeting to check which blocking issues disallow to use Krustlet on Windows 10 - and found that [all tests are failing](https://gist.github.com/advancedwebdeveloper/8aa64518afe646864861a057ba82e5e6).

I have fired

but didn't mentioned any issues in compiling (at least - no errors).

Looks like

is related to some socket connection timeout.

Looks like nothing was deployed to Kubernetes

[2020-10-18 16:05] kflansburg opened #425 "Update to Tokio 1.0"
I think this will be a bit of a task, because:
* Some of our dependent crates will not have updated yet.
* They have changed the names of some feature flags.
* They have reworked the API surrounding AsyncIO traits.
* We might want to familiarize ourself with the runtime changes.

I think there is inherent advantages to staying up to date with Tokio, but there are some feature advantages as well. I

[2020-10-19 20:25] kflansburg opened #428 "Revise E2E Tests"
As noted in #424 , several WASI e2e tests appear to wait for the container to enter the Failed state before evaluating the test conditions. I do not believe this matches our expected Pod behavior, instead we would expect the Pod to enter the Error state and then restart / retry. I believe it would be more accurate to monitor Pod events and pass the test based on some chain of events (Running -> Co

[2020-10-19 20:28] kflansburg opened #429 "WASI Provider Restart Pod Issues"
While evaluating WASI E2E tests where a container failed and the Pod restarted, there appears to be an error related to a dropped channel in the Registered state the first time around. I believe there may be some cleanup that needs to be done in the Error state in anticipation of returning to Registered state to try again.

[2020-10-19 20:30] bacongobbler commented on #428
Thanks for reporting this @kflansburg. Just to be certain, is there an easy way to test this behaviour out with the OG kubelet? I'm assuming a simple test like a Pod with a container that starts, but exits with a non-zero exit code would be sufficient enough to assert OG kubelet's behaviour in this scenario. Is that correct?

[2020-10-19 20:40] kflansburg commented on #428
Yep, this Pod spec:

[code]

Results in these events, showing the retry:
[code]

[2020-10-20 02:16] itowlson commented on #423
Can you check the node IP (as shown in `kubectl get node -o wide`) against the `KRUSTLET_NODE_IP` environment variable?

cc @thomastaylor312

[2020-10-20 09:20] advancedwebdeveloper commented on #423
First things first - [here is](https://gist.github.com/advancedwebdeveloper/4d168c352f7362fddfc75b24ca1b4333) my log, for stating Minishift.

Checking the status, in a less verbose form:

Same stuff, in a much more detailed form:

[2020-10-20 09:47] advancedwebdeveloper commented on #423
@itowlson , no I cannot:

I tried this:

[Here](https://gist.github.com/advancedwebdeveloper/8ba8d4d0044d2e279d9416afba0b84f3) is my output from

[2020-10-20 22:48] itowlson commented on #423
Can you create namespaces manually e.g. `kubectl create ns wintest`?  It sounds like you may have a more fundamental permissions issue that prevents the tests (running with your permissions) from accessing the cluster to create the test namespaces; quite possibly this also affects the kubelets (assuming you are running them interactively) from registering with the API server.

If you _can_ create

[2020-10-21 11:11] advancedwebdeveloper commented on #423
Yes, I was able to do that.
[Here](https://gist.github.com/advancedwebdeveloper/b9533eb5cf692a7eb8b3c866413b1335) is my tracing log.

That could be true, eventually.

How would I do that.
Btw my "home" folder has two folders: .kube and .minishift
.

Check out Minishift's documentation.

What should I check next?

[2020-10-21 16:53] bacongobbler commented on #423
Hi @advancedwebdeveloper. I would suggest trying out the existing HOWTO guides to become familiar with the setup involved. The HOWTO guides have all been tested out and are known to work. We have not yet tested Krustlet against minishift so we cannot guarantee that it will work on that system.

Once that's done, you can start gaining a better understanding of how krustlet interacts with the Kubern

[2020-10-21 20:51] bacongobbler opened #430 "remove WASM assumptions in the OCI store"
In the `kubelet` crate, we make certain assumptions about the content of each layer being pulled and how they should be unpacked into the store cache. For example, every manifest pulled is assumed to be a webassembly module, and therefore the module should be unpacked to `module.wasm`.

https://github.com/deislabs/krustlet/blob/b5674ecc5d22ba95c6604fd96d8cb86c9a263f04/crates/kubelet/src/store/oci/

[2020-10-21 20:52] bacongobbler opened #431 "fix: oci-distribution overwrites content in previous layers with the last layer"
If `oci-distribution` is to support pulling manifests containing more than one layer, we will need to ensure that each layer's content is returned.

https://github.com/deislabs/krustlet/blob/b5674ecc5d22ba95c6604fd96d8cb86c9a263f04/crates/oci-distribution/src/client.rs#L107-L115

[2020-10-22 16:36] thomastaylor312 commented on #423
Another important note here is that due to the library used so we don't have an OpenSSL dependency, your server needs to have an FQDN or hostname of some kind. It will not work with bare IP addresses

[2020-10-26 15:39] #338 closed

[2020-10-26 15:50] #431 closed

[2020-10-26 17:38] #358 closed

[2020-10-27 15:28] raravena80 opened #438 "CNCF-Runtime discussion/presentation(?)"
Hello Krustlet team,

I'm one of the co-chairs of the CNCF SIG-Runtime, although the project seems experimental I think it would be great for you to present/discuss it at one of our meetings.

Let me know if this something you'd be interested in doing. If yes, please feel free to add it to our [agenda](https://bit.ly/cncf-sig-runtime-meeting-notes) or reach out to me (raravena80 at gmail.com)

Tha

[2020-10-27 16:34] thomastaylor312 commented on #438
I think this would be a great idea! Let me go ahead and add it to the agenda. Are there any specific things you'd want us to focus on or just a general overview?

[2020-10-27 19:56] raravena80 commented on #438
A general overview and sample use cases would be great!  Thanks!

[2020-10-28 17:23] bacongobbler commented on #423
@advancedwebdeveloper were you able to resolve your issue?

[2020-10-28 17:24] bacongobbler commented on #438
thanks @raravena80!

[2020-10-28 17:24] #438 closed

[2020-10-28 17:29] bacongobbler commented on #352
This is performed automatically via krustlet. The actor requests certain capabilities like `wascc::logging` or `wascc::filesystem` and Krustlet exposes Kubernetes's capabilities through this system. For example, volume mounts are provided as `wascc::filesystem` capabilities, and Services are provided as `wascc::http` capabilities.

[2020-10-28 17:29] #352 closed

[2020-10-28 17:54] bacongobbler commented on #328
I just tried walking through the tutorial and could not reproduce this issue with the latest canary release. I'm going to close this for now assuming that it's been resolved in more recent releases. Let us know if you run into this again. Thanks for the report!

[2020-10-28 17:54] #328 closed

[2020-10-28 17:57] bacongobbler commented on #352
FYI: the ticket on custom capabilities can be found here: https://github.com/deislabs/krustlet/issues/248

[2020-10-28 18:06] bacongobbler opened #439 "krustlet-wasi fails on startup: No such file or directory (os error 2)"
krustlet-wasi should automatically create this directory if it does not already exist.

[code]

[2020-10-28 18:08] bacongobbler commented on #439
Hmm... This seems like it could be some other level further down.

[code]

[2020-10-28 18:14] bacongobbler commented on #439
Got to the bottom of this setting `RUST_LOG=debug`:

[code]

[2020-10-28 18:16] bacongobbler commented on #439
d'oh... Never followed the bootstrap documentation. Disregard.

https://github.com/deislabs/krustlet/blob/master/docs/howto/bootstrapping.md

[2020-10-28 18:16] #439 closed

[2020-10-28 18:16] bacongobbler commented on #302
https://github.com/deislabs/krustlet/blob/master/docs/howto/bootstrapping.md

[2020-10-28 18:16] #302 closed

[2020-10-28 18:23] bacongobbler commented on #101
Removing "good first issue" as this involves writing a waSCC actor SDK in C/C++ as one currently does not exist.

https://github.com/wascc/wascc-actor

[2020-10-28 18:26] bacongobbler commented on #214
I believe this has now been implemented with the state machine refactor. Changing the container image triggers a re-pull with the new image.

[2020-10-28 18:26] #214 closed

[2020-10-28 18:28] bacongobbler commented on #241
thanks @itowlson! I'm going to close this as there's no action to be taken here on Krustlet's side. We can point users to projects like the yeoman generator @itowlson wrote to handle this use case.

Thanks for the suggestion @squillace!

[2020-10-28 18:28] #241 closed

[2020-10-28 18:33] autodidaddict commented on #101
waSCC will soon support Tinygo, AssemblyScript, Zig, and we already support Rust. There are no plans to write a C or C++ Actor SDK.

[2020-10-28 18:36] bacongobbler opened #442 "[waSCC] hello-world-assemblyscript: Could not find function "HandleRequest""
[code]

krustlet-wascc logs:

[code]

[2020-10-28 20:46] thomastaylor312 commented on #101
Closing per @autodidaddict's feedback

[2020-10-28 20:46] #101 closed

[2020-10-28 21:12] bacongobbler opened #443 "aks: cannot create resource "certificatesigningrequests" in API group "certificates.k8s.io" at the cluster scope: Forbidden"
After following the krustlet on AKS tutorial, krustlet cannot start due to a failed scope permission.

It appears that the user created with the `system:bootstrap` role cannot create certificate signing requests.

[code]

If I copy over my administrator's kubeconfig to the node and place it under /etc/krustlet/config/kubeconfig (fetched via `az aks get-credentials`), everything starts working agai

[2020-10-28 22:02] bacongobbler opened #444 "krustlet-wascc pods never enter the ready state"
Using krustlet-wascc 0.5, the pods enter the running state, but never reports readiness.

[code]

krustlet-wascc logs:

[code]

[2020-10-28 22:14] advancedwebdeveloper commented on #423
I will reply later - was focusing on another project.
Expect more reported bugs

[2020-10-30 16:58] thomastaylor312 commented on #443
I already have been in contact with the AKS team to determine if this was from a change they did or not. Before, those roles already existed. You just need to add these bindings using admin credentials:
https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping/#authorize-kubelet-to-create-csr
https://kubernetes.io/docs/reference/command-line-tools-reference/kubele

[2020-11-02 21:25] thomastaylor312 opened #446 "Windows tests failing with OCI paths"
There are two components to this bug:

1. Windows tests pipelines are still showing green even when there are failures. This likely has something to do with my lack of Powershell skills
2. There are currently failures with the OCI crate:

[code]

This is causing problems with other parts of the code as well:
[code]

You can see an example run and output [here](https://github.com/deislabs/krustlet/

[2020-11-05 01:09] #410 closed

[2020-11-10 19:18] bacongobbler commented on #314
https://github.com/bacongobbler/krustlet-on-azure is a good starting point. After the user generates an SSH key and a Service Principal, they only need to click a button to create a cluster with Krustlet installed.

[2020-11-10 19:26] david6983 opened #447 "Running Krustlet on Docker Desktop Mac OS X"
For my project, I would like to:
- run krustlet on Docker Desktop on mac os x without using minikube, microk8s or kind.
- Then, my goal is to run krustlet on a kubernetes cluster provided by rancher 2.0.

Any idea, how can easily install krustlet ?

[2020-11-10 19:28] bacongobbler commented on #447
Hi @david6983!

Have you had the chance to look through the HOWTO tutorials on running Krustlet using KinD, minikube, etc? Several of us are running and testing Krustlet on a macOS development environment and would be happy to help you out if you have any issues.

https://github.com/deislabs/krustlet/tree/master/docs

[2020-11-10 19:30] bacongobbler commented on #447
With regards to Rancher 2.0, I do not believe we've tested that scenario yet. I would suggest trying out one of the HOWTO guides first before attempting to venture off the beaten path.

[2020-11-10 19:56] david6983 commented on #447
I am wondering why not using just Docker Desktop instead of all the solutions like microk8s, KinD, minikube and so on.

Docker Desktop is actually running a kubernetes cluster, why not just using it instead of using minikube for example ?

[2020-11-10 20:01] bacongobbler commented on #447
Docker Desktop should work as well.

If you're having issues with a particular section of the docs, please feel free to [reach out on Slack](https://github.com/deislabs/krustlet#community-discussion-contribution-and-support). Happy to help you out there and figure out what parts of the guide are unclear or need further clarification.

[2020-11-10 20:07] david6983 commented on #447
in the krustlet-on-wsl2.md for example which look like the closest to a Docker Desktop Mac Os installation, I don't understand what are the .crt file (--cert-file) in this command

[code]

I ran ./bootstrap.sh from krstulet directory but I don't have any .crt files

[2020-11-10 20:13] bacongobbler commented on #447
Okay, I think I see what you're pointing at now. I think that's a stale section of the documentation that was accidentally missed when we introduced https://github.com/deislabs/krustlet/pull/275. Feel free to disregard those flags and use the following instead:

[code]

The TLS bootstrap API will generate a certificate and private key for you. You should not need to worry about setting those flags

[2020-11-10 20:21] david6983 commented on #447
is $mainIP the IP from `ifconfig en0` ?

[2020-11-10 20:26] david6983 commented on #447
When the program said: `BOOTSTRAP: received TLS certificate approval: continuing`, do I need to wait the program finish or is krustlet running as long as krustlet-wasi run ?

[2020-11-10 20:39] bacongobbler commented on #447
https://github.com/deislabs/krustlet/blob/master/docs/howto/krustlet-on-wsl2.md#step-1-determine-the-default-gateway

[2020-11-10 20:44] bacongobbler commented on #447
At that point, krustlet is running. You can keep that running in that terminal, open a new terminal and start using the demo apps.

However, based on the error you provided in that image, it does not appear you generated a bootstrap config [as requested in step 2.](https://github.com/deislabs/krustlet/blob/master/docs/howto/krustlet-on-wsl2.md#step-2-get-a-bootstrap-config). You will need to gener

[2020-11-10 20:51] david6983 commented on #447
IS krustlet running in a pod when the krustlet-wasi is running ?

[2020-11-10 21:46] bacongobbler commented on #447
Image pull secret support was implemented in https://github.com/deislabs/krustlet/pull/367. You'll need to provide an image pull secret along with the pod if you want to fetch the image from a private registry. See https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/ for more information.

Hmm... That means the Kubernetes API server cannot reach krustlet. If you're

[2020-11-10 21:51] david6983 commented on #447
I am not using wsl2 since I am just using Docker Desktop on Mac Os X not windows

[2020-11-10 21:59] bacongobbler commented on #447
Okay. Regardless you will need to determine what IP address to provide to the kuebrnetes API server so that it can make API requests against Krustlet. The output of `ifconfig en0` might be what you need.

[2020-11-10 22:09] david6983 commented on #447
same issue using the inet IP address from `ifconfig en0`

And this is the logs from krsutlet-wasi:

<img width="815" alt="Screenshot 2020-11-10 at 23 07 01" src="https://user-images.githubusercontent.com/34489538/98739445-a6cf9800-23a9-11eb-97a2-99d1f17fbe18.png">

[2020-11-10 22:10] bacongobbler commented on #447
Seems like the webassembly module provided failed to run - which demo were you using?

[2020-11-10 22:27] david6983 commented on #447
I am using my own demo code which is the one from [tutorial01.md](https://github.com/deislabs/krustlet/blob/master/docs/intro/tutorial01.md) in Rust, do you think it is because of my rust code ?

[code]
k8s.yaml

[code]
main.rs

[2020-11-10 22:29] #446 closed

[2020-11-12 12:45] david6983 commented on #447
@bacongobbler , in the howto examples do I need the line below ?

[code]

because I get an error if I defined this variable when I launch `krustlet-wasi`:

[code]

[2020-11-12 18:40] bacongobbler commented on #447
that's fine. See #167. You can ignore that error.

[2020-11-12 18:42] bacongobbler commented on #447
Looks like everything is OK here. Are there any other issues you're running into here, or do you think you have a good start to close this one out? We've gone a bit off the rails from the original topic so I'd like to continue this conversation in Slack unless there's some action item we can take here.

[2020-11-12 18:46] david6983 commented on #447
everything is ok, we can close this issue. Thank you very much for your help. I start to understand more and more krustlet now

[2020-11-12 18:46] #447 closed

[2020-11-12 20:53] #387 closed

[2020-11-20 17:47] technosophos opened #456 "Use krustlet.dev site"
Are we ready to use the official Krustlet logo and the krustlet.dev site? Can we start using this all over now?

[2020-11-20 19:48] flynnduism commented on #456
I think so - it's used in a couple of places but I could do some more to tie it together.

# Artwork

- [x] branded landing page [krustlet.dev](https://krustlet.dev)
- [x] branding added to [twitter](twitter.com/krustlet)
- [x] branding added to github social preview
- [x] brand assets available at [deislabs/art](https://github.com/deislabs/art)
- [ ] add logo to Krustlet Readme and/or Docs?
- [ ]

[2020-11-25 21:29] bacongobbler commented on #182
I agree. It's not totally clear how the sausage is made.

As far as I understand the system, most storage class provisioners today are bundled with the cluster. Those "in-tree provisioners" are being deprecated in favour of "external provisioners". The Kubelet is built with the understanding on how to make calls to the correct external provisioner given the provided storage class name.

https://ku

[2020-11-25 21:33] bacongobbler commented on #182
One other talking point worth mentioning here: there's a new type of volume mount called a [CSI ephemeral volume](https://kubernetes.io/docs/concepts/storage/ephemeral-volumes/#csi-ephemeral-volume). This bit initially threw me into a wild goose chase thinking this was how CSI drivers were mounted to a pod. These types of volumes are considered a beta feature, and I have not seen any mention of th

[2020-11-25 21:43] kflansburg commented on #182
This is something that I’ve brought up a couple of times. In principle, we should focus on supporting the correct grpc endpoints and configuration of the driver isn’t our problem. Practically, we need some examples for people to try out. In my opinion an easy cheat here is to run Krustlet as a pod or even daemonset inside traditional container nodes. This ensures that all of the relevant drivers a

[2020-12-01 20:51] bacongobbler opened #463 "ConfigMap/Secret volumes should be mounted as read-only"
As I'm reading through the `volume` module, it appears as though we do not prepare the ConfigMap and Secret host mounts as read-only. We just write the data to a filepath in the volume and provide that directory to the Provider.

https://github.com/deislabs/krustlet/blob/0b99368e91934d489ade88be99188ec632509475/crates/kubelet/src/volume/mod.rs#L41

https://github.com/deislabs/krustlet/blob/0b99368

[2020-12-09 17:23] jiayihu commented on #168
Not sure if it helps anyone but I had the same issue. I was trying to run krustlet on my MBP with a k3s cluster on raspberry. To get the logs I just had to run as `krustlet-wasi --node-ip 192.168.1.126 --hostname 192.168.1.126`, probably because otherwise the k3s server can't resolve the hostname since my laptop it's not in the cluster DNS config

[2020-12-10 13:27] chuiyunjun opened #464 "Fail to set up the environment in minikube due to kube-proxy"
I tried to install krustlet in a minikube inside ubuntu OS but failed.

I installed minikube (v1.15), kubectl (client:v1.20.0, server:v1.19.4) and krustlet binary (v0.5.0).

When i  bootstrapped Krustlet and ran the command "KUBECONFIG=~/.krustlet/config/kubeconfig krustlet-wasi --port 3000 --bootstrap-file $HOME/.krustlet/config/bootstrap.conf" , i got the error message as below

ubuntu@krustlet-

[2020-12-10 14:07] bacongobbler commented on #464
The errors about “Cannot run kube-proxy” are expected and can be safely ignored. See https://github.com/deislabs/krustlet/issues/167

Can you see your node available with `lube to get nodes`?

[2020-12-10 14:14] chuiyunjun commented on #464
The output is like this.

ubuntu@krustlet-tasl:~$ kubectl get node
NAME            STATUS     ROLES    AGE   VERSION
krustlet-tasl   NotReady   <none>   16h   0.5.0
minikube        Ready      master   16h   v1.19.4

[2020-12-10 14:17] bacongobbler commented on #464
Is krustlet currently running? Looks like it’s in the “NotReady” state... Usually indicates you shut down the node.

Usually you can determine the reason using `kubectl get node krustlet-tasl -o yaml`.

[2020-12-10 15:10] chuiyunjun commented on #464
Thanks. Now i have both nodes running. but i got a new problem. Do i need to configure anything else between Step 2 and Step 3 in https://github.com/deislabs/krustlet/blob/master/docs/intro/quickstart.md?

ubuntu@krustlet-tasl:~/krustlet/demos/wasi/greet$ krustlet-wasi --node-ip 172.25.0.52 --cert-file=/home/ubuntu/.krustlet/config/krustlet.crt --private-key-file=/home/ubuntu/.krustlet/config/krus

[2020-12-10 15:17] chuiyunjun commented on #464
Another problem: The node will become from ready to notready after a while automatically, although i did nothing.

ubuntu@krustlet-tasl:~/krustlet/demos/wasi/greet$ kubectl get node
NAME            STATUS   ROLES    AGE   VERSION
krustlet-tasl   Ready    <none>   17h   0.5.0
minikube        Ready    master   17h   v1.19.4
ubuntu@krustlet-tasl:~/krustlet/demos/wasi/greet$ kubectl get node
NAME

[2020-12-10 15:25] bacongobbler commented on #464
Interesting. The NodeRestriction admission plugin is responsible for enforcing that limitation to prevent nodes from creating pods that expand their access to resources like serviceaccounts and secrets unrelated to their existing workloads.

I have not heard that being enabled in prior minikube versions.

As for the sporadic flip-flopping between the Ready and NotReady states, this seems relevant:

[2020-12-10 18:44] bacongobbler commented on #456
While we're on the subject: can we use [krustlet.dev](https://krustlet.dev/) to serve the documentation? Right now it's all under [`docs/`](https://github.com/deislabs/krustlet/tree/master/docs), but it'd be great to have it hosted on the main site similar to our other projects ([docs.brigade.sh](https://docs.brigade.sh/), [helm.sh/docs](https://helm.sh/docs/)). If so I'd be happy to start working

[2020-12-11 03:45] #464 closed

[2020-12-15 15:25] chuiyunjun opened #465 "Has krustlet applied measures for containers isolation （like kata, firecracker）?"
same as title

[2020-12-17 21:14] squillace commented on #465
hi @chuiyunjun, given that Krustlet runs web assembly modules and not containers, what measures did you have in mind?

[2020-12-19 17:09] jiayihu opened #466 "Support aarch64-unknown-linux-musl"
Not a request, I'm opening an issue to help anyone having the same issue in future. I've able to run krustlet with k3s on my raspberry pi 3B+ cluster without issues when I was using Ubuntu Server.

However, I decided to migrate to Alpine Linux to use less resources, but Alpine uses `musl` instead of `glibc`. This resulted in the arm64 binary not being runnable because it's compiled to be dynamical

[2020-12-26 04:10] kflansburg commented on #444
This should be closed by #458

[2020-12-26 04:10] #444 closed

[2020-12-26 04:11] kflansburg commented on #420
This was closed by #458

[2020-12-26 04:11] #420 closed

[2020-12-26 04:11] kflansburg commented on #409
Closed by #458

[2020-12-26 04:11] #409 closed

[2020-12-26 04:12] kflansburg commented on #429
We probably need to verify that this is still happening after #458

[2020-12-26 04:15] kflansburg commented on #157
@thomastaylor312 What else are we thinking here? Can this be closed?

[2020-12-26 04:16] kflansburg commented on #237
What ever we decide to do here, I want to keep `RUST_LOG`. It may be confusing but it is widely used and understood by Rust developers. Could we write a small piece of code that takes something coarse like `LOG_LEVEL=DEBUG` and configures `env_logger` accordingly for all of the crates in the workspace?

[2020-12-28 18:21] thomastaylor312 commented on #157
Yeah at this point this can be closed

[2020-12-28 18:21] #157 closed

[2020-12-28 18:23] thomastaylor312 commented on #237
This is exactly what I was imagining @kflansburg. We can keep the environment variable around for advanced usage, but I don't want to require users to have knowledge of Rust or how modules work in order to use this. Right now, if I didn't know what I was doing, I'd set `RUST_LOG=debug` and then have oodles of information show up from underlying things like reqwest, which wouldn't necessarily be de

[2020-12-29 23:51] jiayihu opened #469 "Cannot pull from Google Artifact Registry and no update on pull state"
I have the hello-wasi example working if the image is pulled from GCP Registry but not from the new Artifact Registry. From logs, I can see that it panics here at line 152 with unexpected `None`:

https://github.com/deislabs/krustlet/blob/0a10d3f1e0c6ae9a2e00f61271db8c819321e465/crates/oci-distribution/src/client.rs#L143-L152

The pod YAML is just:

[code]

You can try it yourself to see that the

[2020-12-29 23:56] jiayihu commented on #469
I may have a look at it if nobody else is working on it since I've already had a first quick read of all the source code in this project (which was very intuitive btw). But https://github.com/deislabs/krustlet/commit/a61a59091330dc600341deb81ace2d2520973775 seems to suggest that @brooksmtownsend is already working on a refactor/fix

[2020-12-31 17:43] radu-matei commented on #469
#453 has been merged a couple of weeks ago - let us know if this is still an issue with that version (once there is a new release, or if you can build it yourself).

[2020-12-31 18:21] jiayihu commented on #469
I already had a look at the changes in https://github.com/deislabs/krustlet/commit/a61a59091330dc600341deb81ace2d2520973775 but they are unfortunately relative to Push, not the Pull behaviour. In particular this is an issue with the authentication method, which has been changed in that PR.

Anyway, just to be sure, I recompiled from master and it results in the same error at https://github.com/dei

[2020-12-31 18:50] brooksmtownsend commented on #469
@jiayihu You're correct there, my work was just concerning the addition of push functionality to the crate. I don't have any in progress work atm for this crate 🙂

[2020-12-31 19:55] chuiyunjun opened #470 "HPA can't get metric from metrix server"
i installed Krustlet in KinD. When i want to test whether HPA works or not. I got the error message like below.  krustlet doesn't support it, or i made some mistake here?

[Script.txt](https://github.com/bytecodealliance/wasmtime-demos/files/5758168/New.Text.Document.txt)

Thanks for any help!

[2021-01-01 17:34] bacongobbler commented on #470
At this time there is no support for HPA workloads.

[2021-01-04 14:16] david6983 opened #471 "[example - greet] No Headers returned in http Response"
Hello,

I tried to insert some headers in the response of the [greet](https://github.com/deislabs/krustlet/tree/master/demos/wascc/greet) example but when I look into my response headers with curl there are no headers added !

Here is the code:

[code]

And here is the curl response:

[code]

[2021-01-04 15:50] VishnuJin commented on #471
hi @david6983
can you please let us know how you are running, like after building your source to wasm module, pushing it to the container registry and then using the newly created image in kubernetes yaml file.

[2021-01-04 15:52] david6983 commented on #471
here is the yaml file:

[code]

then I am running `kruslet-wascc` with kind on Mac OS X Catalina

[code]

[2021-01-04 16:17] bacongobbler commented on #471
Looks correct according to https://docs.rs/wascc-codec/0.8.1/wascc_codec/http/struct.Request.html. Let us know what you find out.

I would try reproducing the issue with one of the examples at https://github.com/wasmCloud/examples and open a ticket there if you can reproduce the issue using wasmCloud directly.

[2021-01-04 16:21] bacongobbler commented on #471
First few things I'd try:

- make sure you're using the correct image tag in your pod manifest
- ensure you're pushing the correct .wasm file with `wasm-to-oci`
- test the .wasm file locally using wasmCloud.

[2021-01-04 16:32] david6983 commented on #471
I tried to create a simple wascc host and it works, but it doesn't work on kruslet-wascc

[2021-01-04 16:35] bacongobbler commented on #471
Okay. Can you provide the image that does not work for you? I can try to reproduce the issue locally.

[2021-01-04 16:46] david6983 commented on #471
https://gitlab.com/david.haioum/greet-wascc/container_registry/1604320

[2021-01-04 17:10] bacongobbler commented on #471
Thanks.

It turns out that I accidentally booked an extra day of vacation off, so I'll be out for the rest of the day. In the meantime, please feel free to post any updates you have with your findings. I'll try to look more into this tomorrow.

[2021-01-04 21:19] thomastaylor312 commented on #466
Just to clarify, you can get that additional build target working purely using the compiler flags for static linking? If that is the case, I don't think we'd have a problem with adding this in if you want to PR it!

[2021-01-04 21:19] thomastaylor312 commented on #466
Sorry for the delay by the way. Most of us were out on holiday

[2021-01-04 21:21] thomastaylor312 commented on #470
@chuiyunjun If you'd like, we can recategorize this as a feature request to support metric endpoints. However, that will likely be low on the maintainers' list until after we hit 1.0. I think we'd be willing to look at any community PRs if someone would like to add it though!

[2021-01-04 22:26] jiayihu commented on #466
No problem, I guessed you most of you were happily on holiday 😄
Btw, yup I think the flag would be enough but I've tested it only once. It's officially documented here https://doc.rust-lang.org/reference/linkage.html#static-and-dynamic-c-runtimes, although I think it has been added to `rustc` only some months ago.

I'm working on something else right now, I'll test the flag with the openssl build

[2021-01-04 22:29] jiayihu commented on #466
Oh I see the libc PR also has been merged https://github.com/rust-lang/libc/pull/2000

[2021-01-04 23:28] thomastaylor312 commented on #466
So let's give that some time to get fixed upstream. If it doesn't, then we can put in this fix.

[2021-01-05 09:28] VishnuJin commented on #471
I tried to run the following in wascc-host 14.0 and i don't see the response headers that were added
`extern crate wascc_actor as actor;
extern crate algos;

#[macro_use]
extern crate log;
extern crate serde;
extern crate wascc_codec;

use actor::prelude::*;
use serde::Serialize;

use algos::numerics::primorial;
use std::collections::HashMap;
actor_handlers! {
    codec::http::OP_HANDLE_REQUEST =>

[2021-01-05 09:40] VishnuJin commented on #471
I tried running the following actor using wascc-host 14.0 and i don't see the response header that were added
[code]
here is the Curl response

[code]

[2021-01-05 11:55] VishnuJin commented on #178
hello @bacongobbler
is this enhancement about building and using wasm-strip on [demos](https://github.com/deislabs/krustlet/tree/master/demos) apps and updating demos documents ?

I would like to work on this, some suggestions or pointers from you on this topic would be valuable for me.
Thanks

[2021-01-05 16:03] squillace commented on #465
pong, @chuiyunjun, just wanna make sure we understand the issue you have in mind.

[2021-01-05 17:33] bacongobbler opened #472 "update waSCC demos to use wash"
Moving forward, [wash](https://github.com/wasmcloud/wash) will be the way to sign and push modules to a registry for the waSCC provider. We should update the current demos to move away from `nk` and `wascap` to the new tooling once it's stable and ready for use.

@brooksmtownsend is wash ready for use or should we continue to use `nk` and `wascap` for the time being?

[2021-01-05 17:42] brooksmtownsend commented on #472
@bacongobbler `wash` is ready for use, the same functionality carries over from `nk` and `wascap` with some additional features that allow for autogeneration of nkeys while signing actors. The only thing that you might want to wait for is for us to get rid of all of the `git` dependencies in the project. This just depends on the soon-to-be released wasmcloud 0.15.0, and would let you recommend peo

[2021-01-05 18:41] bacongobbler commented on #471
I can also reproduce this issue.

Right now, waSCC is going through a major refactor under [wasmCloud](https://github.com/wasmcloud/). As a result, the [HTTP server provider](https://github.com/wasmCloud/http-server-provider) is now archived and was pulled into the [capability-providers](https://github.com/wasmCloud/capability-providers) repository.

It might be worth looking into https://github.c

[2021-01-05 19:28] david6983 commented on #471
I see, is kruslet compatible with new wasmCloud actor api ?

[2021-01-05 22:23] david6983 commented on #471
I tried again by compiling `krustlet` from source and I deleted my images on my registry to push again fresh images.

Here are the results:

Code :

[code]

Curl response:

[code]

[2021-01-06 12:52] david6983 commented on #471
It seems like the last release of `kruslet-wascc` in the release section has an issue with headers. However if we use the `kruslet-wascc` by compiling from sources using `just run`, headers are correctly returned

[2021-01-06 13:09] VishnuJin commented on #471
Hi @david6983
One question though, when I tried with wascc-host 14.0 locally, I weren't able to see the headers. Any idea what I did wrong ? Or is this issue specific to wascc-host version

[2021-01-06 16:25] bacongobbler commented on #471
Thanks for the report @david6983. Let's close this out as resolved in master. This will be resolved in the next release.

[2021-01-06 16:25] #471 closed

[2021-01-08 19:02] #469 closed

[2021-01-10 15:02] flyflypeng opened #476 "can krustlet run in the minikube with driver=none"
I want to run the krustlet with the minikube(minikube start with --drive none config) in my Linux VM, however, i can not run the krustlet-wasi successfully.

So I want to make sure krustlet is only supported with minikube(configured with --driver virtualbox)?

[2021-01-12 17:17] thomastaylor312 commented on #476
It should be able to work with most minikube configurations (and most "certified" k8s distributions as far as we know). So this could be a documentation issue of something else you need to configure.

What kind of errors are you seeing? Can you let us know your Minikube, k8s, and krustlet version?

[2021-01-12 21:33] soenkeliebau opened #481 "Extend Krator framework to enable it to react to changes to the watched object"
**Proposed Enhancement**
I've looked the Krator crate to see whether we could use it as basis for our Kubernetes operators.

One limitation that I noticed is that the framework currently does not provide a method to allow reacting to changes to a watched object. In the current implementation of the state machine when the watched object in the apiserver changes it is updated in the shared state, bu

[2021-01-12 22:27] kflansburg commented on #481
This was definitely a todo that I identified when I was creating the first PR. My current thought is that we could create a new `Notify` like you described which indicates that the object has been modified. We would also pass `Arc<Mutex<Object>>` to the state handler (this would have been a breaking API change which is why it was not included in the first PR).

A fancier option would be to try to

[2021-01-12 22:37] kflansburg commented on #425
Tracking in #480

[2021-01-12 22:50] soenkeliebau commented on #481
I agree that the notify should probably be entirely sufficient for most use cases.
One issue I noticed during my tests was that I kept getting notified over and over, I believe this was due to the changes being applied to the pod status when transitioning through the states triggered apply-events again, which cause me to transition -> again causing a status update etc.

One idea I had was to allow

[2021-01-12 23:06] kflansburg commented on #481
Regarding your first point, that was when testing a `modified` `Notify`, correct? Not with the current `master` branch?

On your second point, I think we could do something like that. We could also possibly generate a JSON diff to highlight the changes.

[2021-01-12 23:21] soenkeliebau commented on #481
Yes indeed, should have clarified that, sorry. That was when I was playing around with the changed branch I linked in the issue which had the Notify that is triggered by apply events.

Regarding the json diff, that would probably come in handy, but might go against Kubernetes principles as I understand them :)
If I'm not mistaken, a reconciliation should not care what has changed, but just look at

[2021-01-12 23:44] bacongobbler opened #482 "ref(pkg/volume): create a Mountable trait"
Right now, `volumes_from_pod` takes a pod spec, parses the manifest to determine [which volumes need to be mounted](https://github.com/deislabs/krustlet/blob/461a8e9ff393c09dba53894a51bcdbd3393b3c20/crates/kubelet/src/volume/mod.rs#L42-L64) and mount them [by calling `.configure`](https://github.com/deislabs/krustlet/blob/461a8e9ff393c09dba53894a51bcdbd3393b3c20/crates/kubelet/src/volume/mod.rs#L4

[2021-01-14 21:04] thomastaylor312 commented on #481
@soenkeliebau So in general, I am not in favor of doing a diff. I had a [discussion](https://github.com/clux/kube-rs/issues/266) with the `kube` crate maintainers about this and doing a diff kinda breaks the state machine/reconciliation paradigm. I know that the Go library does this and that plenty of other k8s things do as well, but the argument is that the reconciliation loop or state machine sh

[2021-01-14 21:06] thomastaylor312 commented on #481
However, to be clear, I am totally on board with the idea of having something to notify if something is updated

[2021-01-14 21:08] kflansburg commented on #481
I think we are aligned here. I had originally thought it would be useful to highlight the changes for the operator but if an update gets missed then this will cause problems.

[2021-01-14 22:11] soenkeliebau commented on #481
I agree that we agree :)

Just to clarify my proposal though, I did not want to pass the pod diff into the reconciliation function. That should run purely based of the current pod object. The only thing I wanted to allow was to suppress triggering the reconciliation for certain changes - changes to the pod state in my example, because those lead to an infinite reconciliation loop for me, as every

[2021-01-14 23:05] kflansburg commented on #481
@soenkeliebau, I think the solution I plan to implement is either `Notify` or  some sort of `Stream`. This wont force a transition of states and generate a new status update unless you choose to do so. But you will be responsible for monitoring it within your state handlers. Does this seem reasonable?

[2021-01-15 11:46] DerekStrickland opened #485 "Azure custom deployment fails"
Following the Azure installation instructions, and the custom deployment fails on the newuserscript step with the following output.

Top level status says "Conflict"

{
    "status": "Failed",
    "error": {
        "code": "VMExtensionProvisioningError",
        "message": "VM has reported a failure when processing extension 'newuserscript'. Error message: \"Enable failed: processing file downloa

[2021-01-15 13:04] kflansburg commented on #485
This line appears to be the issue:

https://github.com/deislabs/krustlet/blob/9439b957c316945672b5c94b19add39d9773aa7d/contrib/azure/azuredeploy.json#L124

It attempts to download from:
https://raw.githubusercontent.com/deislabs/krustlet/master/install_krustlet.sh
rather than:
https://raw.githubusercontent.com/deislabs/krustlet/master/contrib/azure/install_krustlet.sh

@bacongobbler

[2021-01-15 13:29] kflansburg commented on #485
Assuming this is the only issue, I've pushed a patch to the `azure` branch.

I do not have an Azure account, so someone else will need to try it.

Here is deploy button pointing to that branch:
[![Deploy To
Azure](https://aka.ms/deploytoazurebutton)](https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.githubusercontent.com%2Fdeislabs%2Fkrustlet%2Fazure%2Fcontrib%2Fazure%2Fazu

[2021-01-15 17:18] bacongobbler commented on #476
hi @flyflypeng. Have you had a chance to test this out? We'd love to hear from you regarding the questions @thomastaylor312 asked earlier. Let us know!

[2021-01-15 17:19] bacongobbler commented on #465
closing as unresponsive/inactive.

[2021-01-15 17:19] #465 closed

[2021-01-15 17:20] bacongobbler commented on #423
hi @advancedwebdeveloper. Just checking in to see what's the status here.

[2021-01-15 17:21] bacongobbler commented on #314
https://github.com/deislabs/krustlet/tree/master/contrib/azure

[2021-01-15 17:21] #314 closed

[2021-01-15 17:31] bacongobbler commented on #252
Yeah. As @DazWilkin pointed out, while this may not affect Krustlet itself, it will affect routing within certain cloud providers.

It looks now that one can set the pod CIDR by using [`set_pod_cidr`](https://github.com/deislabs/krustlet/blob/6d2cbfe119cf893761a09c527189dfbec29f5177/crates/kubelet/src/node.rs#L464). This can be done within a Provider by overriding [`node`](https://github.com/deisl

[2021-01-15 17:55] #485 closed

[2021-01-15 23:11] soenkeliebau commented on #481
@kflansburg I am sure that I can work with that!

I think my issue with the endless reconciliation loop was emphasized by the fact, that the Krustlet is watching pods and updating the status in pods at the same time. In contrast to this, an operator will probably watch some CRD and not might update the status of that CRD, but this will happen less often and probably only when actually performing c

[2021-01-18 11:33] DerekStrickland commented on #485
Thanks @kflansburg!  This got me past that error, but a new one is now being thrown. I'll inspect it to make sure it's not something on my end and open a new issue if it seems it's not me.

[2021-01-18 11:55] DerekStrickland opened #489 "Azure Deployment fails with RoleAssignmentUpdateNotPermitted error"
@kflansburg 's last commit got us past the issue with the GitHub URL, but now it seems that something about the current deployment strategy approach isn't making Azure happy. I put in my public ssh key, sp id, and sp password as instructed, and now this error is being thrown. Not entirely sure what's going on but I will say I see some [hardcoded GUIDs here](https://github.com/deislabs/krustlet/blo

[2021-01-20 20:46] DazWilkin opened #491 "Krustlet bootstrapping generates JSON rather than YAML kube configs (expect YAML)"
`krustlet-[wascc|wasi]` both create JSON format kube config files.

Although, YAML >> JSON, it is convention to use YAML for Kubernetes manifests.

[code]
Yields, e.g.:

[code]

[2021-01-20 22:36] bacongobbler commented on #491
Is there a runtime issue with this format, or just a suggestion? Kubernetes accepts both formats, so it shouldn't really matter which format is generated to the end user.

[2021-01-20 22:38] DazWilkin commented on #491
That's correct; it doesn't matter

But, conventionally, manifests (including configs) are YAML

[2021-01-21 21:52] bacongobbler commented on #491
okay. Unless there's a specific issue with generating output as JSON then it's shouldn't really matter.

Besides, it's much faster to parse/unparse JSON over YAML, and the former is a subset of the latter so the two are compatible formats. :)

Thank you for your suggestions.

[2021-01-21 21:52] #491 closed

[2021-01-21 21:54] bacongobbler commented on #489
Hmm... When I was first reading the ARM documentation, those GUIDs should be present in every subscription, as they are a global GUID which represents the "contributor" and "listClusterUserCredential" roles, respectively.

[2021-01-21 21:57] bacongobbler commented on #489
The source of these GUIDs came from the azure quickstart examples. You can see that the contributor role GUID is being used across multiple examples here: https://github.com/Azure/azure-quickstart-templates/search?q=b24988ac-6180-42a0-ab88-20f7382dd24c

[2021-01-21 21:58] bacongobbler commented on #489
How did you create the service principal?

[2021-01-22 10:10] DerekStrickland commented on #489
ah yeah I forgot that there were some global guids for system roles.

@bacongobbler  I followed the instructions here in the how to for Azure guide. Specifically I used this command

`az ad sp create-for-rbac --name ServicePrincipalName --skip-assignment`

[2021-01-23 18:26] DazWilkin commented on #167
I've spent some time this week deploying Krustlet to GKE, DigitalOcean (DO) and Linode and each of these manifests some form of this issue. I forget the list with GKE as I'm struggling to get Bootstrap Tokens working, but DO has this [list](https://pretired.dazwilkin.com/posts/210122/#anticipated-errors) and LKE has `kube-proxy` and `calico`.

Is this not a result of an understandable but naive co

[2021-01-23 18:54] kflansburg commented on #167
@DazWilkin Can you obtain tolerations and node selectors for those DaemonSets?

My current theory is that we are incorrectly setting the node label `kubernetes.io/os: linux`. This is what Kind looks for for `kube-proxy`. It appears that this field is used to determine what flavor of container is supported (which doesnt seem totally correct).

[2021-01-23 19:24] DazWilkin commented on #167
IIUC (!?) Krustlet is behaving correctly but, when it is added to one of these managed clusters, the cluster naively assumes another regular|vanilla kubelet has joined and it tries to deploy its infrastructural Pods to it e.g. `kube-proxy`.

As @thomastaylor312 points out above, this is because these Pods are configured by e.g. DaemonSets that have ~wildcard tolerations which result in them being

[2021-01-23 19:34] kflansburg commented on #167
Yes, I understand the issue with the toleration. My point is that, at least in the case of Kind, there _is_ a node selector that we can use to avoid scheduling. I'm interested in seeing if the same selector is being used by these other vendors. There may be a convention here that we are not understanding / respecting (i.e. that architecture is indicated with this label rather than a taint).

[2021-01-23 19:38] DazWilkin commented on #167
Apologies

[2021-01-23 19:40] DazWilkin commented on #167
Yes, I'm going to go walk with my dog and I'll do this Monday.

[2021-01-25 18:21] DazWilkin commented on #167
For Digital Ocean:

[code]
And:

The nodes have **no** taints by default. The following is empty:

[code]

[2021-01-25 19:37] DazWilkin commented on #167
Problems creating clusters on Linode today; will try again tomorrow

[2021-01-25 21:24] DazWilkin commented on #167
For Linode Kubernetes Engine:

[code]
And:

The nodes have **no** taints by default. The following is empty:

[code]

[2021-01-25 22:21] DazWilkin opened #492 "Unable to retrieve logs using kubectl and Linode"
I'm able to run Krustlet against LKE using both WASI|WASCC and apply Pods but, I'm unable to retrieve logs using `kubectl logs`. I am able to retrieve the logs if `curl` the equivalent host URL!?

At first, I thought the issue was related to #168 but Linode Kubernetes Engine (LKE) appears to address the Krustlet by IP not hostname.

I've successfully deployed Krustlet w/ other managed Kubernetes o

[2021-01-25 23:24] kflansburg opened #493 "Update tests to run markdown lint for docs path changes."

[2021-01-26 00:01] #481 closed

[2021-01-26 00:57] kflansburg opened #495 "[OCI Distribution] Serde fails to decode auth response from Docker Hub."
It looks like Docker response with _both_ `token` and `access_token`, and `serde` complains:
[code]

[2021-01-26 21:26] thomastaylor312 commented on #482
I really like this idea

[2021-01-26 21:35] bacongobbler commented on #482
Bonus points if we can validate each resource on the fly too. Something like

[code]

[2021-01-26 23:04] bacongobbler commented on #492
That error indicates that the whatever node the Kubernetes API server is running on cannot make a connection to the Linode VM, but your local machine can. Which to me indicates that the firewall configuration for the linode VM is misconfigured.

In general you should not be able to reach the krustlet API server directly from your laptop - you should only be able to reach the API through the VPN (o

[2021-01-26 23:06] bacongobbler commented on #492
You can have a look at the Azure documentation to see how this is accomplished: https://github.com/deislabs/krustlet/blob/9a6182276b1835daf641f0007f27b50dfd55343b/contrib/azure/azuredeploy.json#L202-L208

[2021-01-26 23:20] kflansburg commented on #167
From @DazWilkin :

DO DaemonSet `nodeSelector`:
[code]

LKE (Linode) DaemonSet `nodeSelector`:
[code]

[2021-01-27 18:08] DazWilkin commented on #492
Thanks @bacongobbler

This isn't a blocking issue. This is just a dev scenario and guidance to run Krustlet against Linode Kubernetes Engine clusters.

It's possible that the API Server is unable to access the Krustlet.

I did not create a firewall when provisioning the VM and I am able to access the Krustlet from a node:

[code]

I was wondering whether the issue is to do with the Linode being ad

[2021-01-27 20:53] bacongobbler commented on #492
Oh! I didn't realize we still haven't merged #497 yet. It looks like another maintainer caught this as well during PR review, so we can track that discussion as part of the review.

Let's follow up and resolve this issue in the PR before we start opening tickets. Thanks!

[2021-01-27 20:53] #492 closed

[2021-01-28 18:01] ereslibre opened #501 "Support for registries with HTTP basic authentication"
:wave:, I'm currently using the `oci-distribution` crate latest release (0.4.0) and I have noticed that despite the API leads to think that you can [provide basic authentication](https://github.com/deislabs/krustlet/blob/9a6182276b1835daf641f0007f27b50dfd55343b/crates/oci-distribution/src/secrets.rs#L7-L8), the HTTP basic auth usual workflow (include the `Basic` `Authorization` header with every r

[2021-01-28 19:19] bacongobbler commented on #501
Hey @ereslibre! We'd be happy to look at contributions looking to improve this workflow. It may be worth looking at the [distribution specification](https://github.com/opencontainers/distribution-spec) to see if there are any concrete details on how a client should handle these headers to discern between HTTP Basic authentication vs OAuth2 authentication.

Let us know what you find out!

[2021-01-28 19:51] bacongobbler opened #503 "ref(pkg/volume): prevent variable shadowing in configmap.rs"
There's an intricate section in the volume package where both `populate_from_configmap` and `populate_from_secret` shadows and re-uses some variables:

https://github.com/deislabs/krustlet/blob/bbd6930019ed9b5b98585e77ab27ea1350934223/crates/kubelet/src/volume/mod.rs#L158-L171
https://github.com/deislabs/krustlet/blob/bbd6930019ed9b5b98585e77ab27ea1350934223/crates/kubelet/src/volume/mod.rs#L185-L

[2021-01-28 22:33] thomastaylor312 opened #504 "Create deregistration hook in Krator"
As we have been implementing the CSI feature, we realized there isn't a way for a state machine to call some sort of deregistration logic that can do things like cleaning up volumes. Having a deregistration hook will allow state machines to hook common cleanup steps into the process after a state machine finishes. This hook should always run, even on state machine errors

[2021-01-29 11:32] jiayihu opened #505 "HTTP Provider"
I'm currently using the WASI provider, but AFAIK WASI doesn't support network yet. I'd like being able to just have an HTTP server on top of a WASI module so that I can send REST requests and retrieve computation results.

The wascc-provider could be the solution, but you also have to "accept" its architecture with actors, signing modules, capability providers etc. One may not desire to stick to s

[2021-02-01 18:54] thomastaylor312 commented on #505
Good questions here. So as for #293, we stopped work on that so we could focus on the CSI stuff this release (0.6). The focus of the next release it getting networking up and running in a way that can work cross-provider. So we'll be picking that back up soon. CSI (and I assume CNI will run into similar issues) took much longer than expected due to conflicting documentation _and_ supporting it cro

[2021-02-01 19:08] bacongobbler commented on #505
Just to add something on top of what @thomastaylor312 already mentioned: implementing CNI won't mean that the WASI (wasmtime) provider will support WebAssembly modules that can open a socket connection - WASI does not have `sock_send`/`sock_connect`/`sock_recv` support at this time, so the runtime will be unable to fulfill that request.

However, it does open up the opportunity to write new Provid

[2021-02-01 19:25] radu-matei commented on #505
([POC of the sockets work mentioned in the previous comment](https://radu-matei.com/blog/towards-sockets-networking-wasi/)).

Besides WASI implementing the syscalls @bacongobbler mentioned, there is also a discussion around network clients and servers - given that WebAssembly does not support multi-threading just yet ([here is the proposal](https://github.com/WebAssembly/threads/blob/master/propos

[2021-02-01 19:46] #182 closed

[2021-02-01 20:55] kflansburg opened #509 "Automate the process of bumping release version"

[2021-02-01 21:56] jiayihu commented on #505
I figured out that actually I can workaround by using the `exec` handler for the time being. It may sound extremely dirty but I think it works and I feel it's better, at least for me, than exploring something like WAGI since I'm not familiar with CGI.

That would also allow to reach the WASM module by using the pod name instead of the node IP (which will probably what I'm using since I have issues

[2021-02-02 10:34] jiayihu commented on #505
An interesting question emerged while I was trying to implement the `exec` in `wasi-provider.` Currently it's expected for the WASM module to have a `_start` function which will run endlessly or to completion. That is reasonable because it's what one would expect from a K8s pod.

However, it's not possible currently to execute any exported function from the WASM module other than `_start`. I was w