[2021-02-02 16:59] thomastaylor312 commented on #505
How you are thinking of using `exec` is definitely what we thought about doing, but it is kinda weird how we'd make it work without multithreading. Right now you can only call one at a time within the same running module. Otherwise it is kinda more like a FaaS type call

[2021-02-02 17:45] bacongobbler commented on #501
Hey @ereslibre! Just checking in here to see how things are going. Any progress updates you'd like to share?

[2021-02-02 18:00] bacongobbler commented on #489
Hey @DerekStrickland. Just checking in here to see if you determined what might be causing the issue or if you found any workarounds.

[2021-02-02 18:22] DerekStrickland commented on #489
Hi @bacongobbler  I haven't. End of financial quarter was pretty busy. I'll see if I can get back to it this weekend.

[2021-02-02 18:26] bacongobbler commented on #476
Closing as inactive. Let us know when you have any updates to share and we'll happily re-open this ticket. Thanks!

[2021-02-02 18:26] #476 closed

[2021-02-02 18:27] bacongobbler commented on #423
Closing as inactive. Let us know when you have more updates to share and we'll happily re-open this ticket. Thanks!

[2021-02-02 18:57] ereslibre commented on #501
Hello @bacongobbler! Let me have a look and I'll come back to this and give some feedback tomorrow. As you mentioned, the spec is not being specific about this. I wanted to have a look at some registries and see what are their implementations (e.g. I know the Docker distribution project allows basic auth access -- by pointing to an htaccess file), and wanted to check other implementations like har

[2021-02-03 17:28] thomastaylor312 opened #512 "Move UI tests to separate pipeline"
Currently the UI tests add an additional 10 minutes on to each test and they have to run before the normal tests do. After talking to @kflansburg, we decided it would be better if the UI tests were run in a separate pipeline like the e2e tests are

[2021-02-03 23:12] jiayihu opened #513 "Pontential Exec implementation"
I'm opening a new issue since the topic is a bit different from the purpose of #505 .

So I think I made some nice progress on the `exec` implementation. The changes can be seen here: https://github.com/deislabs/krustlet/compare/master...jiayihu:exec

Basically what I tried to do it to have something like `wasmtime add.wasm --invoke add 1 2`, but with `kubectl exec add -- add 1 2`. I've implemente

[2021-02-04 07:47] matsbror opened #515 "Missing information about the need for image pull secrets"
As discussed on the WasmCloud#krustlet slack channel, we found out that the tutorials in the krustlet documentation lacked information about the need for image pull secret if the registry is not public. I have added a pull request for this #514

[2021-02-04 21:14] thomastaylor312 commented on #513
Some answers to your questions first:

1. So the path being called in the client is the API server endpoint for exec. Underneath the hood, the API server will call the proper kubelet exec endpoint if I remember correctly.
2. As for the websocket stuff, I do think it is weird in our use case, but we try to conform to what kubernetes expects. There technically isn't a well documented API contract be

[2021-02-06 00:55] thomastaylor312 commented on #515
Closed in #514

[2021-02-06 00:55] #515 closed

[2021-02-08 23:03] #493 closed

[2021-02-09 01:28] #512 closed

[2021-02-09 14:43] VishnuJin commented on #178
Can I work on this enhancement please ?
I'm new to rust and open source.
I would really appreciate some more detailed pointers like what is expected from this enhancement.

[2021-02-10 12:53] ereslibre commented on #501
Since the issue is minor because an OAuth2 registry authenticates properly, and this issue is only present for example, when uisng the docker distribution locally fwith htpasswd as the single source of truth for authentication, this is probably a minor issue.

I think it's worth closing this issue because there is not a real problem except if you are using registries with authentication that don't

[2021-02-10 12:53] #501 closed

[2021-02-10 13:14] lfrancke commented on #252
FYI for others stumbling across this:
`set_pod_cidr` doesn't take an Option but `podCIDR` is optional in Kubernetes.
By specifying an empty string one can still get it to work but that's not a very Rusty API I think.

We found this issue because this can bring down K8s Clusters (the control plane) down: https://github.com/kubernetes/kubernetes/issues/95948

I have looked at the virtual-kubelet and

[2021-02-10 13:31] soenkeliebau commented on #252
Paging @pires just in case he has any comments on the virtual-kubelet behavior.

[2021-02-10 15:34] pires commented on #252
[VK has no opinion when it comes to Pod CIDR](https://github.com/virtual-kubelet/virtual-kubelet/issues/164#issuecomment-388463236). A provider or the kube-controller-manager can specify the respective Node attribute.

[2021-02-14 23:40] jiayihu commented on #513
Sorry for the late reply, I've been busy with a deadline recently. Today I gave WebSocket a try but I noticed that kubectl isn't actually using WebSocket yet, it's still using SPDY/3.1 . The apiserver supports WebSocket instead, because client libs like kube-rs use that https://github.com/kubernetes/kubernetes/issues/89163

Moreover, there's some issue with `warp` and WebSockets. Kubectl POSTs on

[2021-02-17 22:04] soenkeliebau opened #523 "Make pod eviction on shutdown optional"
Currently the Krustlet automatically cordons the node and evicts all pods when a shutdown signal is received, which for most use cases following the K8S philosophy makes total sense.

For our use-case, in which we hand pods off to systemd to run it is quite valid to keep pods around even though the node they are assigned to is not online at the moment. The most relevant use case would be a restart

[2021-02-17 22:29] bacongobbler commented on #523
Hi @soenkeliebau. Thanks for bringing this conversation back up.

I guess the question proposed here is more philosophical. We originally designed Krustlet to follow the basic design principles of a kubelet; if a kubelet cordons the node and evicts all pods during a shutdown without a way to disable that behaviour, Krustlet should perform that behaviour as well. So why should Krustlet allow provid

[2021-02-18 05:58] soenkeliebau commented on #523
Hi @bacongobbler ,

I fully understand your position, we are aware that it is us who is deviating from the default behavior here.
Not sure if that is a discussion you want to have, otherwise I am happy to close the issue and we'll run of a fork that removes the drain functionality.

[2021-02-18 13:45] kflansburg opened #524 "Create trait for volume_path an plugin_registry."
Identified in #519 as an issue.

We would like to add a trait bound on the shared provider state to require the methods for exposing `volume_path` and `plugin_registry`. This can provide default implementations, the goal is just to ensure there is only one place where this needs to be overridden to support CSI.

cc @bacongobbler

[2021-02-18 14:40] #504 closed

[2021-02-25 22:11] jiayihu commented on #513
@bacongobbler I actually went ahead and implemented WebSocket support as requested by the apiserver. So it doesn't support `kubectl exec`, but apiserver client libs work fine because it's standard GET WebSocket protocol. Tested with kube-rs. Would you be interested in the PR?

[2021-02-25 22:37] bacongobbler commented on #513
Without `kubectl exec` support, how does this work?

[2021-02-26 16:46] bacongobbler opened #527 "krustlet fails on start due to missing ~/.krustlet directory"
Starting Krustlet for the first time on a fresh machine (setting `RUST_LOG=debug`), it appears that Krustlet won't start unless you create ~/.krustlet/config manually.

[code]

[2021-03-01 17:18] thomastaylor312 opened #531 "Have the windows UnixStream use `now_or_never` in the constructor"
This will avoid us needing to make something async and then polling within a `Stream` implementation. See the documentation here: https://docs.rs/futures/0.3.13/futures/future/trait.FutureExt.html#method.now_or_never

[2021-03-01 22:44] kflansburg opened #533 "CNI Support"
Kicking off our CNI discussion, here are the fields that a traditional CNI binary expects when it is invoked.

In the environment, the binary expects:

* Container ID
* Network Namespace Path
* Interface Name
* [Arbitrary plugin-specific arguments](https://github.com/containernetworking/cni/blob/master/CONVENTIONS.md)

In addition, from STDIN it reads a JSON payload which has the following schema:

[2021-03-01 23:49] thomastaylor312 commented on #533
Just dropping this here too: In the community meeting we talked about trying to get some sort of common trait that any provider can implement so we can glue it into the Kubelet. The initial (very very very rough) draft of this would look something like:

[code]

We are trying to figure out what kind of data should be passed into these functions and what is needed to configure a network  with the v

[2021-03-01 23:51] thomastaylor312 commented on #533
See also #293 and #505

[2021-03-04 20:36] kesselborn opened #536 "[krator/master] Watch on Manifest not working correctly anymore"
Hi,
currently using krator for building an operator. Before the big Tokio 1.0 update, I was able to watch for modification events with code more or less similar to this:

https://github.com/deislabs/krustlet/blob/master/crates/kubelet/src/container/state.rs#L45-L48

... short snippet I used for testing:
[code]

this used to work, but now it does not receive an event when I update the resource.

[2021-03-04 23:23] kesselborn opened #537 "[krator/master] status update not working anymore"
after the tokio update, the status update doesn't work anymore for my code -- I did not update the function for the status update, so I guess it's related to the update?

[2021-03-06 12:24] kflansburg commented on #537
Can you provide more information here? Are you referring to the status patch that occurs when a state is entered? Are any warnings emitted? I ran into some issues with CRDs which were patched in #530

[2021-03-06 12:25] kflansburg commented on #536
I can confirm that there isnt a 1:1 mapping between Pod updates and updates within the container updater task:
[code]

[2021-03-06 14:13] kflansburg commented on #536
Minimal example.
[code]

Output:
[code]

As with the integration test above, its clear that only the first (immediate?) notification completes and then the task stream hangs.

[2021-03-06 14:59] kflansburg commented on #536
@kesselborn Can you try now with the branch from #538 ?

[2021-03-06 21:22] kesselborn commented on #536
@kflansburg yes, this works for me :)

[2021-03-06 21:26] kesselborn commented on #537
mmm ... I guess I had a state before #530 then -- I can't recreate the problem anymore with master after switching back to the master branch and testing #538.
Closing this issue and keeping in mind to refresh master next time :)
Thanks

[2021-03-06 21:26] #537 closed

[2021-03-08 17:25] #466 closed

[2021-03-08 17:53] thomastaylor312 opened #540 "Use the new async support in wasmtime"
Wasmtime 0.24 added support for [async functions](https://github.com/bytecodealliance/rfcs/blob/main/accepted/async-imports.md). This should allow us to move away from using `spawn_blocking`.

[2021-03-09 01:17] #536 closed

[2021-03-16 08:57] botieking98 opened #542 "Is krustlet support Horizontal Pod Autoscaling ?"
I have read all release notes about krustlet, but cannot find anything that say support HPA.

[2021-03-17 01:45] stevelr opened #543 "Is crate oci-distribution 0.6.0 ready to publish?"
the repo for oci-distribution has tokio 1.0 support (yay!) but Cargo.toml in github still says 0.5.0, which is the pre-tokio-1.0 update. Is it ready to release the crate as 0.6.0 yet? This is blocking another project that has a tokio 1.0 dependency. Thanks! I can submit a PR if that would help.

[2021-03-17 17:43] thomastaylor312 commented on #542
Hi there @botieking98! We have an open issue on this that you can follow along with: #470

[2021-03-17 17:43] #542 closed

[2021-03-17 21:49] #531 closed

[2021-03-22 05:48] inductor opened #545 "Is a wasm instance/process a container?"
Hello,

This might be a very abstract question and might not be the scope of this project itself, but rather for wasm spec.

So, whatever kubelet runs through a CRI/OCI runtime is called container which is also a Linux process on a worker host.

How would you explain this for wasm applications? Is it a container, or just an instance? Is it even a process?

I’m sorry for this noob question.😨

[2021-03-22 14:54] siegfriedweber opened #546 "Allow adding pod conditions to the pod status"
The [StatusBuilder](https://github.com/deislabs/krustlet/blob/v0.6.0/crates/kubelet/src/pod/status.rs#L155-L205) for the pod status in kubelet does not provide a method to add [pod conditions](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-conditions).

We would like to use pod conditions to have more insight into the status of our pods.

[2021-03-22 18:33] radu-matei commented on #545
Hi, and thanks for the question!

In the case of a regular Kubernetes node, you are right - the kubelet schedules a Linux container that gets executed by the OCI runtime. That Linux container is, in the end, a list of isolated processes (isolated at the `cgroup` and `namnespace` level, with a separate filesystem and networking interface).

Krustlet, on the other hand, schedules a WebAssembly modul

[2021-03-22 18:39] bacongobbler commented on #545
The only thing I might add here is that we should add this to the topics guide in the documentation! This was a great write-up. Thanks @radu-matei. I'll add that as a TODO item.

[2021-03-22 20:23] #425 closed

[2021-03-23 05:29] inductor commented on #545
@radu-matei @bacongobbler Thank you for your words.
Yeah, I am aware of that the WASM runs on something that is similar to JVM or BEAM(in Erlang).

My biggest question there actually was if there's any concrete name for the "instance" thingy. While in the normal Kubernetes we run Containers, what do we run with WASM provider on Krustlet?

[2021-03-23 05:35] radu-matei commented on #545
"Instance" is what we have been using so far, and it seems to be in line with the Wasm core specification's "module instance" naming ([see Wasm spec](https://webassembly.github.io/spec/core/exec/runtime.html?highlight=instance#syntax-moduleinst)).

[2021-03-23 05:38] inductor commented on #545
Thank you sir!

[2021-03-23 05:45] inductor commented on #545
I'll leave this issue open since you added the label. So please feel free to close this once your doc is modified!

[2021-03-23 06:23] radu-matei commented on #505
Just a quick update that we have released an experimental library that allows experimental _outbound_ HTTP for guest modules running in Wasmtime, meaning we could explore adding this to Krustlet.

https://github.com/deislabs/wasi-experimental-http

[2021-03-24 16:08] #546 closed

[2021-03-25 01:33] stevelr commented on #543
Thank you!!

[2021-03-25 15:52] thomastaylor312 commented on #543
@stevelr 0.6 is now live as of yesterday evening

[2021-03-25 15:52] #543 closed

[2021-03-29 20:09] thomastaylor312 opened #552 "Validate all CSI volume fields"
Right now there are some TODO's in the CSI code around validating volume modes and other configuration. These things should be implement. Some of these may still be ok to leave for post 1.0

[2021-03-29 20:23] thomastaylor312 commented on #472
Currently handling this within the new repo

[2021-03-29 20:23] #472 closed

[2021-03-29 20:26] thomastaylor312 opened #553 "Make Kubelet auto-renew credentials when close to expiry"

[2021-03-30 23:42] thomastaylor312 opened #555 "Use the latest version of kubernetes"
Right now our API objects are pinned to the 1.18 definitions. We should update these to the latest definitions before hitting 1.0.

[2021-03-31 09:37] siegfriedweber opened #556 "Channel in krator is closed prematurely"
When a resource is deleted then krator logs the following warning:

[code]

The manifest receiver in `krator::runtime::run_object_task` is consumed on cleanup and the channel is closed ([krator/src/runtime.rs#L378](https://github.com/deislabs/krustlet/blob/v0.7.0/crates/krator/src/runtime.rs#L378)). The resource is deleted afterwards ([krator/src/runtime.rs#L396](https://github.com/deislabs/krustl

[2021-03-31 13:17] kflansburg commented on #429
@thomastaylor312 I think I would like to close this. I'm not even 100% sure how to reproduce this in the original code, and this code was rewritten so much for the container state machine that the issue is likely moot.

My only thought here is that we could try to add test cases which cause failures at every possible point in the current WASI state machine, and then make sure that no unexpected wa

[2021-03-31 16:09] thomastaylor312 commented on #429
Feel free to close whenever.

As for your additional thought, I think that any cleanup can be handled in the `Error` state, can it not?

[2021-03-31 19:55] thomastaylor312 commented on #442
This will be fixed by the next release of the wasmcloud provider

[2021-03-31 19:55] #442 closed

[2021-03-31 22:01] thomastaylor312 commented on #463
@bacongobbler After looking at this some more, I think this is a per provider implementation detail (as we might not be actually "mounting" something depending on what it is). I don't think this is currently possible from the WASI side of things. However, we could set the file permission modes to readonly if you think that might help as well. But at least from the WASI side, if they have full acce

[2021-03-31 23:37] kflansburg commented on #429
I think it would be handled in Error state, the question is how does the Provider define what "cleanup" means.

[2021-03-31 23:37] #429 closed

[2021-04-01 01:36] flyflypeng opened #559 "Provide more clear and detailed architecture diagram"
I'm a newbie for the krustlet, and I haven't gone deep into the krustlet code. I just read the documentation in the docs dir to learn more about the krustlet, however I don't find an architecture diagram to describe the krustlet architecture. I wonder if some nice guy could provide the architecture diagram into the docs.

Thanks! 😃

[2021-04-01 08:41] soenkeliebau commented on #523
Picking this up after the discussion during last weeks community call and on Slack.

To bring everybody reading just here up to speed quickly, during the call we talked about whether the Kubelet actually evicts its pods on shutdown, or if this is left to the K8s control plane to handle.

@thomastaylor312 did some digging and came up with the following:

I am happy to have a look at this and come u

[2021-04-01 13:35] bacongobbler commented on #523
SGTM

[2021-04-01 16:40] thomastaylor312 commented on #523
Yep, looks great to me!

[2021-04-02 16:29] #555 closed

[2021-04-05 21:37] thomastaylor312 commented on #559
This sounds like it would be a great enhancement for the documentation. Tagging it as help wanted for now, but we may circle back to adding this before we hit 1.0

[2021-04-07 20:22] soenkeliebau opened #565 "dirs dependency has been marked as unmaintained in RUSTSEC"
The kubelet crate has a dependency on the dirs crate, which has been marked as [unmaintained](https://rustsec.org/advisories/RUSTSEC-2020-0053.html) in the RUSTSEC db.

The recommendation is to use [dirs-next](https://crates.io/crates/dirs-next) instead.

This has been [flagged](https://github.com/stackabletech/agent/issues/64) for us as well, since we depend on the kubelet.

kube-rs also had the

[2021-04-08 08:14] soenkeliebau opened #567 "tempdir dependency has been marked as _unmaintained_ in RUSTSEC-2018-0017"
The kubelet crate has a dependency on the tempdir crate, which has been marked as unmaintained in the [RUSTSEC](https://rustsec.org/advisories/RUSTSEC-2018-0017.html) db.

The recommendation is to use [tempfile](https://github.com/Stebalien/tempfile) instead.

This has been [flagged](https://github.com/stackabletech/agent/issues/121) for us as well, since we depend on the kubelet.

[2021-04-08 19:30] #565 closed

[2021-04-08 20:26] thomastaylor312 commented on #523
@soenkeliebau Was just doing some milestone grooming. Would you like this assigned to you so someone else doesn't start work on it?

[2021-04-08 20:28] soenkeliebau commented on #523
@thomastaylor312 feel free to assign this to me, yes (I have literally started looking at the code 5 minutes ago...)

[2021-04-08 20:47] bacongobbler opened #569 "switch blocking tempfile call to non-blocking"
From https://github.com/deislabs/krustlet/pull/568#discussion_r610028439

Marking as a good first issue for people looking to learn some Rust.

[2021-04-08 20:51] #567 closed

[2021-04-08 21:18] soenkeliebau commented on #569
I've briefly looked at this and have one question:
Is the prefix that is used for the temp dir here really necessary?

We could simplify the code a bit if we left that out, as otherwise we need to clone the prefix and move it into the closure.

[code]

[2021-04-08 21:24] bacongobbler commented on #569
Not totally necessary, no. Just helps disambiguate these tempdirs from other processes.

[2021-04-09 01:50] #556 closed

[2021-04-09 07:08] soenkeliebau commented on #569
I'm fine either way, not sure how long that temp directory exists and if people might ever have a reason to go looking for it, in that case the prefix would probably be hugely helpful.
I've kept the prefix for now in my PR, but happy to change it too.

[2021-04-09 09:30] botieking98 opened #572 "Keep wasm pod running if krustlet service stopped"
Now I can build and run krustlet on my machine，but I encounted a new question, If I manully stop the krustlet service running in the background, the wasm pod is also stopped, this is not accepted for me when krustlet stopped and updated to latest version.
So Is is possible to keep wasm pod running always even if krustlet service is not availible ?

![image](https://user-images.githubusercontent.co

[2021-04-09 13:45] bacongobbler commented on #572
Relevant: https://github.com/deislabs/krustlet/issues/523

it’s worth noting that krustlet manages the wasm process by spawning a new thread. To keep wasmtime running in the background would require

1. to detach the wasi instance as its own process using a process manager
2. To implement #523 so that pods are not evicted when the node is shut down.

Hope that helps clarify the situation.

[2021-04-09 13:48] bacongobbler commented on #572
https://github.com/deislabs/krustlet/pull/571

[2021-04-12 08:28] kesselborn opened #573 "[krator] krator with admission-webhook feature does not compile anymore"
I am preparing a PR which will need to fix this

[code]

[2021-04-12 12:56] kflansburg commented on #573
Thanks for finding this. I missed this when updating the `kube` crate. I will try fix it later today.

[2021-04-13 18:55] #569 closed

[2021-04-14 20:24] thomastaylor312 commented on #489
@DerekStrickland Wanted to check back one more time here, any update on what caused the issue?

[2021-04-14 20:30] DerekStrickland commented on #489
@thomastaylor312 Sorry! I've not had any time for this. I'll close this issue, and reopen if/when I run into it again.

[2021-04-14 20:30] #489 closed

[2021-04-14 21:02] thomastaylor312 commented on #540
Based on the documentation [here](https://docs.rs/wasmtime/0.26.0/wasmtime/struct.Config.html#asynchronous-wasm), I think it would be best if we maintain our current workflow as it is one of the suggested ways we do it. `Store` is still not Send, which will likely cause problems returning it from the thread. So I am popping this off of 1.0 and deferring until we get to further maturity

[2021-04-14 21:19] bacongobbler commented on #463
I believe this is how Kubernetes handles read-only permissions, though I believe they would use cgroups and vfs mounts to set up read/write permissions.

https://docs.oracle.com/en/operating-systems/oracle-linux/6/adminsg/ol_cgconfig_cgroups.html

Here's where the kubelet sets up standard volume mounts:

https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/kub

[2021-04-14 21:48] thomastaylor312 commented on #463
Generally the providers don't mount the volume themselves, the CSI plugin does when it is called. But in the configmap/secrets case, we aren't mounting anything. We are just preopening the file from WASI. A container provider will be loading the local file system path as a volume into the container, but there is no such thing for WASI, so this is a little unclear. Perhaps we should sync up on this

[2021-04-14 23:10] thomastaylor312 opened #579 "Add e2e tests for CSI"
Right now we are not currently testing the CSI code in our e2e tests. This should be added before 1.0

[2021-04-14 23:14] #495 closed

[2021-04-15 04:13] peterhuene commented on #540
We've also added additional [guidance regarding Wasmtime and multi-threading safety in Rust](https://github.com/bytecodealliance/wasmtime/blob/main/docs/examples-rust-multithreading.md).

I've also got an [example wrapping a `Future`](https://github.com/peterhuene/wasmtime-functions/blob/main/crates/runtime/src/server.rs#L103-L133) that solely contains the `Store` and all related objects to make i

[2021-04-15 04:31] thomastaylor312 commented on #540
That is great! Thanks @peterhuene

[2021-04-15 18:26] thomastaylor312 opened #580 "Figure out how to set the proper access mode for a CSI volume"
According to the [PVC docs](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes), only 1 access mode is supported at a time. But based on all the API objects we have access to, there is no way to figure out _which_ access mode is desired for a CSI volume. This will likely require some kubernetes code spelunking to figure out where they pull the value from

[2021-04-15 20:09] #552 closed

[2021-04-16 15:52] #523 closed

[2021-04-16 16:54] #573 closed

[2021-04-19 19:01] #527 closed

[2021-04-19 21:51] thomastaylor312 opened #583 "Switch out traditional log lines for tracing in kubelet"
Currently we just dropped in `tracing` to kubelet and continued using it like `log`. In preparation for the 1.0 release, we need to instrument major functions and use structured fields

[2021-04-19 23:29] thomastaylor312 opened #585 "Clean up volume references and mounting workflow"
#584 added a new `Mountable` trait that made things a little bit cleaner from the code perspective, but right now we don't really hold on to a reference that can fully manage an attached volume. Essentially the `Ref` type should be replaced with `Mountable` and held onto in the pod handles object so we can keep track of mounting state and remove the extra `Path` parameter from the `unmount` method

[2021-04-20 19:27] #585 closed

[2021-04-23 10:53] soenkeliebau opened #589 "Check that parameters for certificate and private key are not set to the same file"
When --cert-file and --private-key-file are set to the same file one overwrites the other and TLS fails with a parse error (which makes sense).

A quick check in the config that these parameters do not have the same value would be a useful addition I think.

[2021-04-27 16:03] soenkeliebau opened #590 "Extract and pass along all available parameters from the logs endpoint"
The log tailing function in Kubelet currently only extracts the `--tail` and `--follow` parameters from the request served by the webserver.

Ideally all available parameters should be added to the Config struct as different providers will have different requirements here.

At a first glance the following ones sound useful:
- all-containers
- limit-bytes
- timestamps
- previous
- since
- since-tim

[2021-05-04 00:28] kflansburg commented on #167
Our proposed fix was already applied in #468. Any Kubernetes flavors that still suffer from this problem are not using the node selector `beta.kubernetes.io/os=linux`, and we will have to determine another fix.

[2021-05-04 00:28] #167 closed

[2021-05-06 20:41] #590 closed

[2021-05-07 15:47] xrl commented on #545
How does Krustlet avoid resource starvation? Can a submitted process chew up unlimited CPU or is there a cycling counting/quota system?

[2021-05-07 16:18] bacongobbler commented on #545
That is up to [the Provider](https://github.com/deislabs/krustlet/blob/main/docs/topics/providers.md). The default Krustlet provider can restrict the amount of available memory to the module by using APIs provided by wasmtime. More specifically through the [wasmtime::Config](https://docs.rs/wasmtime/0.26.0/wasmtime/struct.Config.html) object.

Providers can also manage thread pools or CPU resource

[2021-05-07 16:22] bacongobbler commented on #545
For reference: https://github.com/deislabs/krustlet/blob/efab582daa51f70cca10dbf20bfa1cb6eaeadf34/crates/wasi-provider/src/wasi_runtime.rs#L145-L371

[2021-05-10 21:26] kate-goldenring opened #594 "Add Device Plugin support"
Kubernetes' [Device Plugin](https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/) framework enables Kubernetes workloads to request extended resources, such as hardware, advertised by Device Plugins. While krustlet currently supports CSI plugins, it does not support Device Plugins, as noted in its [documentation](https://github.com/deislabs/krustlet/blob/811fbf

[2021-05-10 21:34] thomastaylor312 commented on #594
I think I completely agree with the rename and making sure this is all handled under a single `PluginRegistry` (which I believe is what you are saying the restructuring would look like? Please correct me if I am wrong here). Thank you so much for taking this on!

[2021-05-10 21:35] thomastaylor312 commented on #594
Going to note this as a breaking API change for now unless I read things wrong (in which case I'll remove). Going to put this into 1.0 since it is breaking

[2021-05-10 22:00] kate-goldenring commented on #594
I see that single managing entity as a `PluginManager` that handles the state of plugins and maintains a list of them, as done in [Kubernetes](https://github.com/kubernetes/kubernetes/tree/fd74333a971e2048b5fb2b692a9e043483d63fba/pkg/kubelet/pluginmanager). I believe the type `PluginRegistry` struct would be phased out and CSI and DP specific functionality would each go under their own `PluginHand

[2021-05-10 22:03] thomastaylor312 commented on #594
Ok sweet. That sounds fine to me!

[2021-05-11 07:17] sladyn98 commented on #589
@thomastaylor312 Hey i am just getting started with rust and thought this was a good way to get started, any pointers on where I can begin ?

[2021-05-11 08:43] soenkeliebau commented on #589
@sladyn98
I haven't spent much time looking, but I think this should be a good starting point: https://github.com/deislabs/krustlet/blob/c781a9816858607647108d2157c7c5c1ca004a35/crates/kubelet/src/config.rs#L338

That code should be common to most ways of building a config and can return an error during initialization, which should be suitable for this check.

[2021-05-11 13:27] gdesmott opened #596 "oci-distribution: not able to download standard images"
To demontraste this problem I implemented a [simple pulling app](https://github.com/gdesmott/krustlet/blob/download-image/crates/oci-distribution/examples/download-image.rs).

Downloading a webasm image works fine:

[code]

But downloading the docker hello-world, also used in the [crate documentation](https://docs.rs/oci-distribution/0.6.0/oci_distribution/struct.Reference.html#examples), does not

[2021-05-11 14:29] gdesmott commented on #596
Interesting, using `registry-1.docker.io/library/hello-world:latest` instead of `docker.io/library/hello-world:latest` is working (except it's not because the crate does not support manifest list but that's another issue).

podman and docker accepts `docker.io/library/hello-world:latest` as image name, I'm not sure how, so it would be good if `oci-distribution` would as well.

[2021-05-11 14:34] bacongobbler commented on #596
Right now we've been focused on pulling WebAssembly modules from an OCI registry, so we haven't focused much on the OCI image use case. If you find any issues, we'd welcome pull requests to fix those cases.

DockerHub does not support hosting "alternative" media types so we haven't been able to test against that endpoint yet.

[2021-05-11 14:47] gdesmott commented on #596
I don't speak Go but [looks like](https://github.com/containers/podman/blob/master/vendor/github.com/containers/image/v5/docker/docker_client.go#L249) it's hardcoded. Would it make sense to do the same in `oci-distribution` as well then?

[2021-05-11 16:27] thomastaylor312 commented on #589
Hi @sladyn98, thanks for offering to help! So when I was double checking things, I actually think we'd want to verify this in the `Kubelet::new` function: https://github.com/deislabs/krustlet/blob/20c00115d3af460fe7740d6a07589b25578fcaef/crates/kubelet/src/kubelet.rs#L42

The reason being is that the config file and command line flag stuff is optional, which means a user can generate a `Config` on

[2021-05-11 17:37] kate-goldenring commented on #594
The device plugin manager hosts the registration service of the device plugin interface. After a device plugin (DP) calls [this `Register` function](https://sourcegraph.com/github.com/kubernetes/kubernetes/-/blob/pkg/kubelet/cm/devicemanager/manager.go#L439) the DP manager adds the DP's endpoint to a list it maintains. Then the DP manager creates a DP client to interact with the DP (call `list_and

[2021-05-11 18:08] bacongobbler commented on #594
From a cursory glance, it looks like the `reconciler` calls `RegisterPlugin` when it discovers that a new plugin is available for registration. It looks like that happens when a new socket file is added with the right timestamp info. This is performed through the `operationExecutor`.

https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/kubelet/pluginmanager/r

[2021-05-11 18:22] kate-goldenring commented on #594
@bacongobbler thanks for the tip. I tried out some scenarios on my cluster and looking at the kubelet logs and device plugin logs, it seems that while  `Register` is being called by the device plugin, `RegisterPlugin` is never being called by the `reconciler` -- which also means `GetDevicePluginOptions` is never being called. I tried creating a device plugin without registering to see if that woul

[2021-05-11 22:55] kate-goldenring commented on #594
It seems like krustlet doesn't have support for [Kubernetes resource requests](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/) by Pods, namely CPU and memory requests and limits. The device plugin framework enables nodes to advertise [extended resources](https://kubernetes.io/docs/tasks/administer-cluster/extended-resource-node/) such as system hardware that pods ca

[2021-05-12 07:06] gdesmott opened #597 "oci-distribution: authentication from docker.io"
Using the same test app from #596 fetching `registry-1.docker.io/mcr.microsoft.com/mcr/hello-world` does not work:

[code]

It's strange because fetching `registry-1.docker.io/library/hello-world:latest` does not hit this error:

[code]

[2021-05-12 16:16] thomastaylor312 commented on #594
Generally speaking, those would have to be provider specific so that krustlet can expose them up to the API server for scheduling decisions. I think in terms of this feature, it would require some extra work, but maybe not as we have worried about. The main work would entail:

1. Creating a new method on the `Provider` trait that allows you to return the resources the node has available (I think k

[2021-05-12 21:08] thomastaylor312 opened #598 "Add http support to the WASI provider"
We need to add support for the [experimental HTTP library](https://github.com/deislabs/wasi-experimental-http/) in the wasi provider before we hit 1.0. This should be fairly simple and only involve adding it into the linker as shown in the documentation.

This work should also include an update to one of our existing demos or a new one to showcase the new functionality

[2021-05-13 01:27] kflansburg opened #599 "Fix Clippy Warnings in Krator Derive"
#577 introduced some Clippy warnings.

[2021-05-13 01:29] kflansburg opened #600 "Managed/Owned Object Notification API"
Settle on an API for notifying operator when owned or managed object changes.

[2021-05-13 01:44] kflansburg opened #601 "Improved Webhook API"
Implement the proposed new validating and mutating webhook API.

[2021-05-13 01:56] kflansburg opened #602 "Deduplicate Krator Watchers"

[2021-05-15 13:19] kflansburg opened #603 "Resource Store Cache Conflict"
If two watchers watch the same resource, and one of them watches a smaller subset (namespace or list param scoped), and this watcher gets a `Event::Restarted`, it will empty the cache for that resource kind and objects will be missing until the other watcher restarts as well.

[2021-05-17 07:18] kesselborn commented on #599
happy to fix those warnings if you tell me how to recreate them. If I ran clippy within krustlet, krator and krator-derive and had no errors or warnings -- do I need a special config for this?
My setup:

[code]

[2021-05-17 12:09] kflansburg commented on #599
Thanks Daniel. I saw them when running clippy on the moose example with the admission webhook feature enabled:

[code]

[2021-05-17 23:10] #599 closed

[2021-05-18 12:58] gdesmott commented on #596
I proposed a fix for this in #606

[2021-05-18 21:45] kate-goldenring commented on #594
@thomastaylor312, like you mentioned, the device manager updates a `Node.status.capacity` and `Node.status.allocatable` fields for each device plugin. I may be missing a deeper understanding of the K8s scheduler, but shouldnt it be able to reference the Node status when making scheduling decisions to know which resources/devices are available? Therefore, is step 1 unnecessary?

[2021-05-19 17:46] thomastaylor312 commented on #594
Yes, you are correct. That first step was what was required if we wanted to add the normal CPU/memory resource data, but isn't required by this feature. I just got off on a tangent

[2021-05-21 19:01] kflansburg commented on #603
Moved to https://github.com/krator-rs/krator/issues/5

[2021-05-21 19:01] #603 closed

[2021-05-21 19:02] kflansburg commented on #602
Moved to https://github.com/krator-rs/krator/issues/6

[2021-05-21 19:02] #602 closed

[2021-05-21 19:03] kflansburg commented on #601
Moved to https://github.com/krator-rs/krator/issues/7

[2021-05-21 19:03] #601 closed

[2021-05-21 19:03] kflansburg commented on #600
Moved to https://github.com/krator-rs/krator/issues/8

[2021-05-21 19:03] #600 closed

[2021-05-24 17:28] radu-matei commented on #598
One thing we should probably discuss here is how to handle allowed domains.
Specifically, the library expects a required list of domains where guest modules are allowed to make requests to, and if `None` is passed, all requests will be rejected.

That is a per module instantiation setting, so I assume it would have to be set by the pod definition?
Would that be an annotation?

[2021-05-24 17:56] thomastaylor312 commented on #598
Yeah, annotation is probably the best bet for the initial feature

[2021-05-24 20:08] kflansburg opened #611 "Extract Krator"

[2021-05-24 20:16] thomastaylor312 opened #612 "Allow user to set kubernetes API version at compile time"
Right now we manually set a kubernetes version. However, it should be possible to make the user set the desired version just like the k8s-openapi crate. If they select a version where the API doesn't exist, the code would not compile, which means this should be safe.

/cc @kflansburg

[2021-05-26 22:17] #579 closed

[2021-05-26 22:30] bacongobbler commented on #579
WOOOOOO! 🎉 🎉 🎉

[2021-05-27 18:14] #463 closed

[2021-05-27 20:01] #524 closed

[2021-05-28 07:27] flavio opened #616 "oci-distribution: tag a new release"
Would it be possible to tag a new release of the oci-distribution crate?

A bunch of fixes got merged into the main branch, but they are not yet available inside of the crate. PR like https://github.com/deislabs/krustlet/pull/521 and https://github.com/deislabs/krustlet/pull/593 would be appreciated by the Kubewarden project :smile:

[2021-06-01 20:34] thomastaylor312 commented on #616
Yeah, we can look into that as soon as we review and merge your latest PR

[2021-06-01 20:48] thomastaylor312 opened #618 "Fix volume handling for 1.21"
Looks like k8s 1.21 added a new `projected` volume type that amalgamates all the functionality of the downward API stuff as well as secret/configmap volumes(see https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/). However, our current volume logic doesn't know how to handle it. It looks like the default service account token and certificate are aut

[2021-06-03 16:12] #611 closed

[2021-06-03 16:12] thomastaylor312 commented on #611
Closed in #620

[2021-06-04 14:53] JesseStutler opened #622 "[Question]How to join a krustlet node into self-built k8s cluster rather than KinD,Minikube,GKE etc?"
😊Hi, New to krustlet.A small noob question. I didn't find how to join a krustlet node into self-built k8s cluster(like 3 nodes in normal) in quickstart tutorial `https://github.com/deislabs/krustlet/blob/main/docs/intro/quickstart.md`,not Kind or MicroK8s or minikube or GKE etc. I try to follow the `https://github.com/deislabs/krustlet/blob/main/docs/howto/bootstrapping.md. `But the `bootrstrap.sh

[2021-06-04 15:13] bacongobbler commented on #622
Hey @JesseStutler!

For the most part, the HOWTO guides provide the same set of instructions:

1. Get a bootstrap config
2. Determine the default network gateway
3. Install and run Krustlet
4. Approve the Certificate

The same set of instructions should be the same on a self-built kubernetes cluster.

As to your specific questions:

You run that command wherever you wish to run a new Node.

I don'

[2021-06-05 02:09] JesseStutler commented on #622
Uh....Thanks for your kind sharing. It's my problem....I always use kubectl to run on the master node, never try to use it on worker node....Therfore it gives me illusion that kubectl only can be run on master node😅. After your saying, sure it theoretically can on worker node if it has kubeconfig. I will try to configure it out and if I still have questions I will feed back. Thanks.

[2021-06-05 03:51] JesseStutler commented on #622
It does work.Thanks.Close now.

[2021-06-05 03:51] #622 closed

[2021-06-07 03:03] JesseStutler opened #624 "Krustlet-tutorial pod get stuck in init:regitered status"
Hi, I followed https://github.com/deislabs/krustlet/blob/main/docs/intro/tutorial03.md to create a pod on krustlet node, the pod successfully scheduled to the krustlet node, but the pod get stuck in init:registered and I don't know why. I think it's because I build istio in cluster.The init containers `istio-init` firstly got stuck in waiting status. Istio's version is v1.10.0. Is that krustlet's

[2021-06-07 03:15] kflansburg commented on #624
We do not currently support Pods with both traditional containers and WASM workloads at the same time. I don't think it will be possible to run Krustlet Pods within an Istio mesh for now.

[2021-06-07 03:41] JesseStutler commented on #624
@kflansburg Thanks. I put the pod that only has the wasm workload into a new namespace that doesn't have the `istio-injection=enabled` label. But the pod's status still get stuck in registered, I never met this status before. I used `kubectl describe` to check the pod's status, I found that the pod got stuck in imagepullbackoff. Then I ran the command `docker pull` manually on the krustlet do pull

[2021-06-07 04:24] kflansburg commented on #624
I believe that Krustlet uses the client in the OCI Registry crate (https://github.com/deislabs/krustlet/tree/main/crates/oci-distribution) to pull wasm images.

What is the Pod manifest that you are trying to run? Does Krustlet emit any logs about why the image pull failed?

[2021-06-07 05:58] JesseStutler commented on #624
There is the krustlet's log:
[code]
192.168.0.211:8088 is my harbor's location. I think it's because I used HTTP connection to harbor and didn't open HTTPS.Does it have to use HTTPS to connection to the registry?Or maybe add some parameters to use HTTP rather than HTTPS?

[2021-06-07 06:00] bacongobbler commented on #624
A couple of things to unpack here.

There is a common misconception that because Krustlet stores WebAssembly modules in OCI means that you can use `docker pull` to fetch the module. There is also the other misconception that because modules are stored in OCI, they must be stored in a Docker container. Both are untrue. WebAssembly modules are stored [as WebAssembly modules](https://github.com/deisl

[2021-06-07 06:07] JesseStutler commented on #624
Thanks for your prompt reply! Too fast to get the answer. I understand a lot now😁, I will close the issue after solving it.

[2021-06-07 14:48] JesseStutler commented on #624
How to mark the registry as “insecure” if I have to use HTTP? It's a little bit troublesome for my condition to build a HTTPS registry like Harbor. So if I can't use HTTP I have to registry services like Azure or Google container registry, but I can't use Azure or Google lack of credit card😅. Github package registry will be my last choice.

[2021-06-07 15:32] bacongobbler commented on #624
An image reference is broken down to its URL counterparts [here](https://github.com/deislabs/krustlet/blob/8f7d24a19c9443a25f84b95653f0eec7f7c7f24e/crates/oci-distribution/src/client.rs#L753).  [`scheme_for`](https://github.com/deislabs/krustlet/blob/8f7d24a19c9443a25f84b95653f0eec7f7c7f24e/crates/oci-distribution/src/client.rs#L757) determine the URL schema (HTTP or HTTPS). The definition for tha

[2021-06-08 03:22] JesseStutler commented on #624
Then I added the flag "--insecure-registries" to krustlet-wasi, but the log still reported some errors:
[code]
Why does it cause duplicate field token?

[2021-06-08 05:51] JesseStutler commented on #624
If I used HTTPS harbor, I got unable to get local issuer certificate error:
[code]
Where should I put harbor's crt,key and ca.crt  on the krustlet node then krustlet can prove that the registry is save, just like docker's path `/etc/docker/certs.d/yourdomain.com/`?

[2021-06-08 15:28] bacongobbler commented on #624
https://github.com/deislabs/krustlet/blob/8f7d24a19c9443a25f84b95653f0eec7f7c7f24e/crates/oci-distribution/src/client.rs#L136

doesn't look like it is hooked up anywhere.

[2021-06-08 17:45] #596 closed

[2021-06-08 17:46] bacongobbler commented on #597
is this fixed with #606 or is there something else we need to handle to accommodate this?

[2021-06-08 17:49] bacongobbler commented on #597
Hmm... It might be due to this block of code, actually:

https://github.com/deislabs/krustlet/blob/e57d51cf3faaafaefd95c1b126c496457c32ce70/crates/oci-distribution/src/client.rs#L417

The token registry might not contain the same name. Can you check and confirm?

[2021-06-08 17:50] bacongobbler commented on #572
Closing this issue as answered. Please feel free to comment here and let us know if you have further questions. Thanks!

[2021-06-08 17:50] #572 closed

[2021-06-08 17:52] bacongobbler commented on #503
fixed in later iterations

[2021-06-08 17:52] #503 closed

[2021-06-08 17:53] bacongobbler commented on #443
Has anyone tested AKS recently to determine if this is still an issue?

[2021-06-08 17:54] #430 closed

[2021-06-08 17:56] bacongobbler commented on #245
closing as the krustlet-wasmcloud provider has been moved to its own project: https://github.com/wasmCloud/krustlet-wasmcloud-provider

Please open tickets related to the wasmclou provider there. Thanks.

[2021-06-08 17:56] #245 closed

[2021-06-08 17:56] bacongobbler commented on #153
closing as the krustlet-wasmcloud provider has been moved to its own project: https://github.com/wasmCloud/krustlet-wasmcloud-provider

Please open tickets related to the wasmcloud provider there. Thanks.

[2021-06-08 17:56] #153 closed

[2021-06-08 17:57] bacongobbler commented on #248
closing as the krustlet-wasmcloud provider has been moved to its own project: https://github.com/wasmCloud/krustlet-wasmcloud-provider

Please open tickets related to the wasmcloud provider there. Thanks.

[2021-06-08 17:57] #248 closed

[2021-06-08 20:53] bacongobbler commented on #624
Alternatively, you can have a look through https://docs.rs/reqwest/0.11.3/reqwest/#tls. It looks like the system default chain certificate could be used as a workaround.

[2021-06-09 02:20] JesseStutler commented on #624
I'm a little confused..Only self-built container-registries like Harbor will cause this problem? Did someone meet the same problem before:`unable to get local issuer certificate`?

[2021-06-09 02:24] JesseStutler commented on #624
Anyway, how to solve this HTTP error? I still want to create a pod successfully first, I even still got stuck in the introduction part😞

[2021-06-09 05:48] radu-matei commented on #597
Not sure if this is related, but I _think_ you are no longer able to pull images from MCR through Docker Hub - https://techcommunity.microsoft.com/t5/azure-developer-community-blog/deprecating-the-distribution-of-microsoft-container-images-via/bc-p/2371104

[2021-06-09 08:36] gdesmott commented on #597
That still does not work:

[code]

This code path does not seem to be called.
You can easily test using this branch: https://github.com/gdesmott/krustlet/tree/download-image

Yeah I know, trying to tackle issues one by one. :)

[2021-06-09 16:09] thomastaylor312 opened #625 "Windows cannot cleanup volumes on unmount"
It looks like secret and configmap volumes are having issues cleaning up on Windows. This could be due to an open file handle we aren't cleaning up or we may need to use a different cleanup command for Windows. This problem manifests itself in the logs:

[code]

[2021-06-12 08:07] VishnuJin commented on #625
hi @thomastaylor312
while i was looking for a way to learn more about this issue, it seems like an [issue with std fs in Rust](https://github.com/rust-lang/rust/issues/29497) and potential [fix](https://github.com/rust-lang/rust/pull/31944) which is not merged for a long time
i came across 2 blog posts
[Issues of Rust’s remove_dir_all implementation on Windows](https://blog.qwaz.io/chat/issues-of-

[2021-06-14 15:45] thomastaylor312 commented on #625
@VishnuJin Thanks for the research on this! I think importing the `remove_dir_all` crate only in Windows is probably the best option here as it seems to be the most common option based on what I saw in the thread and stats from crates.io. If you are interested in implementing this, please let us know and I'll make sure you are assigned the task so people know it is being worked on

[2021-06-15 21:33] VishnuJin commented on #625
@thomastaylor312 Thanks for the opportunity, i have added the steps to resolve this in the #627 but haven't tested fully as i don't have windows. I could only check that compilation and tests on windows is Ok.
Please let me know you thoughts !!

[2021-06-16 01:18] alexeldeib commented on #443
I just created a 1.20.7 AKS cluster and both of the roles in those links (exactly, name and all) were created as expected. I ran through the howto doc for azure and the existing template worked for me 👍

[2021-06-16 03:07] bacongobbler commented on #443
Thanks @alexeldeib!

[2021-06-16 03:07] #443 closed

[2021-06-16 16:01] #625 closed

[2021-06-22 14:57] SimonKienzler opened #632 "Pulling from private registries works unreliably for multiple modules in a row"
Hi, I've been following this project for a while now, very interesting stuff! I finally got around to set up a Kubernetes cluster with a Krustlet node following the tutorial. Unfortunately, I can't seem to reliably pull images consecutively from a private Azure Container Registry using `imagePullSecrets` in my Pod spec.

I have two WebAssembly modules, packaged and pushed via `oras`. Both of them

[2021-06-22 15:22] bacongobbler commented on #632
A similar issue presented in https://github.com/deislabs/krustlet/issues/187, which was due to an expired authentication token. Perhaps you could look further into that and see if there is something we need to address for image pull secrets.

[2021-06-23 09:37] SimonKienzler commented on #632
Thanks, I will look into it.

[2021-06-23 21:34] alexeldeib opened #634 "bootstrapping will fail if csr exists"
I believe this line should handle 409s: https://github.com/deislabs/krustlet/blob/d4d6417ff1fea4e988031a719b6b619bdd7df9af/crates/kubelet/src/bootstrapping/mod.rs#L98

It works if you already have a "full" (non-bootstrap) kubeconfig, because you won't hit this flow. But if you e.g. start krustlet for bootstrapping, let it create the csr, then rapidly restart it, it will fail with 409s on creating

[2021-06-25 14:12] dsyer opened #635 "hello-world-c fails with OCI authentication issue"
[code]

then in the krustlet logs I see:

[code]

The plain "greet" demo works fine, so maybe it's just an issue with the registry image for this demo?

[2021-06-28 02:32] wanglilin0628 commented on #635
I got the same error. How to resolve the issue？

[2021-06-28 02:45] wanglilin0628 commented on #624
I got the same error and got stuck in the introduction too. When I run `krustlet-wasi --node-ip 172.17.0.1 --bootstrap-file=~/.krustlet/config/bootstrap.conf`，it reported:

`
[2021-06-28T02:40:42Z ERROR kubelet::state::common::image_pull] error decoding response body: expected value at line 2 column 1

    Caused by:
        expected value at line 2 column 1
[2021-06-28T02:41:30Z ERROR kubelet::st

[2021-06-30 18:22] kate-goldenring opened #636 "Support `GetPreferredAllocation` in the kubelet `DeviceManager`"
[Device plugins](https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/#device-plugin-implementation) can optionally support a `GetPreferredAllocation` endpoint that the kubelet device plugin manager can call to make more informed `Allocate` calls. The `DeviceManager` should add support for making `GetPreferredAllocation` calls.

[2021-06-30 19:30] #594 closed

[2021-07-01 04:55] Dortmund-Reus opened #637 "Error loading kubeconfig || using kind on macOS"
![image](https://user-images.githubusercontent.com/30483659/124068178-21e6db00-da6d-11eb-84a4-5c20032c1c8b.png)

![image](https://user-images.githubusercontent.com/30483659/124066600-8d2fad80-da6b-11eb-9540-bc9a7dafaa56.png)
Why does it say there is no such file?
![image](https://user-images.githubusercontent.com/30483659/124066783-e0a1fb80-da6b-11eb-9b4d-d0af22acf302.png)
here is my bootstrap.con

[2021-07-01 05:01] bacongobbler commented on #637
Out of curiosity, can you try using either $HOME or an absolute path (/home/myuser) instead of the tilde (~)?

[2021-07-01 05:02] Dortmund-Reus commented on #637
![image](https://user-images.githubusercontent.com/30483659/124067192-8f463c00-da6c-11eb-9c93-1b22d8528414.png)
doesn't work for me.

[2021-07-01 05:47] bacongobbler commented on #637
Okay, so the first error is no longer present. However the new error would suggest a kubernetes cluster is not listening on port 63598. Can you please check and confirm whether you have the correct kubeconfig file to connect to your cluster, and can you please check if kubernetes is listening on localhost, port 63598?

How did you set up your kubernetes cluster? what steps were you following?

[2021-07-01 05:55] Dortmund-Reus commented on #637
I was following this document:
https://github.com/deislabs/krustlet/blob/main/docs/howto/krustlet-on-kind.md

[2021-07-01 05:56] Dortmund-Reus commented on #637
I was following this tutorial:
https://github.com/deislabs/krustlet/blob/main/docs/howto/krustlet-on-kind.md

[2021-07-01 05:58] Dortmund-Reus commented on #637
I don't know whether I should use the default kubeconfig which exists as ~/.kube/config. Or I should use ~/.krustlet/bootstrap.conf instead?

[2021-07-01 06:08] bacongobbler commented on #637
The documentation suggests a third file: ~/.krustlet/config/kubeconfig. I think @thomastaylor312 may know more on the specifics.

https://github.com/deislabs/krustlet/blob/main/docs/howto/bootstrapping.md#generating-the-kubeconfig
https://github.com/deislabs/krustlet/blob/main/docs/howto/bootstrapping.md#running-krustlet

For now I'd try using the default kubeconfig file at ~/.kube/config. The doc

[2021-07-01 06:38] Dortmund-Reus commented on #637
Thank you.Here is what I did:
I made a copy of bootstrap.conf and rename it as kubeconfig.
Then I run this command:
[code]
It changes the kubeconfig file and now it looks like this:
[code]

[2021-07-01 16:38] thomastaylor312 commented on #637
So here is how the logic works:

1. On startup, Krustlet looks for the file specified by `KUBECONFIG`
2. If `KUBECONFIG` exists, it assumes that bootstrapping is complete and uses that kubeconfig file to connect
3. If `KUBECONFIG` does not exist, it will load the bootstrap file specified by `--bootstrap-file` (or the default)
4. Using the bootstrap file, it will generate the kubeconfig using the c

[2021-07-01 17:46] Dortmund-Reus commented on #637
I don't know if I understand it correctly. So if the file specified by KUBECONFIG(~/.krustlet/config/kubeconfig) does not exist, the krustlet-wasi command will load the bootstrap file specified by --bootstrap-file, and then generate a new file kubeconfig at ~/.krustlet/config?
[code]

[2021-07-01 18:51] thomastaylor312 commented on #637
With `export KUBECONFIG=~/.krustlet/config/kubeconfig`, if it does not exist, `krustlet-wasi` will load the `--bootstrap-file` to do the bootstrapping process and generate a valid "real" kubeconfig at `~/.krustlet/config/kubeconfig`. Then it will use that new kubeconfig file to authenticate to the cluster

[2021-07-02 02:04] Dortmund-Reus commented on #637
OK.I delete the KUBECONFIG file,and run these commands:
[code]

![image](https://user-images.githubusercontent.com/30483659/124209804-cd029d80-db1c-11eb-97cb-0b09c52595f7.png)

![image](https://user-images.githubusercontent.com/30483659/124209820-d429ab80-db1c-11eb-92a6-5ac9a33a8176.png)

[2021-07-02 16:52] thomastaylor312 commented on #637
Does the node crash after those errors? It looks like you have a pod that is scheduling to the node that has an image it doesn't know how to understand (happening in this logic [here](https://github.com/deislabs/krustlet/blob/main/crates/kubelet/src/state/common/image_pull.rs)).

2 questions here:
1. What is your k8s version that kind is running?
2. What is the output of `kubectl get pods --all-na

[2021-07-04 02:48] Dortmund-Reus commented on #637
![image](https://user-images.githubusercontent.com/30483659/124371544-5351e780-dcb5-11eb-8605-636f6f72b599.png)

![image](https://user-images.githubusercontent.com/30483659/124371548-68c71180-dcb5-11eb-860f-6a0d6d7ff29c.png)

[2021-07-06 15:50] thomastaylor312 commented on #637
Ok, so I know there are definitely problems with 1.21 right now (at least one we have an issue for). I am going to work on that issue this week, so that _may_ solve the problem.

As for the IP address part, I'll have to check what happens on my mac

[2021-07-06 15:52] thomastaylor312 commented on #634
Yeah, we've known about this for a while, but didn't really document it. We'll add this to the milestone to fix before 1.0. If you already have an idea of fixing it, PRs are totally welcome! Just let us know if you are working on it.

[2021-07-08 08:35] mayocream commented on #624
Same error:
[code]

[2021-07-14 08:27] soenkeliebau opened #639 "Private key file is created with default umask"
When using bootstrapping for krustlet, the private key file (and certificate, but not really critical for this) is created without specifying a umask [1].

On most systems this will default to being world readable, which is not ideal for something this critical.

We should look into making this readable for the user running krustlet only.

[1] https://github.com/deislabs/krustlet/blob/e802c9c8b176

[2021-07-14 08:45] soenkeliebau opened #640 "Rust security audit should be run regularly to catch outdated or orphaned dependencies"
Krustlet currently does not appear to regularly run `cargo audit` to check for [security advisories](https://rustsec.org/) against its dependencies.

We currently have an issue against our agent which is caused by a dependency that Krustlet pulls in
https://github.com/stackabletech/agent/issues/216 which was caused by our [daily audit check](https://github.com/stackabletech/agent/blob/main/.github

[2021-07-15 02:44] alexeldeib commented on #634
I'm not working on it yet, but I might after figuring out a few other rough edges :)

[2021-07-15 02:46] alexeldeib opened #642 "bootstrapping fails if using filepath to CA instead of raw content"
this is fairly minor, but kind of annoying when you need to inject the CA content into the file, and they might technically be coming from different sources

https://github.com/deislabs/krustlet/blob/9efb832edb288ba86822bd62e80e3f9f5e68e37b/crates/kubelet/src/bootstrapping/mod.rs#L70

It'd be nice if this could try to check for either field (certificate_authority or certificate_authority_data), re

[2021-07-15 03:47] alexeldeib commented on #618
I'm not super familiar with projected volumes. Is the expected behavior here that we iterate each of the component sources, fetch the corresponding data, and then mount it otherwise very much the same as a secret/configmap?

[2021-07-15 16:21] thomastaylor312 commented on #618
Yeah, essentially it is an amalgamation of other volume types plus a ref type for secrets. I am almost done with this work. Just working on tests

[2021-07-19 15:53] Dortmund-Reus commented on #637
Thank You!

[2021-07-19 20:38] bacongobbler commented on #632
Hey @SimonKienzler. Were you able to determine a cause?

[2021-07-19 20:40] bacongobbler commented on #635
Hmm... I think @dsyer could be right. We'll take a look at this.

A simple solution would be to re-compile the hello-world-wasi-c example and host it on your own OCI registry, @wanglilin0628.

[2021-07-19 20:43] bacongobbler commented on #637
Gonna assign this to @thomastaylor312 as I know he's working on some of the issues with 1.21.

Have you re-tried the same steps with Kubernetes 1.20? The AKS deploy script uses 1.20.7 and I tested that last week, so you should have better luck with a slightly older version.

[2021-07-19 20:49] bacongobbler commented on #639
Using `set_permissions` after creating the file should suffice.

https://github.com/tokio-rs/tokio/blob/c8fc4927482a702c3a89bb8a2f158c430b402e78/tokio/src/fs/file.rs#L476

[2021-07-19 20:52] bacongobbler commented on #640
Marking this as a good enhancement to the project should someone feel interested learning how to set up an automated workflow.

https://docs.github.com/en/actions
https://github.com/marketplace/actions/rust-audit-check

[2021-07-19 21:18] bacongobbler commented on #637
https://github.com/deislabs/krustlet/pull/646

[2021-07-20 07:17] SimonKienzler commented on #632
Hey @bacongobbler. Not yet, but I will update this issue as soon as I work on it. Do you need regular updates for triaging etc.?

[2021-07-21 11:06] wanglilin0628 commented on #635
@bacongobbler thanks，i will give it a try

[2021-07-22 16:53] #639 closed

[2021-07-22 19:07] #618 closed

[2021-07-30 09:41] soenkeliebau opened #654 "wasi provider doesn't specify license in Cargo.toml"
The cargo.toml file for the wasi-provider crate doesn't specify the license property, this should be added.

[2021-07-30 17:19] #654 closed

[2021-08-02 17:10] #640 closed

[2021-08-03 00:05] github-actions[bot] opened #658 "RUSTSEC-2021-0073: Conversion from `prost_types::Timestamp` to `SystemTime` can cause an overflow and panic"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `prost-types`                      |
| Version             | `0.7.0`                   |
| URL                 | [https://github.com/tokio-rs/prost/issues/438](https://github.com/tokio-rs/prost/issues/438) |
| Date

[2021-08-03 00:05] github-actions[bot] opened #659 "RUSTSEC-2020-0016: `net2` crate has been deprecated; use `socket2` instead"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `net2`                      |
| Version             | `0.2.37`                   |
| URL                 | [https://github.com/deprecrated/net2-rs/commit/3350e3819adf151709047e

[2021-08-03 05:22] VishnuJin commented on #624
Im also facing the same error, pod is 'Registered'
[code]

Krustlet's node logs
[code]
Running from KinD on M1 Mac by following Krustlet's [howto](https://docs.krustlet.dev/howto/krustlet-on-kind)

[2021-08-03 16:49] thomastaylor312 opened #660 "Update k8s-openapi to the latest"
So it looks like the issues I had with the status updating were likely caused by https://github.com/Arnavion/k8s-openapi/issues/103. Those changes were reverted in https://github.com/Arnavion/k8s-openapi/commit/f0fda041e401e7d3bbb39b19ff305e258688728d and so we'll need to re-add option handling again once the new release comes out. This will also require an update to krator to pick up those change

[2021-08-03 16:50] thomastaylor312 commented on #660
Labeled as breaking for now until we know what the update looks like

[2021-08-04 01:13] cdmurph32 opened #661 "Container Pull should conform to OCI spec"
The current container pull requires the header “Docker-Content-Digest”. https://github.com/krustlet/krustlet/blob/b111487210e4c939ad6e4e10333a63dda1c053db/crates/oci-distribution/src/client.rs#L954-L964
According to the OCI [Spec](https://github.com/opencontainers/distribution-spec/blob/main/spec.md#pull) , this header is legacy, optional, and should not be relied upon. Additionally some registrie

[2021-08-04 18:51] thomastaylor312 commented on #598
Closed in #648

[2021-08-04 18:51] #598 closed

[2021-08-05 15:51] VishnuJin commented on #624
I was using KinD's registry to store my wasm module. I switched to the latest tag, built from source and by passing --insecure-registries localhost:5000 flag to Krustlet-wasi I was successfully able to see it working.

[2021-08-05 16:17] VishnuJin commented on #637
hey guys, I built the latest tag from source on mac and it works fine for me in KinD, I'm wondering why the IP for the pod is shown as <none> ☹️ !!
<img width="1280" alt="Screenshot 2021-08-05 at 9 37 47 PM" src="https://user-images.githubusercontent.com/45007338/128384452-c5c85a57-c518-43a4-9ab2-e9c9c91103bb.png">
<img width="1280" alt="Screenshot 2021-08-05 at 9 41 40 PM" src="https://user-image

[2021-08-05 16:56] thomastaylor312 commented on #637
So the pod doesn't have an IP address because the WASI provider doesn't support inbound networking yet (that functionality is still being worked on in the WASI spec). Currently, wasm modules running in the WASI provider can make outbound http calls.

Those error messages are a known issue as well and they are just noise (particularly on KinD). For some reason the node taints don't repel the kindne

[2021-08-05 17:55] VishnuJin commented on #637
@thomastaylor312 thanks for the clarification 👍

[2021-08-06 16:39] thomastaylor312 commented on #637
So were there any other problems related to this issue @VishnuJin or can I go ahead and close it?

[2021-08-06 16:46] VishnuJin commented on #637
@thomastaylor312 it works fine for me !! I Believe it should fine for @Dortmund-Reus as well ??

[2021-08-06 16:47] VishnuJin commented on #642
@thomastaylor312 @bacongobbler I would like to work on this issue. Any suggestions please ?

[2021-08-06 16:55] thomastaylor312 commented on #642
You'll need to add a small block of code there to see if `certificate_authority` is set and use it instead of `certificate_authority_data`

[2021-08-06 16:58] VishnuJin commented on #642
@thomastaylor312 thought so. wanted to be sure so I don't do anything stupid.
Will give this a try shortly !!

[2021-08-08 02:41] ZW007 commented on #622
@JesseStutler @bacongobbler  Hello! Can you share a bit more about how you join a krustlet node to the cluster? I followed [this](https://docs.krustlet.dev/howto/bootstrapping/) but do you mean all three steps 1) `./scripts/bootstrap.sh` 2)   `KUBECONFIG=~/.krustlet/config/kubeconfig krustlet-wasi --port 3000 --bootstrap-file /path/to/your/bootstrap.conf` 3) `kubectl certificate approve <hostname>

[2021-08-08 03:10] ZW007 opened #664 "How to join a krustlet node to a multi-node k8s cluster created with kubeadm"
Hi! I already have a local k8s cluster (three bare-metal Ubuntu machines, one master, two worker nodes) installed by Kubeadm. Now I want to add a krustlet node (a bare-metal Ubuntu machine) to the cluster. This [guidance](https://docs.krustlet.dev/howto/bootstrapping/) gives three steps (1) $ ./scripts/bootstrap.sh  (2) $ KUBECONFIG=~/.krustlet/config/kubeconfig krustlet-wasi --port 3000 --bootstr

[2021-08-10 03:54] ZW007 commented on #664
I also do not understand the first part of step (2) `$ KUBECONFIG=~/.krustlet/config/kubeconfig`  There is no `kubeconfig` file under `~/.krustlet/config` folder. There is only a `bootstrap.conf` file in this folder after running (1)

[2021-08-10 20:10] bacongobbler commented on #664
You should run those commands from wherever you plan to run a new kubernetes node. Given your two choices I'd assume this is the "worker" server.

Wherever krustlet is running, it will require to establish a connection to the API server. The node bootstrapping process will generate the kube config.

Krustlet contains an embedded kubernetes client, so you should not need to have kubectl installed o

[2021-08-10 20:16] bacongobbler commented on #661
Good catch. Thanks for identifying that!

In your research did you find any OCI registries still using this header? If not we'd welcome a pull request to remove this header.

[2021-08-10 20:18] bacongobbler commented on #661
From the current docs:

Maybe a good middle-ground would be to relax the error constraint and just return `headers`.

[2021-08-10 20:20] bacongobbler commented on #661
Identifying as a bug, as it's clear we're out of compliance with the spec's expectations how clients should use the `Docker-Content-Digest` header.

[2021-08-10 20:42] cdmurph32 commented on #661
It doesn't look like anything is done with the digest in the current code. I was able to pull images from AWS ECR with these changes.
https://github.com/adobe-platform/krustlet/commit/1b53f80680ead14e189a277fe3559e45ef81d76c

[2021-08-11 00:55] cdmurph32 commented on #661
I'm a novice to both the OCI Spec and Rust, so please take this with a grain of salt.
It seems the code does follow the OCI spec for layer validation, once the "Docker-Content-Digest" is ignored.

https://github.com/opencontainers/distribution-spec/blob/main/spec.md#artifact-verification
```After each layer is downloaded, the engine verifies the digest of the layer, ensuring that the content match

[2021-08-12 17:25] nitishm commented on #403
@thomastaylor312 I would love to help out with this albeit with some hand holding since I have just started with Rust over the past few weeks. Please let me know if this is something that might be suited for a beginner to take on (I have experience writing controllers for Kubernetes in Go, so am aware of how the kube client is supposed to work)

[2021-08-13 16:25] thomastaylor312 commented on #403
Yeah, if you have that deep of background in Kubernetes, this task should be just fine for a beginner. Given that k8s 1.21+ uses the `projected` volume to inject tokens, this is now less of a problem, but will still effect 1.20.

Please let me know if you have any issues, as running the e2e tests can be difficult at times

[2021-08-13 17:24] #658 closed

[2021-08-13 17:24] #659 closed

[2021-08-13 18:13] cdmurph32 commented on #661
Addressed in https://github.com/krustlet/krustlet/pull/665

[2021-08-13 22:52] #642 closed

[2021-08-16 11:26] VishnuJin commented on #369
hey guys, I would like to work on this enhancement, any suggestions please !!

[2021-08-17 04:19] ZW007 commented on #664
@bacongobbler Thank you Matthew. After copying `$HOME/.kube/config` file from the master server to the worker server, my worker node's `kubectl` is now configured and I can run `kubectl` on a worker node now.  I can run 1)2)3) on a worker node.

After running 1) `./bootstrap.sh` successfully on a worker node. However there is no `kubeconfig` file generated in `~/.krustlet/config` folder. There is

[2021-08-17 04:49] bacongobbler commented on #664
Looks to me like the application succeeded. Notice that the status output shows the state as "Terminated" and the message was "Module run completed". If you run `kubectl logs greet` you should see the log output from the module's execution.

[2021-08-17 05:08] ZW007 commented on #664
yes,  `kubectl logs greet` did give me `hello world` though pod status showed not ready. More weirdly. After deleting the pod and doing `apply -f` again, `kubectl logs greet` gave me error, and `krustlet` tells me authentication required for which I do not know how. I guess the problem is about with the registry authentication?

![image](https://user-images.githubusercontent.com/45562036/129666724

[2021-08-17 18:12] ZW007 commented on #664
@bacongobbler Please ignore my last reply. I retried and 'az login' and restarted `krustlet`. Now `kubectl logs greet` works again. But I am still curious why the pod status not ready and I cannot access the pod through IP address. This means I cannot call it via http request.

![image](https://user-images.githubusercontent.com/45562036/129778480-ea96dfdf-f12e-4148-aab8-4cac178a15d8.png)

[2021-08-17 18:12] thomastaylor312 commented on #369
Just make sure to implement the point under `Requirements` in the issue above!

[2021-08-17 18:24] bacongobbler commented on #664
The use cases for WebAssembly differ from linux containers. In a container you can run long-standing servers listening for TCP requests, like a web server.

The greet example you're running in your cluster prints a bunch of text to standard output and exits thereafter. Hence why it appears to be "not ready", when it actuality it executed, ran to completion, then exited successfully.

Until WebAsse

[2021-08-17 18:25] bacongobbler commented on #664
As for your helloworld-c issues... Please see https://github.com/krustlet/krustlet/issues/635.

[2021-08-18 03:07] ZW007 commented on #664
Thank you @bacongobbler  So I guess this [demo](https://www.youtube.com/watch?v=pEEdJlH-nWo) is based on [an old version](URL) of krustlet I guess. If I would like to have my wasm pod listening to the HTTP request, I guess I have to choose the older version of your release, right?

[2021-08-18 04:18] bacongobbler commented on #664
No. That demonstration is with the wasmCloud provider. Formerly known as the waSCC provider. You’ll notice the demo refers to a “demos/wascc” directory which are now available in the wasmCloud provider.

https://github.com/wasmCloud/krustlet-wasmcloud-provider

[2021-08-18 14:49] bacongobbler commented on #637
I'm going to assume this is safe to close at this point. Please let us know if you'd like us to re-open this and re-investigate the issue. Thanks.

[2021-08-18 14:49] #637 closed

[2021-09-01 08:48] flyflypeng opened #672 "what is the key scenarios for wasm workloads deployed by krustlet?"
😀 This is an open discussion about the key scenarios or usercases for wasm workload, why do we eagerly want to deploy the workload with wasm format on Kubernetes by krustlet?

For example, today we are used to deploy micro-service on Kubernetes with container and service-mesh, which is a good solution to solve the micro-service execution environment problem and service-to-service communication pro

[2021-09-01 18:39] thomastaylor312 opened #673 "Make `VolumeRef` enum non_exhaustive"
It is quite likely that in future releases we will add additional volume types. Because of this, the VolumeRef type should be non_exhaustive so we don't break APIs

[2021-09-07 22:04] bacongobbler commented on #673
https://doc.rust-lang.org/reference/attributes/type_system.html

[2021-09-07 23:49] #673 closed

[2021-09-07 23:52] technosophos commented on #634
I think `kube::Error::Api` is the variant you want to use. An HttpError means that the HTTP protocol itself broke in some way. I think the `409` would be reported on the `Api` variant.

That said... I am a little suspicious that a Kubelet should trust a CSR that it did not generate. Wouldn't this open a potential vector for an attack where a hacker could create a bad CSR and get Krustlet to genera

[2021-09-07 23:58] technosophos commented on #634
I got at least the stub of a solution done here. I'm just not sure what should be done when a 409 occurs. Given the constraints on creating the CSR, it might actually be safe to do what I did there -- because only a CSR with the same properties should be created. But I am not sure about that at all, and I am not sure under which circumstances a CSR will persist after the cert has been signed.

htt

[2021-09-08 01:53] technosophos commented on #634
Alright, so I _think_ that there is no real security risk in using an existing CSR. It appears that if an attacker had the ability to create the right CSR, they would have other far more damaging abilities.

[2021-09-10 16:52] #634 closed

[2021-09-10 17:31] technosophos commented on #612
I understand (I think) the motivation for this feature. But I have a concern.

Krustlet is not merely a provider of the Kubernetes API (as the k8s-openapi crate is). It is a _consumer_ of the API. And the API for Kubernetes is notoriously subject to change, which is why k8s-openapi has a feature selection option in the first place.

Furthermore, not all of Kubernetes' API changes are detectable at

[2021-09-10 18:46] thomastaylor312 commented on #612
@kflansburg any thoughts here?

[2021-09-11 11:50] kflansburg commented on #612
I believe that our original plan here was to give users the _option_, but only testing against a single k8s version (and making that extremely clear in the README).

There is a lot of precedent for _libraries_ offering this knob (`kube`, `krator`, etc.). IMO it makes a lot of sense for `krustlet` to make this available, but `wasi-provider` to be hardcoded.

If someone wishes to implement a differe

[2021-09-13 16:00] technosophos commented on #612
Okay. As long as we communicate pretty clearly that only the latest (or perhaps last two) versions of Kube are supported, that is fine.

Is anyone actively doing work on implementing this for Krustlet 1.0?

[2021-09-13 20:39] bacongobbler commented on #612
Kevin and I discussed this during the community call. We both think that

1. Setting a `default-features` flag to choose a safe version
2. Explicitly list out what versions CI tests against
3. Warn the user of "hic sunt dracones" when choosing an explicit Kubernetes version

Would provide the most flexibility to the user while not sacrificing compatibility concerns.

We also discovered that we don

[2021-09-18 00:05] github-actions[bot] opened #679 "RUSTSEC-2021-0110: Multiple Vulnerabilities in Wasmtime"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `wasmtime`                      |
| Version             | `0.28.0`                   |
| Date                | 2021-09-17                         |
| Patched versions    | `>=0.30.0`                  |

* [Use after free passing `

[2021-09-20 17:38] ns-cphelps opened #680 "Installation Issues on "Bare-metal" cluster (ApiError Not Found)"
I'm attempting to install krustlet on a Ubuntu 20.04 VM. I only have `kubectl` and `krustlet 0.7.0` installed on the VM. I copied the kubeconfig from the master node to the vm and was able to run the bootstrap script to generate a bootstrap config.

When I run the following command to start krustlet I get a 404 and not really and more description on what went wrong.

[code]

Outputs:

[code]

I'm

[2021-09-21 18:16] ns-cphelps commented on #680
Figured out the issue. Still relatively new to rust so didn't know about `RUST_LOG`. I set that and looks like the `v1.0.0-alpha1` release is using the `v1beta1` version of the `certificates.k8s.io` API. Compiling off main branch and trying that.

[2021-09-21 18:16] #680 closed

[2021-09-29 20:42] RaananHadar commented on #672
I have two common use cases to chip in:
The first is edge computing and IOT, an edge cluster has multiple use cases competing for resources. Lets assume I have multiple inferencing algorithms made by different teams that need to share a single cluster using industrial single board computers and most probably Jetson class GPUs for deep learning applications. **A jetson NX has 8GB of RAM.** Now, mac

[2021-09-29 20:50] bacongobbler commented on #672
Thanks for sharing your thoughts @RaananHadar.

I wrote an article on the strengths of WebAssembly when we first introduced the project: https://deislabs.io/posts/introducing-krustlet/

A few other links to related articles can be found at our blog: https://deislabs.io/tags/krustlet/

[2021-09-29 20:51] bacongobbler commented on #672
Closing this issue as answered. Please feel free to comment here and let us know if you have further questions. Thanks!

[2021-09-29 20:51] #672 closed

[2021-09-30 22:13] thomastaylor312 commented on #679
Closed in #681

[2021-09-30 22:13] #679 closed

[2021-10-01 16:00] #660 closed

[2021-10-02 14:16] yunkunrao commented on #589
Hi, I found this issue was not updated since June 5th and I'm been following Krustlet community. So I submit a new PR, could you please help review this PR when it is convenient. Thanks.

[2021-10-06 15:08] nightkr opened #684 "Node architecture label shouldn't be hard-coded to equal OS"
https://github.com/krustlet/krustlet/blob/a6efe8ad0cbf81939b8a80b98763318e91314512/crates/kubelet/src/node/mod.rs#L447-L454

In general, this seems to be set up to be `linux` in both cases, which means that you can't schedule pods to specific architectures in multiarch clusters.

For a regular Kubelet this would typically be set up so that `os: linux, arch: amd64`.

[2021-10-07 21:47] teozkr commented on #684
Yeah, for Krustlet-the-app I'd expect it to be hard-coded to something like `arch: wasm32, os: wasi` regardless of the server's actual hardware or OS.

This is hitting us at @stackabletech since we use Krustlet-the-library to run native binaries.

[2021-10-07 23:13] kflansburg commented on #684
I wonder if, since we don't know any better, we should remove the OS label from this list, which would allow the user to override it.

https://github.com/krustlet/krustlet/blob/108579d28988d57a809ff74c27bd07ec9048328b/crates/kubelet/src/node/mod.rs#L458-L465

[2021-10-09 13:32] kflansburg opened #687 "E2E Tests Failing on Main"
Seems like our E2E tests are failing, but only on `main`.

I believe this indicates an issue with `test_pull_from_private_registry`.

[2021-10-18 00:06] github-actions opened #688 "RUSTSEC-2020-0071: Potential segfault in the time crate"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `time`                      |
| Version             | `0.1.44`                   |
| URL                 | [https://github.com/time-rs/time/issues/293](https://github.com/time-rs/time/issues/293) |
| Date                | 2020-11-

[2021-10-19 00:06] github-actions opened #689 "RUSTSEC-2020-0159: Potential segfault in `localtime_r` invocations"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `chrono`                      |
| Version             | `0.4.19`                   |
| URL                 | [https://github.com/chronotope/chrono/issues/499](https://github.com/chronotope/chrono/issues/499) |
| Date

[2021-10-19 22:49] bacongobbler opened #690 "Move oci-distribution to its own repository"
A number of community members have asked if oci-distribution can be maintained as a separate project so that it can cut new releases independently from the krustlet project. Moving the source code into its own repository under the krustlet org would be the simplest option.

To be completed prior to #616 so that a new release can be cut from the new repository

[2021-10-20 06:28] flavio commented on #690
Thanks a lot for that! :heart:

[2021-10-20 07:49] yanganto opened #692 "How to join krustlet slack channel?"
The slack entry of https://krustlet.dev/ is not open for everyone to join.
We are [Second State](https://github.com/second-state), and we want to integrate [WasmEdge](https://github.com/WasmEdge/WasmEdge) with krustlet.
May we join slack and learn more with this project?
Thanks.

[2021-10-21 01:38] #692 closed, assigned to nobody

[2021-10-25 22:54] rickrain opened #697 "cargo/just build fails on Ubuntu 20.04"
I'm following the instructions [here](https://docs.krustlet.dev/community/developers/) to build krustlet on Ubuntu 20.04.  However, it fails with the following error:

[code]
I have `just v0.10.2` and `rustc/cargo v1.56.0` installed and `openSSL 1.1.1f` so clearly a mismatch of the openSSL versions.  Both `cargo build` and `just build` fail with the same error message.  Per the docs referenced abo

[2021-10-26 14:42] #697 closed, assigned to nobody

[2021-11-11 02:10] flyflypeng opened #699 "krustlet join the k8s cluster created by kubeadm return ApiError"
## Environment Info

OS Info:
[code]

K8s version: v1.22.3
[code]

## Description
I want to join the new worker node into k8s cluster by krustlet-wasi, I follow the next steps:
[code]

I reproduce the same steps on my other k8s cluster which version is v1.21.3, and everything is ok as documentation description.

I am not sure it is related with k8s version?

[2021-11-11 23:57] nitishm opened #700 "Running krustlet on KinD cluster using tutorial instructions spewing errors"
UPDATE 2: Logs from failing `kindnet` Pod

UPDATE 1: Added output from `kubectl get events -n kube-system`

I am seeing the following errors when executing `krustlet-wasi` after a successful bootstrap of a local `KinD` cluster.

[code]

[code]

There is no associated `ROLE` for the <hostname> node that was created either.

I am uncertain if this `Pod` is related to the krustlet bootstrap but I do

[2021-11-12 05:21] nitishm commented on #700
Forgot to mention. I am running on OSX Maverick

[2021-11-13 21:32] 0xE282B0 commented on #700
Hi @nitishm 👋,
A colleague and me have a little toy project where we extend KinD to spin up a Krustlet node besides the Kubelet nodes.

We faced the same problem. @thomastaylor312 told us that it is an expected behaviour https://kubernetes.slack.com/archives/C015X72FV54/p1634665392068800

KinD comes with a kindnet DaemonSet that tries to spawn a Pod on every node. The `krustlet-wasi` node can only

[2021-11-13 21:45] 0xE282B0 commented on #699
Hi @flyflypeng 👋,

Exactly! CertificateSigningRequest has been moved from `v1beta1` to `v1`. This has already been [fixed](https://github.com/krustlet/krustlet/pull/671) in the main branch. Can you try to use the binary from [canary builds](https://docs.krustlet.dev/intro/install/#from-canary-builds) for the > v1.22 K8s ?

[2021-11-15 02:44] flyflypeng commented on #699
@0xE282B0 Thanks for your advise, krustlet node is ready now!
[code]

[2021-11-15 02:45] #699 closed

[2021-11-15 16:52] thomastaylor312 commented on #700
Yeah, @0xE282B0 is correct! We can only do so much to prevent pods from scheduling on a Krustlet node. Some types of DaemonSets basically allow themselves to be scheduled everywhere

[2021-11-15 17:07] bacongobbler commented on #700
Closing this issue as answered. Please feel free to comment here and let us know if you have further questions. Thanks!

[2021-11-15 17:07] #700 closed

[2021-11-17 00:07] github-actions[bot] opened #701 "RUSTSEC-2021-0124: Data race when sending and receiving after closing a `oneshot` channel"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `tokio`                      |
| Version             | `0.2.25`                   |
| URL                 | [https://github.com/tokio-rs/tokio/issues/4225](https://github.com/tokio-rs/tokio/issues/4225) |
| Date                | 2

[2021-11-24 20:36] thomastaylor312 commented on #687
@bacongobbler Was the credential we were using expired when people left Microsoft?

[2021-11-24 21:10] bacongobbler commented on #687
It is possible that the registry might've been destroyed because it did not appear to be under active use. We were cleaning up old/unused resources before transitioning the resources to another team. That's on me. Sorry fam.

Would you like me to set up Github container registry and push the demos there? I can carve out some time to do that tomorrow.

[2021-11-24 21:42] kflansburg commented on #687
That may be an issue, but the error I was seeing was that Docker never became available. Do you think that a missing registry would cause that?

[2021-11-24 22:02] bacongobbler commented on #687
Oh! No if that's the error you saw, that's the same as we're seeing in #695. For some reason the [ensure-docker PowerShell script](https://github.com/krustlet/krustlet/blob/main/tests/windows/ensure-docker.ps1) is unable to boot docker on the windows node.

Phew.

[2021-11-26 07:58] ThorstenHans opened #703 "[AKS] RouteConflict when adding krustlet"
I've added krustlet to AKS leveraging the Azure CLI preview features. The node and underlying VMSS came up successfully. However my sample pod got stuck in state `Registered` which may be due to a `RouteConflict` being thrown on the krustlet node.

## Context

k8s version: `1.20.9`
node version: `1.0.0-alpha.1`

## Onboarding

To onboard krustlet, I've used the following command

[code]

## Node E

[2021-12-01 03:13] baisijian opened #704 "start krustlet failed"
#1、
![image](https://user-images.githubusercontent.com/10204340/144165394-14402b59-17a7-4ab0-88c4-bf85a70fe3f7.png)
#2、
![image](https://user-images.githubusercontent.com/10204340/144165218-75c06ce3-ae53-4f88-a8c4-835d046b4b79.png)

[2021-12-08 14:32] VishnuJin commented on #369
hi @thomastaylor312 sorry  I was kinda occupied for the past couple of months,
gave this feature a try #705 please let me know if it's the right approach or I'm completely off track :)

[2021-12-08 15:06] VishnuJin commented on #704
hi @baisijian, little more information like the OS, env set up and brief execution scenario may help to investigate more !!

[2021-12-08 15:14] VishnuJin commented on #704
hi @baisijian, little more information like the OS, env set up and brief execution scenario may help to investigate more !!

I think it's been wrongly referenced the PRs please edit it !!

[2021-12-14 17:19] rickrain opened #706 "Kubelet build error"
I'm trying to build the sample from [here](https://docs.rs/kubelet/1.0.0-alpha.1/kubelet/index.html) and getting the following errors.  I understand this is not a full example, but was still expecting it to build. This is from the latest alpha build, but I've also tried using the last stable build and get the same errors.

[code]

I've tried this on Ubuntu 20.04 and 21.10 and getting the same resu

[2021-12-14 19:31] rickrain commented on #706
Looks like this is the result of [this PR](https://github.com/notify-rs/notify/pull/336/files) in the `notify` crate dependency.  If there are not objections, I'll submit a PR to address these changes.

[2021-12-14 19:34] bacongobbler commented on #706
That would be wonderful. Thank you!

[2021-12-14 21:06] rickrain commented on #706
@bacongobbler, it appears you already made the needed changes [here](https://github.com/krustlet/krustlet/pull/694/files).  However, it's not reflecting correctly in my cargo registries when I add `kubelet` as a dependency.  As a sanity check, I deleted and re-imported the registries based on my project dependencies.  It's not picking up the latest code for the `kubelet` crate.  Any ideas on why I

[2021-12-14 21:13] bacongobbler commented on #706
https://github.com/krustlet/krustlet/blob/a303840c1fd86f2e07f687be47a137be2ecfd326/.github/workflows/release.yml#L146-L149

[2021-12-14 22:10] rickrain commented on #706
OK, that makes sense.  Are there any thoughts to splitting `kubelet` out into a separate repo so `kubelet` and `krustlet` can have independent release cadences?

In the meantime, I suppose specifying a git dependency in my `Cargo.toml` would be the way to go.  Would you agree or is there a better alternative?

[2021-12-15 01:06] bacongobbler commented on #706
I'd be okay with moving it to a separate repository like we did with oci-distribution and krator. I don't have the time to do that, but I'd be supportive of that effort.

Yes.

[2021-12-15 16:46] rickrain opened #707 "Move kubelet crate to a separate repository"
Similar to what was done for the `oci-distribution` crate, move `kubelet` into a separate repository so that it can be released / versioned independently of krustlet.  For reference, see [this PR](https://github.com/krustlet/krustlet/pull/695) where `oci-distribution` was relocated to a separate repo.

@bacongobbler, assuming you will create a new repository under the `krustlet` _org_ for this eff

[2021-12-15 16:48] rickrain commented on #706
@bacongobbler , I created #707 to capture this conversation and closing this issue.

[2021-12-15 16:48] #706 closed

[2021-12-21 20:51] nitishm opened #708 "[AKS] Failed to create krustlet deployment with krustlet-wasi/newuserscript conflict"
Seeing the following error when I try to deploy krustlet using the instructions provided [here](https://docs.krustlet.dev/howto/krustlet-on-azure/) for deploying it to AKS.

[code]
<img width="1404" alt="krustlet-aks-failure" src="https://user-images.githubusercontent.com/1494003/146995898-4864a0ca-27be-48e0-bfd3-7eff73c8871b.png">

I've tried creating this a couple of times.

Cluster info:

locat

[2021-12-22 03:51] nitishm commented on #533
Could we defines these using interface types (wit)?

[2021-12-22 03:58] nitishm commented on #533
/cc @vakapala @neaggarwMS something we should look into?

[2021-12-22 22:20] thomastaylor312 commented on #533
It is definitely possible. But as far as I understand right now, wit still requires manual linking. So it probably won't be doable until things get a little further along

[2021-12-22 22:36] nitishm commented on #533
Do you mean despite wit-bindgen?

[2021-12-22 22:54] thomastaylor312 commented on #533
Yeah, you still have to manually link it together with wit-bindgen. I can't dynamically fulfill an interface contract, I have to manually link it together (which puts a copy of the code in the output module). We'd have to manually link every module that was provided to krustlet

[2021-12-23 00:22] nitishm commented on #533
So just so that I understand correctly (since I am pretty new to this domain) we're talking about defining an interface for network configuration (a resource type in wit) which should be implemented by each CNI provider correct? Wit-bindgen macros generate the pub traits for you using type export and then you have type import in the module that implements it I.e. the provider.
Am I understanding t

[2021-12-23 00:28] nitishm commented on #533
Something like this https://github.com/saona-raimundo/wasm_renderer

[2021-12-23 15:00] thomastaylor312 commented on #533
@radu-matei wrote up a great blog post on this. Insofar as I understand, you can't just use the import bindings, you need to actually manually link it at this point: https://radu-matei.com/blog/intro-wasm-components/#linking-and-executing-components

[2021-12-23 15:01] thomastaylor312 commented on #533
Like I said, I think this is the right way to go, but I think tooling still needs to evolve a bit

[2021-12-23 15:04] thomastaylor312 commented on #533
I should also point out that this solution only works for webassembly and not for other kubelets written for other tasks, of which we know there are a few

[2021-12-29 08:40] fanux opened #709 "Provide an example about how to build a rocket project to wasm?"
Using krustlet to run a HTTP server.

If an application using rocket as HTTP framework and diesel as ORM, how to build it to wasm?

[2022-01-01 23:09] radu-matei commented on #709
Hi, @fanux.
Currently, you are unable to compile a program that uses networking sockets to WebAssembly — this includes HTTP servers.

See https://github.com/WebAssembly/WASI/pull/312 and https://radu-matei.com/blog/towards-sockets-networking-wasi/ for a write-up of the status for the networking APIs in WASI.

The workaround for writing HTTP handlers in WebAssembly is by using Wagi (or something li

[2022-01-01 23:09] #709 closed

[2022-01-01 23:14] radu-matei commented on #533
With `wit-bindgen` you are also able to build a host implementation for a given API, so you wouldn't need to compile it to WebAssembly (working on a write-up for that, hope to have something to share soon).

That being said, this still doesn't address @thomastaylor312's last comment, about this only being a solution for WebAssembly, as opposed to a general-purpose implementation, with which I agre

[2022-01-02 03:08] nitishm commented on #533
@thomastaylor312 what are the other tasks other than wasm?

[2022-01-03 17:16] thomastaylor312 commented on #533
The principal one we know of is one for systemd. I also know there is an OCI one and various people have mentioned building bespoke ones (though I haven't seen what they did with them).

[2022-01-03 17:44] thomastaylor312 commented on #707
@rickrain I think I'd be completely behind this idea once we get the 1.0 release out the door. Things got a little stalled, but we should be releasing the final alpha soon

[2022-01-03 17:53] thomastaylor312 opened #710 "Remove support for Windows"
In #702 we discussed the possibility of removing support for Windows. This is primarily for two reasons:

1. We adopted "feral code" from the internet to make things work. This has forced us to shim in a super old version of tokio (because the things the adopted code uses no longer exist in the public API of tokio) that now has some bad vulnerabilities
2. In practice, we haven't seen people actual

[2022-01-06 22:36] RaananHadar commented on #710
I humbly wanted to provide some reasons against this breaking change:

Some may say that these are niche reasons in the era of the cloud. But I think these 2 reasons are both very common AND very important for users that work on on-prem enterprise networks:
1. In many Enterprises, there are many users who can't use WSL due to organization policy as many organizations don't support hyper-v on devel

[2022-01-06 22:53] bacongobbler commented on #710
I understand where you're coming from. But the question was more about _who_ is either developing or running Krustlet on Windows. We understand the benefits. but right now the issues stemming from Windows support is actively preventing us from shipping 1.0 due to the issues mentioned earlier.

I'm +1 on removing support for now and re-introducing it.

[2022-01-07 07:06] RaananHadar commented on #710
I'm all for shipping 1.0 and fully understand that you can't support everything from the get go.

I just wanted to make sure that you understand that that this is a viable use case and re-introduce this as part of the roadmap and not permanently remove this from the scope of the project.

[2022-01-07 07:34] bacongobbler commented on #710
ACK. That was always part of the plan :)

[2022-01-10 10:22] thangchung commented on #709
We might use Dapr with `wasi-experimental-http` to work around with this model for networking interface like this article https://www.alibabacloud.com/blog/webassembly-%2B-dapr-%3D-next-generation-cloud-native-runtime_598222 too

[2022-01-12 12:38] deepu105 opened #711 "Unable to setup krustlet on k3d"
While trying to install Krustlet on a k3d cluster I'm facing some issues. I was following the Guide for microK8s and trying to do similar setup in k3d. Here is what I did and the error encountered

Krustlet version used: 1.0.0-alpha.1
k3d version v5.0.1
k3s version latest (default)

1. Setup a k3d cluster with `bootstrap-token-auth` enabled

[code]

2. Create bootstrap config

[code]

3. Download

[2022-01-12 12:44] deepu105 opened #712 "Error running WASM workloads with Krustlet on kinD"
I followed the quick start for kinD and installed krustlet. During the install step I got some errors on the console and when trying to deploy the `hello-wasm` sample I get error

Running the below command gives some error on the console but I could see Krustlet as a node but the Roles field was empty

[code]

Console out

[code]

Nodes

[code]

Then I tried deploying a pod

[code]

Got the below

[2022-01-12 15:18] deepu105 commented on #712
An update, If I apply the clusterRole and clusterRoleBinding for system:nodes, then the `pod does not have "kubernetes.io/config.mirror" annotation` error is gone and I get pod created message, however the krustlet is now in status Not Ready and pod is pending

[2022-01-25 04:05] bacongobbler commented on #690
Can be closed now that #695 has been merged.

[2022-01-25 04:05] #690 closed

[2022-01-28 03:12] wfchair opened #713 "RUSTFLAGS='-C target-feature=+crt-static' cargo build --release --target x86_64-unknown-linux-gnu failed"
I want to static build krustlet as follows, but failed:

git clone https://github.com/krustlet/krustlet.git
cd krustlet
git checkout tags/v1.0.0-alpha.1
RUSTFLAGS='-C target-feature=+crt-static' cargo build --release --target x86_64-unknown-linux-gnu

error: generator cannot be sent between threads safely
  --> crates/kubelet/src/store/oci/client.rs:61:99
   |
61 |       async fn pull(&mut self, i

[2022-02-02 18:11] kurious-diru commented on #178
Hey, @thomastaylor312 @bacongobbler

is this issue up for grabs? I am pretty new to this repo and would like it to give it a try, looks like @VishnuJin already tried an approach here, thanks!

[2022-02-02 22:27] thomastaylor312 commented on #178
Yeah! I don't think @VishnuJin is actively working on this. So feel free to take it @kurious-diru!

[2022-02-03 02:02] VishnuJin commented on #178
@kurious-diru please do

[2022-02-18 06:48] ln23415 opened #715 "Some pod conditions are missing when using "kubectl describe" command"
Hi guys,  when I use `kubectl describe` to display pod information, in "Conditions" section I got:
[code]
while in normal pod workload I will got output like below:
[code]
Can we do something to fix it ? Thanks!

[2022-02-22 16:27] rgreinho opened #716 "SslError when running Krustlet on macOS 12.1 M1"
Following the [bootstrapping](https://docs.krustlet.dev/howto/bootstrapping/) section of the documentation, I am facing an issue when running Krustlet on macOS 12.1 with an M1 chip:

[code]

The Krustlet was built from the main branch, commit 35a84d5.

[2022-03-30 14:25] VishnuJin commented on #716
@rgreinho just wondering, have you gave it another try by deleting the config file ?

[2022-04-04 16:02] manuschillernordlb opened #719 "Trouble initializing krustlet with minikube"
I am having trouble installing krustlet with minikube.

Steps:
* start minikube: `minikube start --driver=hyperkit --cpus=4 --memory=8192`
* downloaded `https://krustlet.blob.core.windows.net/releases/krustlet-v1.0.0-alpha.1-macos-amd64.tar.gz`, extracted the contents and copied `krustlet-wasi` to `/usr/local/bin`
* following the steps from https://docs.krustlet.dev/howto/bootstrapping/:
  * `bash

[2022-04-04 17:13] bacongobbler commented on #719
Hi @manuschillernordlb. Have you had a chance to look at previously open issues? I noticed https://github.com/krustlet/krustlet/issues/699 and https://github.com/krustlet/krustlet/issues/680 report the same issue. Perhaps you're running into the same issues they were.

[2022-04-04 17:14] bacongobbler commented on #716
ping

[2022-04-04 17:19] bacongobbler commented on #715
https://github.com/krustlet/krustlet/blob/2e483ea9a01c43d407df85c9079cab99fe01c06c/crates/kubelet/src/pod/status.rs#L153

[2022-04-04 17:19] bacongobbler commented on #715
https://github.com/krustlet/krustlet/blob/2e483ea9a01c43d407df85c9079cab99fe01c06c/crates/kubelet/src/pod/status.rs#L209-L210

[2022-04-05 07:28] manuschillernordlb commented on #719
bulding from main manually and running the created binary fixed the problem - thanks!

[2022-04-05 07:28] #719 closed

[2022-04-18 06:16] #715 closed

[2022-04-18 06:22] ln23415 opened #720 "use certain flags for wasmtime"
Hi folks, I wonder if I could pass some flags to the wasmtime, like "--dir=.", "wasi-modules=experimental-wasi-nn" , etc. And for the "--dir=.", will it work the same if I mount a volume in yaml ?

Thanks!

[2022-04-29 05:30] 3siksfather opened #721 "Unable to setup krustlet on kubernetes v1.23"
hello.
I wanted to try adding a krustlet node to kubernetes .

Create bootstrap config
[code]

Download Krustlet
[code]
Install Krustlet
[code]

But I got
[code]

Did I miss something or is kubernetes not supported?

[2022-05-02 21:32] numso commented on #721
I ran into this issue and was able to solve it by following the advice here and using a canary version of krustlet: https://github.com/krustlet/krustlet/issues/699#issuecomment-968140496.

[2022-05-02 21:35] bacongobbler commented on #721
Thanks @numso! Closing as a duplicate of #699.

[2022-05-02 21:35] #721 closed

[2022-05-03 02:54] 3siksfather commented on #721
@numso
I've seen this solved with From Canary Builds.
thank you.

[2022-05-05 15:31] sleipnir opened #722 "What is the status of this project?"
Hi guys, first of all I think this project is amazing and that's why I would like to know what the status of this project is and if you intend to keep it in the long term.

[2022-05-16 03:01] wfchair commented on #713
On arm64 SBC, we can do as follows.

sudo apt install musl-tools
cd /usr/bin
sudo ln -s musl-gcc aarch64-linux-musl-gcc

Cargo.toml file: [dependencies]
openssl = { version = "*", features = ["vendored"] }

rustup target add aarch64-unknown-linux-musl
cargo build --target aarch64-unknown-linux-musl --release

[2022-05-16 03:02] #713 closed

[2022-05-19 17:26] sleipnir commented on #722
ping

[2022-05-19 17:31] bacongobbler commented on #716
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2022-05-19 17:31] #716 closed

[2022-05-22 12:30] turbosree commented on #168
I got the same issue in minikube.

$ kubectl logs hello-world-wasi-c
Error from server: Get "https://192.168.49.2:3001/containerLogs/default/hello-world-wasi-c/hello-world-wasi-c": dial tcp 192.168.49.2:3001: connect: connection refused

$ curl -k -i https://192.168.49.2:3001/containerLogs/default/hello-world-wasi-c/hello-world-wasi-c
curl: (7) Failed to connect to 192.168.49.2 port 3001: Connecti

[2022-05-24 06:25] blackandred commented on #722
I would join the question. Is there any road map available? I'm using Kubernetes at low cost, non-profit scale, hope to move some workloads to Krustlet in the future, contribute to few projects to port to WebAssembly 😄

[2022-05-24 22:08] sleipnir commented on #722
The Post was in July of last year and since then nothing else has happened, no one responds to issues or questions, an excellent project but without feedback it is difficult to use

[2022-05-25 15:30] bacongobbler commented on #722
Hi @sleipnir. What brought your interest in Krustlet? Is there a particular scenario that you wanted to use the project?

Some members of the Azure team are working on krustlet-adjacent projects like [runwasi](https://github.com/deislabs/runwasi) - a project very similar to an older experiment of Krustlet called [wok](https://github.com/deislabs/wok). If you wanted krustlet for integration into k8

[2022-05-25 21:46] sleipnir commented on #722
Hi @bacongobbler, thanks for replying.
My main interest is to add support for [Lunatics](https://github.com/lunatic-solutions/lunatic) to be able to use it in workloads managed by Kubernetes.

[2022-06-08 19:14] rgreinho commented on #716
Sorry about the delay, but I had to step away from WASM and therefore Krustlet, for a while.

Here are the steps I followed, in addition of having attempted to run the steps from the various guides. I tried with minikube and kind. I end up being blocked by the same problem in all cases.

### Delete cluster and configuration

[code]

### Recreate a cluster with kind

[code]

### Run steps from the

[2022-06-08 19:15] rgreinho commented on #716
@bacongobbler if you could reopen this ticket, that would be great. Thank you.

[2022-06-09 01:14] VishnuJin commented on #716
Hey mate, i vaguely remember having similar issue and it was related to **OpenSsl**

Did you give this answer a try ?
https://stackoverflow.com/questions/70431528/mac-verification-failed-during-pkcs12-import-wrong-password-azure-devops

Especially this part
[code]

P.S - I don't have my Mac in hand now to check if my `.zshrc` has this path

[2022-06-09 12:55] rgreinho commented on #716
Ah, good pointers! So here is what I tried:

[code]

So I am not sure whether it is an openssl or not. But in both cases, my version of openssl is different from the one you mentioned.

[2022-06-09 13:23] bacongobbler commented on #716
Have you tried https://docs.krustlet.dev/community/developers/#building-without-openssl?

[2022-06-09 14:40] bacongobbler commented on #716
When you ran `just` with no feature flags, krustlet was recompiled without the “rustls-tls” flag. You need to add it to any invocation of `just` IIRC, not just `just build`.

[2022-06-09 16:26] rgreinho commented on #716
Oh cool! trying that:

[code]

I think it does not work because of what is written in the caveats sections:

[2022-06-13 06:36] shafqatevo commented on #722
Meanwhile, Microsoft has made this Preview available:

https://docs.microsoft.com/en-au/azure/aks/use-wasi-node-pools

[2022-06-13 18:53] sleipnir commented on #722
This is a specific solution for AKS correct? I needed more general use.
But thanks for the link

[2022-06-13 19:01] squillace commented on #722
Hi @sleipnir I'm fairly sure that Bernard and we have sketched out or are sketching out a lunatics containerd shim implementation.

You CAN use wasi nodepools for this, but let's ping Bernard, because **I think there's something there** or ongoing. I'll reach out.... and report back here.

[2022-06-14 07:32] blackandred commented on #722
@sleipnir On Microsoft docs they say they user Krustlet :) NIce! I really believe in this technology 😄

[2022-06-14 15:14] sleipnir commented on #722
OK. I had spoken with Bernard a while ago about an implementation via Krustlet, but if they are going in another direction then I wait for the team to define.

[2022-06-16 11:53] bkolobara commented on #722
Hi @sleipnir, I think for lunatic the best way forward would be a containerd shim (https://github.com/deislabs/runwasi). As Ralph mentioned, I already started experimenting a bit with it, but don't have anything out yet.

[2022-07-15 10:38] huang12zheng opened #728 "fail to work with snap microk8s"
[code]

[code]

[code]

---
I noticed that you can find the startup args in/var/snap/microk8s/current/args/kube - apiserver
https://docs.krustlet.dev/howto/krustlet-on-microk8s/

[code]

but
[code]
show none, and krustlet still not work

[2022-08-03 00:13] github-actions[bot] opened #729 "RUSTSEC-2020-0163: `term_size` is unmaintained; use `terminal_size` instead"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `term_size`                      |
| Version             | `0.3.2`                   |
| URL                 | [https://github.com/clap-rs/term_size-rs/pull/31](https://github.

[2022-08-12 09:59] basraven opened #730 "WSL2 guides yield "requested resource NotFound 404""
When following [the KinD Guide](https://docs.krustlet.dev/howto/krustlet-on-kind/),
I'm getting:
[code]
The same occurs when following [the WSL2 Guide](https://docs.krustlet.dev/howto/krustlet-on-wsl2/).

_(Tested on different machines with Windows 10 & 11)_

I used the following steps:
1. Get Krustlet (also tested with v1.0.0-alpha.1)
[code]

2. Create cluster
[code]
3. Run the bootstrap.sh scrip

[2022-08-20 00:11] github-actions[bot] opened #731 "RUSTSEC-2021-0139: ansi_term is Unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `ansi_term`                      |
| Version             | `0.12.1`                   |
| URL                 | [https://github.com/ogham/rust-ansi-term/issues/72](https://gith

[2022-09-20 17:45] Falumpaset commented on #730
Hey, did you resolve this issue? I'm encountering the same problem.

[2022-09-22 03:48] basraven commented on #730
Nope, I'm still having the same issue unfortunately, tried several things in the mean time, but nothing worked

[2022-10-05 06:58] CapitanMurloc commented on #730
The same thing happens to me, I wasn't sure if I was doing something wrong. But if there are more people then surely there is a problem in the documentation or in the versioning as they say.

[2022-10-21 17:11] nt-7 commented on #730
Can you try canary-builds? I resolved by it.
[krustlet - canary builds](https://docs.krustlet.dev/intro/install/#from-canary-builds)

[2022-10-21 19:00] Starefossen opened #732 "krustlet.dev site does not work on mobile"
Please consider dropping the animation for smaller screens. It is impossible to navigate and even read the site using Safari on a mobile device. Otherwise, really like the project 💙

[2022-11-01 02:03] lafronzt opened #733 "Krustlet Bootstrapping to Microk8s"
Hello All,

I have tried everything, and I can't figure this issue out. I am currently running a 4-node Microk8s cluster, and I am looking to add a Krustlet-only node to the cluster. However, I keep running into an issue; any pointers or help would be greatly appreciated.

Setup:
- Microk8s in a HA cluster setup with 2 nodes on AMD64 and 2 nodes on ARM64
  - DNS entries point to all 4 nodes, as th

[2022-11-03 17:05] matiaslareo commented on #624
Hi guys is there support for image pulling from ghcr.io ? iam facing the same error "ImagePullBackOff"